<ui-view ng-init="init_controller()">
<div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">

            </ul>
            <span>customers</span>
        </div>
    <div id="filters">
        <div id="paging">
            <span>
              [[ data.total ]] RESULTS
            </span>
            <span>
              <i class="fa fa-chevron-left"></i> [[ data.page ]] OF [[ data.pages ]] <i class="fa fa-chevron-right"></i>
            </span>
        </div>
{#        <div id="args">#}
{#            <span class="active">ONE</span>#}
{#            <span>TWO</span>#}
{#            <span>THREE</span>#}
{#            <span>FOUR</span>#}
{#            <span>FIVE</span>#}
{#            <span>SIX</span>#}
{#            <span>SEVEN</span>#}
{#        </div>#}
        <div id="search">
                <form action="{{ request.path }}" method="get">
                    {% if view_q %}
                    <input type="hidden" name="view" value="{{ view_q }}">
                    {% endif %}
                    <input type="text" name="q" placeholder="{% if search_place_holder %}{{ search_place_holder }}{% else %}Search{% endif %}" value="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
    </div>
    <div class="table">
        <div class="thead tr">
            <span class="td">date</span>
            <span class="td">name</span>
            <span class="td">info</span>
            <span class="td"></span>
        </div>
        <div class="tr" ng-repeat="obj in data.objects" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
            <span class="td">
              [[ obj.date_created | date ]]
            </span>
            <span class="td" ><a ui-sref="customer_details({id: obj.id})">[[obj.address.first_name]] [[obj.address.last_name]]</a></span>
            <span class="td">[[obj.address.email]] | [[obj.address.phone]]</span>
            <span class="td center">[[obj.address.line1]] [[obj.address.line2]], [[obj.address.city.name]], [[obj.address.state.name]], [[obj.address.country.name]]</span>
{#            <div class="action_hover_container" id="action_hover_container_1">#}
{#                <ul>#}
{#                    <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>#}
{#                    <li><a href="" data-toggle="tooltip" title="Delete" ><i class="fa fa-trash-o"></i></a></li>#}
{#                </ul>#}
{#            </div>#}
        </div>
    </div>
    {% if show_form %}
        <div class="form col-md-12">
            <div class="col-md-8">
                <h6>Form Name</h6>
                <form class="" action="" method="post">
                    <div class="wrap full">
                        <div class="form-group">
                            <label for="">Device Name</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap half">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap half">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap third">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap quarter">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea name="name"></textarea>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group check">
                            <input type="checkbox" name="name" value="">
                            <label for="">
                                Check
                                <span>description text goes in here. thanks......</span>
                            </label>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group">
                            <label for="">Select</label>
                            <select class="" name="">
                                <option>--- Select One ---</option>
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                                <option>Four</option>
                            </select>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group actions pull-right">
                            <input type="submit" name="name" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <p>
                    Description Details
                </p>
            </div>
        </div>
    {% endif %}
</ui-view>