{% extends "client/general/details/station.html" %}
{% block inner_body %}
    {% if results.items|length > 0 %}
        <div id="filters">
                {% include "client/general/snippets/pagination.html" %}
                {% include "client/general/snippets/list_view_filters.html" %}
                {% include "client/general/snippets/list_search.html" %}
            </div>
        <div class="table">
		<div class="thead tr">
				<span class="td">code</span>
				<span class="td">installation</span>
				<span class="td">device</span>
                <span class="td">threshold</span>
				<span class="td">warning</span>
		</div>
		{% for obj in results.items %}
		<div class="tr" onMouseOver="listItemHover({{ loop.index }})" onMouseOut="listItemHoverOut({{ loop.index }})">
			<span class="td">
				{{obj.code}}
				<span class="caption">{{obj.date_created.strftime('%b %d, %Y')}}</span>
			</span>
			<span class="td"><a href="{{ url_for('.dashboard', slug=obj.service.code) }}#!/installations/{{ obj.installation.id }}">{{obj.installation.code}}</a></span>
			<span class="td">{{obj.device.code}}</span>
			<span class="td">{{obj.threshold}}</span>
			<span class="td">
                {% if obj.is_critical %} CRITICAL {% endif %}
                {% if obj.is_warning %} WARNING {% endif %}
            </span>
		</div>
		{% endfor %}
	</div>
    {% else %}
        <div class="tr" id="empty_list_box" >
            <h3 style="text-align: center">
                No alerts yet
            </h3>
        </div>
	{% endif %}
{% endblock %}
