{% extends "client/general/details/station.html" %}
{% block inner_body %}
    {% if faults|length > 0 %}
        <div id="filters">
            {% include "client/general/snippets/pagination.html" %}
            {% include "client/general/snippets/list_view_filters.html" %}
            {% include "client/general/snippets/list_search.html" %}
        </div>
        <div class="table">
            <div class="thead tr">
                <span class="td">date</span>
                <span class="td"></span>
                <span class="td">device</span>
                <span class="td">level</span>
            </div>
            {% for fault in faults %}
                <div class="tr" onMouseOver="listItemHover({{ loop.index }})"
                     onMouseOut="listItemHoverOut({{ loop.index }})">
                    <span class="td center">
                        {{ fault.timestamp.strftime('%Y-%m-%d %H:%M%:%S' ) }}
                    </span>
                    <span class="td">{{ fault.body }}</span>
                    <span class="td">{{ fault.device }}</span>
                    <span class="td">{{ fault.level }}</span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="tr" id="empty_list_box">
            <h3 style="text-align: center; margin-top:50px; margin-left:550px">
                <span style="color: lightgrey;"></span><br>
                Everything is ok
            </h3>
        </div>
    {% endif %}
{% endblock %}