{% extends "client/general/settings.html" %}
{% block subnav %}
	<nav id="subnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a href="{{ url_for('.network_details', obj_id=obj.id) }}"> Overview </a></li>
                    <li><a href="{{ url_for('.network_req', obj_id=obj.id) }}"> Requests</a></li>
                    <li><a href="{{ url_for('.network_faults', obj_id=obj.id) }}"> Faults</a></li>
                    <li><a class="active" href="{{ url_for('.network_devices', obj_id=obj.id) }}" > Devices</a></li>
                    <li><a href="{{ url_for('.network_dev_new', obj_id=obj.id) }}"> Add Device</a></li>
                </ul>
            </div>
        </div>
	</nav>
{% endblock %}
{% block body%}
    {% if results.items|length > 0 %}
        <div id="filters">
            <div id="paging">
                <span>
                {{results.total}} RESULTS
                </span>
                <span>
                    {% if results.has_prev %}
                        <a href="{{request.path}}?page={{results.prev_num}}"><i class="fa fa-chevron-left"></i></a>
                    {% else %}
                        <i class="fa fa-chevron-left"></i>
                    {% endif %}
                    {{results.page}} OF {{results.pages}}
                    {% if results.has_next %}
                        <a href="{{request.path}}?page={{results.prev_num}}"><i class="fa fa-chevron-right"></i></a>
                    {% else %}
                        <i class="fa fa-chevron-right"></i>
                    {% endif %}
                </span>
            </div>
{#            <div id="args">#}
{#                    <span class="active">ONE</span>#}
{#                    <span>TWO</span>#}
{#                    <span>THREE</span>#}
{#                    <span>FOUR</span>#}
{#                    <span>FIVE</span>#}
{#                    <span>SIX</span>#}
{#                    <span>SEVEN</span>#}
{#            </div>#}
            <div id="search">
                <form action="{{request.path}}" method="get">
                    <span><i class="fa fa-search"></i></span>
                    <input type="text" name="q" {% if search_q %} value="{{search_q}}" {% endif %} placeholder="Search" >
                </form>
            </div>
        </div>
        <div class="table">
		<div class="thead tr">
            <span class="td">date</span>
            <span class="td">code</span>
            <span class="td">class</span>
		</div>
		{% for obj in results.items %}
		<div class="tr" onMouseOver="listItemHover({{ loop.index }})" onMouseOut="listItemHoverOut({{ loop.index }})">
			<span class="td">
				{{obj.date_created.strftime('%b %d, %Y')}}
			</span>
            {% if obj.is_coordinator  %}
                <span class="td">{{obj.code}}</span>
                <span class="td">Gateway</span>
            {% else %}
                <span class="td"><a href="{{ url_for('.device_details', obj_id=obj.id) }}">{{obj.code}}</a></span>
                <span class="td">Node</span>
            {% endif %}
{#			<div class="action_hover_container" id="action_hover_container_{{ loop.index }}">#}
{#                <ul>#}
{#                    <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>#}
{#                    <li><a href="" data-toggle="tooltip" title="Delete" ><i class="fa fa-trash-o"></i></a></li>#}
{#                </ul>#}
{#            </div>#}
		</div>
		{% endfor %}
	</div>
    {% else %}
        <div class="tr" id="empty_list_box" >
            <h3 style="text-align: center">
                No devices in this network
            </h3>
        </div>
	{% endif %}
{% endblock body%}
