{% extends "client/general/settings.html" %}
{% block subnav %}
	<nav id="subnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a href="{{ url_for('.network_details', obj_id=obj.id) }}"> Overview </a></li>
                    <li><a href="{{ url_for('.network_req', obj_id=obj.id) }}"> Requests</a></li>
                    <li><a class="active" href="{{ url_for('.network_faults', obj_id=obj.id) }}"> Faults</a></li>
                    <li><a href="{{ url_for('.network_devices', obj_id=obj.id) }}" > Devices</a></li>
                    <li><a href="{{ url_for('.network_dev_new', obj_id=obj.id) }}"> Add Device</a></li>
                </ul>
            </div>
        </div>
	</nav>
{% endblock %}
{% block body %}
    {% if faults|length > 0 %}
        <div id="filters">
            <div id="paging">
            <span>
              {{ faults|length }} RESULTS
            </span>
            </div>
        </div>
        <div class="table">
            <div class="thead tr">
                <span class="td">date</span>
                <span class="td"></span>
                <span class="td">device</span>
                <span class="td">level</span>
            </div>
            {% for fault in faults %}
                <div class="tr" onMouseOver="listItemHover({{ loop.index }})" onMouseOut="listItemHoverOut({{ loop.index }})">
                    <span class="td center">
                        {{ fault.timestamp.strftime('%Y-%m-%d %H:%M%:%S' ) }}
                    </span>
                    <span class="td">{{ fault.body }}</span>
                    <span class="td">{{ fault.device }}</span>
                    <span class="td">{{ fault.level }}</span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="tr" id="empty_list_box">
            <h3 style="text-align: center; margin-top:50px; margin-left:550px">
                <span style="color: lightgrey;"></span><br>
                Everything is ok
            </h3>
        </div>
    {% endif %}
{% endblock %}