{% extends "client/general/details/station.html" %}
{% block inner_body %}
    {% if services|length > 0 %}
        <div id="filters">
            <div id="paging">
            <span>
              {{ services|length }} RESULTS
            </span>
            </div>
        </div>
        <div class="table">
            <div class="thead tr">
                <span class="td">date</span>
                <span class="td">name</span>
                <span class="td"></span>
            </div>
            {% for service in services %}
                <div class="tr" onMouseOver="listItemHover({{ loop.index }})" onMouseOut="listItemHoverOut({{ loop.index }})">
                    <span class="td">
                        {{ service.date_created.strftime('%Y-%m-%d %H:%M%:%S' ) }}
                    </span>
                    <span class="td"><a href="{{ url_for('.dashboard', slug=service.code) }}#!/">{{ service.name }}</a></span>
                    <span class="td">{{ service.description }}</span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="tr" id="empty_list_box">
            <h3 style="text-align: center; margin-top:50px; margin-left:550px">
                <span style="color: lightgrey;"></span><br>
                No services running here yet.
            </h3>
        </div>
    {% endif %}
{% endblock %}