{% extends "client/layout.html" %}
{% block subnav %}
    <nav id="subnav" ng-if="current_nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a {% if request.path.startswith(url_for('.stations')) %}class="active"{% endif %}
                           href="{{ url_for('.stations') }}">Stations/Facilities</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {% block breadcrumbs %}
    <div id="breadcrumbs" class="container-fluid">
        <ul id="action_navs">
            <li class="action_nav_item"><a class="active" href="{{ url_for('.stations') }}">Stations</a></li>
            <li class="action_nav_item"><a href="{{ url_for('.add_station') }}"><i class="fa fa-plus"></i> Add
                Station</a></li>
        </ul>
        <span>Stations/Facilities</span>
    </div>
        {% endblock %}
    <div class="clearfix"></div>

    {% block inner_body %}
        {% if results.total > 0 %}
            <div id="filters">
                {% include "client/general/snippets/pagination.html" %}
                {% include "client/general/snippets/list_view_filters.html" %}
                {% include "client/general/snippets/list_search.html" %}
            </div>
            <div class="table">
                <div class="thead tr">
                    <span class="td">date</span>
                    <span class="td">Name</span>
                    <span class="td">Code</span>
                    <span class="td">Manager</span>
                    <span class="td">Location</span>
                </div>
                {% for obj in results.items %}
                    <div class="tr" onMouseOver="listItemHover({{ loop.index }})"
                         onMouseOut="listItemHoverOut({{ loop.index }})">
            <span class="td">
              {{ obj.date_created }}
              <span class="caption"><a href="{{ url_for('.station_details', obj_id=obj.id) }}">View</a></span>
            </span>
                        <span class="td">{{ obj.name }}</span>
                        <span class="td">{{ obj.code|default("",True) }}</span>
                        <span class="td">{{ obj.manager.address.first_name }} {{ obj.manager.address.last_name }}</span>
                        <span class="td">{{ obj.city.name }}, {{ obj.state.name }}, {{ obj.country.name }}</span>
                        <div class="action_hover_container" id="action_hover_container_{{ loop.index }}">
                            <ul>
                                <li><a href="{{ url_for('.update_station', obj_id=obj.id) }}" data-toggle="tooltip"
                                       title="Edit"><i
                                        class="fa fa-edit"></i></a></li>
                                {#                    <li><a ng-click="deleteObj('Station', obj.id)" data-toggle="tooltip" title="Delete" ><i class="fa fa-trash-o"></i></a></li>#}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if results.total == 0 %}
            {% if length(request_args)>0 %}
                <div id="filters">
                    {% include "client/general/snippets/pagination.html" %}
                    {% include "client/general/snippets/list_view_filters.html" %}
                    {% include "client/general/snippets/list_search.html" %}
                </div>
                <div class="table">
                    <div class="thead tr">
                        <span class="td">date</span>
                        <span class="td">Name</span>
                        <span class="td">Manager</span>
                        <span class="td">Location</span>
                    </div>

                </div>
                <div class="no_search_results">
                    No Results found
                </div>
            {% else %}
                <div class="tr" id="empty_list_box">
                    <h3 style="text-align: center; margin-top:50px; margin-left:550px">
                        <a href="{{ url_for('.add_station') }}" style="font-size: 100px; color: lightgrey;">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </a><br>
                        No stations setup yet
                    </h3>
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}
{% block page_js %}
    <script type="text/javascript">
        $('#page-content-wrapper').removeClass('no_sub_lnk');
        $(document).ready(function () {
            changeCities();
        });

        function changeCities() {
            var selected = $('#state option:selected').val();
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/fetch/state_cities/",
                data: selected,
                dataType: 'json',
                beforeSend: function () {
                    $("#city").empty();
                },
                success: function (data) {
                    data.map(function (i) {
                        $("#city").append("<option value=\"" + i.id + "\">" + i.name + "</option>");
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
            return false;
        }

        $('#state').change(function () {
            changeCities();
        })
    </script>
{% endblock page_js %}
