<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://atele.org/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://atele.org/www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Atele.org | {{ page_title }}</title>

		<style type="text/css">
		/* Take care of image borders and formatting */

		img { max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;}
		a img { border: none; }
		table { border-collapse: collapse !important; }
		#outlook a { padding:0; }
		.ReadMsgBody { width: 100%; }
		.ExternalClass {width:100%;}
		.backgroundTable {margin:0 auto; padding:0; width:100%;!important;}
		table td {border-collapse: collapse;}
		.ExternalClass * {line-height: 115%;}


		/* General styling */

		td {
			font-family: Arial, sans-serif;
			color: #5e5e5e;
			font-size: 16px;
			text-align: left;
		}

		body {
			-webkit-font-smoothing:antialiased;
			-webkit-text-size-adjust:none;
			width: 100%;
			height: 100%;
			color: #5e5e5e;
			font-weight: 400;
			font-size: 16px;
		}


		h1 {
			margin: 10px 0;
		}

		a {
			color: #FE6F06;
			text-decoration: none;
		}


		.body-padding {
			padding: 0 75px;
		}


		.force-full-width {
			width: 100% !important;
            min-width: 100% !important;
		}

		.icons {
			text-align: right;
            padding-right: 10px;
		}
        .icons a{
                padding: 5px 7px;
            font-weight: 600;
        }

		.logo {
			text-align: left;
			padding-left: 10px;
		}
		.logo a img{
			width: 150px;
		}

		.computer-image {
{#			padding-left: 30px;#}
		}

		.header-text {
			text-align: left;
			padding-right: 30px;
			padding-left: 30px;
		}

		.header {
			color: #333;
			font-size: 24px;
		}



		</style>

		<style type="text/css" media="screen">
				@media screen {
					@import url(https://atele.org/fonts.googleapis.com/css?family=PT+Sans:400,700);
					/* Thanks Outlook 2013! */
					* {
						font-family: 'PT Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
					}
				}
		</style>

		<style type="text/css" media="only screen and (max-width: 599px)">
			/* Mobile styles */
			@media only screen and (max-width: 599px) {

				table[class*="w320"] {
					width: 320px !important;
				}

				td[class*="icons"] {
					display: block !important;
					text-align: center !important;
					padding: 0 !important;
				}

				td[class*="logo"] {
					display: block !important;
					text-align: center !important;
					padding: 0 !important;
				}

				td[class*="computer-image"] {
					display: block !important;
					width: 230px !important;
					padding: 0 45px !important;
					border-bottom: 1px solid #e3e3e3 !important;
				}


				td[class*="header-text"] {
					display: block !important;
					text-align: center !important;
					padding: 0 25px!important;
					padding-bottom: 25px !important;
				}

				*[class*="mobile-hide"] {
					display: none !important;
					width: 0 !important;
					height: 0 !important;
					line-height: 0 !important;
					font-size: 0 !important;
				}


			}
		</style>
	</head>
	<body  offset="0" class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
	<table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
		<tr>
			<td align="center" valign="top" style="background-color:#ffffff" width="100%">

			<center>
				<table cellspacing="0" cellpadding="0" width="600" class="w320">
					<tr>
						<td align="center" valign="top">

							<table class="force-full-width" cellspacing="0" cellpadding="0" bgcolor="#ebebeb">
								<tr>
									<td class="logo">
										<a href="#"><img src="https://atele.org/static/images/atele_logo.png" alt="Logo"></a>
									</td>
									<td class="icons">
										<a href="#">Services</a>
										<a href="#">Hardware</a>
										<a href="#">Contact</a>
									</td>
								</tr>
							</table>
                            {% block header_ext %}
							<table cellspacing="0" cellpadding="0" class="force-full-width" bgcolor="#fff">
								<tr>
									<td class="computer-image">
										<br>
										<br class="mobile-hide" />
										<img style="display:block;" width="224" height="213" src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png" alt="hello">
									</td>
									<td style="color: #232925;" class="header-text">
										<br>
										<br>
										<span style="font-size: 24px;">Thank you for signing up!</span><br><br>
										Your new Awesome account is almost ready to use. Please verify your email by clicking the button below.
										<br>
										<br>
											<div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
														<a href="https://atele.org/"
												style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">Activate Account</a>
													<!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
											</div>
									</td>
								</tr>
							</table>
                            {% endblock header_ext %}

                            {% block body %}
							<table class="force-full-width" cellspacing="0" cellpadding="30" bgcolor="#ebebeb">
								<tr>
									<td>
										<table cellspacing="0" cellpadding="0" class="force-full-width">
											<tr>
												<td>
													<span class="header">Your account information:</span><br>
													Account name: <a href="#">bob1031</a> <br>
													Email: <a href="#">bob@bob.com</a> <br><br>
													<span class="header">Questions?</span><br>
													Feel free to <a href="#">contact us</a> anytime for questions about your account.<br><br>
													Sincerely,<br>
													Your Awesome Team
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
                            {% endblock body %}

							<table class="force-full-width" cellspacing="0" cellpadding="20" bgcolor="#FE6F06">
								<tr>
									<td style="background-color:#FE6F06; color:#ffffff; font-size: 14px; text-align: center;">
										© 2017 Atele. All Rights Reserved
									</td>
								</tr>
							</table>


						</td>
					</tr>
				</table>

			</center>
			</td>
		</tr>
	</table>
	</body>
</html>
