{% extends "email/layout.html" %}
{% block header_ext %}
    <table cellspacing="0" cellpadding="0" class="force-full-width" bgcolor="#fff">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213"
                     src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png" alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">We really miss you!</span><br><br>
                Things haven't been the same without you. Please give us another try.
                <br>
                <br>
                <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                    <a href="https://atele.org/"
                       style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">Come
                        back!</a>
                    <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                </div>
                <br>
            </td>
        </tr>
    </table>
{% endblock header_ext %}
{% block body %}
    <table class="force-full-width" cellspacing="0" cellpadding="30" bgcolor="#ebebeb">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            <span class="header">20% discount on your next purchase!</span><br>
                            Discount Code: <span style="color:#FE6F06;"> 45A9E77DGW8455</span>
                        </td>
                        <td>
                            <img width="84" height="82" src="https://www.filepicker.io/api/file/zef0p13mRmKdcOhbUVZ4"
                                 alt="dollar symbol">
                        </td>
                    </tr>
                </table>

                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            <br><br>
                            Our customers are very important to us. We're constantly trying to improve our quality and
                            services to better serve our customers.<br><br>
                            We are continuing to grow and we want you to be a part of it! To welcome you back please
                            accept this 20% discount on your next purchase.
                            <br><br>
                            Sincerely,<br>
                            Awesome Inc
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock body %}