{% extends "customer/devices/layout.html" %}
{% block breadcrumbs %}
    <div id="breadcrumbs" class="container-fluid">
        <ul id="action_navs">
        </ul>
        <span>Overview</span>
    </div>
        {% endblock %}