{% extends "customer/layout.html" %}
{% block subnav %}
    <nav id="subnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
{#                    <li><a {% if not handle %}class="active"{% endif %}#}
{#                           href="{{ url_for('.dashboard',slug="devices") }}">Overview</a>#}
{#                    </li>#}
                    <li><a {% if handle == "list" %}class="active"{% endif %} href="{{ url_for('.devices_list') }}">Devices</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock subnav %}
{% block body %}
{% block breadcrumbs %}

        {% endblock %}
    <div class="clearfix"></div>
{% block inner_body %}
{% endblock inner_body %}
{% endblock body %}