{% extends "customer/devices/layout.html" %}
{% block breadcrumbs %}
    <div id="breadcrumbs" class="container-fluid">
        <ul id="action_navs">
        </ul>
        <span>Devices</span>
    </div>
        {% endblock %}
{% block inner_body %}
    {% if results.total > 0 %}
        <div id="filters">
                {% include "customer/snippets/pagination.html" %}
                {% include "customer/snippets/list_view_filters.html" %}
                {% include "customer/snippets/list_search.html" %}
            </div>
        <div class="table">
		<div class="thead tr">
				<span class="td">date</span>
				<span class="td">code</span>
				<span class="td">type</span>
                <span class="td">station</span>
                <span class="td">network</span>
                <span class="td">installation</span>
				<span class="td">customer</span>
				<span class="td">active</span>
                <span class="td"></span>
		</div>
		{% for obj in results.items %}
		<div class="tr" onMouseOver="listItemHover({{ loop.index }})" onMouseOut="listItemHoverOut({{ loop.index }})">
			<span class="td">{{obj.date_created.strftime('%b %d, %Y')}}</span>
			<span class="td"><a href="{{ url_for('.individual_report',handle="devices",q=obj.code) }}">{{obj.code}}</a></span>
            <span class="td">{% if obj.is_coordinator %}Coordinator<br>{% endif %}{% if obj.is_node %}<small>Node</small>{% endif %}</span>
			<span class="td">{% if obj.station %}{{ obj.station.name }}{% endif %}</span>
			<span class="td">{% if obj.network %}{{ obj.network.code }}{% endif %}</span>
			<span class="td">{% if obj.installation %}{{ obj.installation.title }}{% endif %}</span>
			<span class="td">{% if obj.is_active %}Yes{% else %}No{% endif %}</span>
			<span class="td"></span>
		</div>
		{% endfor %}
	</div>
    {% else %}
        <div class="tr" id="empty_list_box" >
            <h3 style="text-align: center">
                No devices found
            </h3>
        </div>
	{% endif %}
{% endblock %}
