{% extends "main/layout.html" %}
{% block body %}
		<!-- banner start -->
		<!-- ================ -->
		<div id="banner" class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">


				</div>
				<!-- slideshow end -->

		</div>
		<!-- banner end -->

		<div id="page-start"></div>

		<!-- section -->
		<!-- ================ -->
		<section class="pv-30 mt-30 light-gray-bg">
				<div class="container">
						<div class="row">
								<div class="col-md-8 col-md-offset-2">
										<h2 class="text-center">Hardware Models</h2>
										<div class="separator"></div>
										<!-- <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p> -->
								</div>
						</div>
						<div class="row">
								<div class="col-md-4 ">
										<div class=""
												 data-animation-effect="fadeInDownSmall" data-effect-delay="200">
												<div class="body">
														<h2 class="title">Gateway Device</h2>
														<p>Gateway devices serve as data termination and originating points. They relay commands from the application servers to the measurement/metering devices and also transmit data measured by these devices to the application server.</p>
												</div>
										</div>
								</div>
								<div class="col-md-4 ">
										<div>
												<img src="/static/images/CRD05.png">
												<div class="body">
														<h4 class="title">CRDT05</h4>
														<h5>Mesh Coordinator</h5>
														<p>View detailed working conditions &nbsp;<a href="https://blog.atele.com/CRDT05" class="btn btn-xs btn-hvr hvr-shutter-out-horizontal">HERE</a></p>
												</div>
										</div>
								</div>
						</div>
						<div style="border: 1px solid whitesmoke; margin-bottom: 30px"></div>
						<div class="row">
								<div class="col-md-4 ">
										<div class=""
												 data-animation-effect="fadeInDownSmall" data-effect-delay="200">
												<div class="body">
														<h2 class="title">Power Meters</h2>
														<p>Power meters are instrument meters for measuring power, current, voltage, phase difference along the electricity grid - from generating stations to residential and commerical housings.</p>
												</div>
										</div>
								</div>
								<div class="col-md-4 ">
										<div>
												<img src="/static/images/RSMI02.png">
												<div class="body">
														<h4 class="title">RSMI02</h4>
														<h5>Residential Single Phase Smart Meter</h5>
														<p>View detailed working conditions &nbsp;<a href="https://blog.atele.com/RSMI02" class="btn btn-xs btn-hvr hvr-shutter-out-horizontal">HERE</a></p>
												</div>
										</div>
								</div>
								<div class="col-md-4 ">
										<div>
												<img src="/static/images/DST11.png">
												<div class="body">
														<h4 class="title">DST11</h4>
														<h5>Distribution Line Meter</h5>
														<p>View detailed working conditions &nbsp;<a href="https://blog.atele.com/DST11" class="btn btn-xs btn-hvr hvr-shutter-out-horizontal">HERE</a></p>
											 </div>
										</div>
								</div>
						</div>
				</div>
		</section>
		<!-- section end -->

{% endblock body %}
