{% extends "main/layout.html" %}
{% block body %}
    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">


        </div>
        <!-- slideshow end -->

    </div>
    <!-- banner end -->

    <div id="page-start"></div>

    <!-- section -->
    <!-- ================ -->
    <section class="pv-30 mt-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Services</h2>
                    <div class="separator"></div>
                    <!-- <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon without-bg"><i class="fa fa-money"></i></span>
                        <div class="body">
                            <h4 class="title">Flexible Pricing</h4>
                            <p>Simple, transparent pricing: no long-term contracts, activation fees or hidden costs.
                                Utilities can dynamically monitor the usage pattern and set critical peak pricing
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon without-bg"><i class="material-icons" style="font-size:36px">router</i></span>
                        <div class="body">
                            <h4 class="title">Automated Data Collection</h4>
                            <p>Automating collection of data in a heterogenous, multi-device/gateway environment.
                                Remotely monitors and acquires data metered readings from power and water distribution
                                lines all in a single console</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                        <span class="icon without-bg"><i class="fa fa-book"></i></span>
                        <div class="body">
                            <h4 class="title">Detailed Reporting</h4>
                            <p>On-demand reports and real-time alerts identify faults and accurately pin-point incident
                                areas. Notifies immediately in cases of abnormality such as current overloading, phase imbalance among others</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="250">
                        <span class="icon without-bg"><i class="fa fa-handshake-o"></i></span>
                        <div class="body">
                            <h4 class="title">Easy to Use</h4>
                            <p>No specialized training required, installs and becomes operational in as little as 30
                                minutes</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="material-icons" style="font-size:36px">devices_other</i></span>
                        <div class="body">
                            <h4 class="title">Secure & Friendly Technology</h4>
                            <p>Developer-friendly environment including open APIs and SDKs, with a secure lifecycle
                                management of IoT cloud services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="350">
                        <span class="icon without-bg"><i class="fa fa-pencil-square-o"></i></span>
                        <div class="body">
                            <h4 class="title">Billing & Planning</h4>
                            <p>Enables the utility firms to improve the accuracy of billing, forecast the energy usage and
                                perform demand planning for efficient operations</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section default-bg clearfix padding-ver-clear">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 padding-bottom-clear pv-30">
                    <a style="text-decoration: none !important; background: none" href="{{ url_for('.smart_metering') }}">
                        <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                             data-effect-delay="25">
                            <img src="/static/images/hemoglobin.png">
                            <div class="body" style="margin-top: -65px;">
                                <h4 class="title">Smart Metering</h4>
                                <p>Engineered for industrial, commercial & residential metering applications to provide
                                    enhanced productivity, improved efficiency and reduced operational costs.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 padding-bottom-clear pv-30" style="background-color: rgba(245, 245, 245, 0.61);">
                    <a style="text-decoration: none !important; background: none" href="{{ url_for('.mobile_asset') }}">
                        <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                             data-effect-delay="50">
                            <span class="icon without-bg" style="color: black !important"><i
                                    class="fa fa-truck"></i></span>
                            <div class="body" style="color: black !important">
                                <h4 class="title" style="color: black !important">Mobile Asset Tracking</h4>
                                <p>Monitor the health of mobile assets in real time. View critical asset parameters on
                                    customizable dashboards</p><br><br>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 padding-bottom-clear pv-30">
                    <a style="text-decoration: none !important; background: none"
                       href="{{ url_for('.remote_monitoring') }}">
                        <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                             data-effect-delay="75">
                            <span class="icon without-bg"><i class="fa fa-video-camera"></i></span>
                            <div class="body">
                                <h4 class="title">Remote Monitoring & Surveillance</h4>
                                <p>Remotely monitor mission-critical plants and equipment, assets securely.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->


{% endblock body %}
