{% extends "main/layout.html" %}
{% block body %}
    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">


        </div>
        <!-- slideshow end -->

    </div>
    <!-- banner end -->

    <div id="page-start"></div>

    <!-- section -->
    <!-- ================ -->
    <section class="pv-30 mt-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Smart Metering Services</h2>
                    <div class="separator"></div>
                    <p class="large text-center">An efficient, secure, high quality and safe metering solution.</p>
                </div>
            </div>

            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">
                    <div class="separator-2"></div>
                    <div class="col-md-4">
                        <h3>SMART GRID MONITORING</h3>
                    </div>
                    <div class="col-md-8">
                        <img src="/static/images/smartgrid.jpg" style="zoom: 0.6"><br>
                        <p>The system detects grid failures or outages, short circuits, transmission line temperature,
                            distributed transformer parameters and substation operations. It measures the energy
                            parameters and reduces downtime from faults such as overloading, phase imbalance among others
                            thereby providing a reduction in labour cost needed to manage operations.</p>
                        <p>Atele's Smart Grid Monitoring system uses a combination of Internet of things connected
                            devices to acquire real-time data along the power grid.
                            From the generating stations through the transmission lines, substations to the residential
                            or commercial user.</p>
                        <p>For efficient measurement that is sustainable over time, the devices used along vary in power
                            ratings based on the working parameters of the installation being measured.</p>
                    </div>
                </div>
                <div class="main col-md-12">
                    <div class="col-md-4">
                        <img src="/static/images/smart-grid-powergrid.png" style="zoom: 0.6"><br>
                    </div>
                    <div class="col-md-8">
                        <p>Utilities can now have a track of the power transmitted, distributed & consumed.
                            Our solution provides consumers with a vivid picture on every volt being used.
                            Utilities and independent power can cut cost associated with maintenance and manpower by our
                            real-time fault monitoring capability.
                            You can improve the day-to-day grid effectiveness and capacity planning using our detailed reporting & intelligence.
                        </p>
                        <p>The system's extensive features include the following:</p>
                        <ul>
                            <li>Remote Monitoring</li>
                            <li>Energy Metering</li>
                            <li>Fault Management</li>
                            <li>Real-Time and Periodic Reporting</li>
                        </ul>
                    </div>
                </div>
                <!-- main end -->
            </div>
        </div>
    </section>
    <!-- section end -->


{% endblock body %}
