{% extends "customer/reports/layout.html" %}
{% block inner_body %}
    <div class="form col-md-12">
        <div class="col-md-8">
            <form method="post" action="{{ request.path }}">
                <div class="wrap half">
                    <div class="form-group">
                        <label for="line1">Start Date</label>
                        {{ form.start(class="form-control") }}
                        {% if form.errors.start %}
                            <span style="color: red">{{ form.errors.start[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="line2">End Date</label>
                        {{ form.end(class="form-control") }}
                        {% if form.errors.end %}
                            <span style="color: red">{{ form.errors.end[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap full">
                    <div class="caption">
                        <label for="data_type">Please indicate data format the report should be generated in</label>
                        </div>
                        <div id="data-type-wrap" class="{% if form.data_types.errors %} has-error {% endif %}">
                            {% for subfield in form.data_types %}
                                <label class="checker"
                                       style="border: none; padding:0 10px 0 0;">{{ subfield }} {{ subfield.label }}</label>
                            {% endfor %}
                        </div>
                        {% if form.data_type.errors %}
                            {% for e in form.data_type.errors %}<span class="help-block">{{ e }}</span>{% endfor %}
                        {% endif %}
                    <div class="form-group {% if form.data_type.errors %} has-error {% endif %} hidden">
                        <label for="{{ form.data_type.name }}">Data Type</label>
                        {{ form.data_type(class="form-control") }}
                        {% if form.data_type.errors %}
                            {% for e in form.data_type.errors %}<span class="help-block">{{ e }}</span>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>
                Generate {{ handle|capitalize }} Reports
            </h3>
            <p>Generates a Client based {{ handle|capitalize }} Report for a specific period of time</p>
        </div>
    </div>
{% endblock %}
