{% extends "customer/reports/layout.html" %}
{% block inner_body %}
    <style>
        #handle_search {
            width: 80%;
            padding: 10px;
            display: inline-block;
            font-size: 14px;
        }

        #handle_search_btn {
            width: 20%;
            display: inline-block;
            border-radius: 0 !important;
            margin-left: -4px;
            padding: 11px;
            font-size: 16px;
            margin-top: -2px;
        }

        #handle_search_btn:focus {
            outline: none;
        }
    </style>
    <style>
        .row {
            margin: 10px 0 20px;
        }

    </style>
    <div class="form col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <input id="handle_search" type="" placeholder="Search for {{ handle[:-1]|capitalize }} by code"
                   {% if search_q %}value="{{ search_q }}"{% endif %}>
            <button id="handle_search_btn" class="btn btn-warning atele" type="submit">Search</button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 hidden" id="ind_report_box">
            <div id="loading_report">
                <div class="spiner" style="background:url('/static/images/spin.gif');"></div>
                <div class="spiner_note">Loading Report...</div>
            </div>
            <div id="report_frame">

            </div>
            <div class="col-md-9" id="chart_inj"></div>
        </div>
    </div>
{% endblock %}
{% block page_js %}
    <script src="/static/js/utils.js"></script>
    <script>
        $('#handle_search_btn').click(function () {
            var q = handle_search.value;
            $('#ind_report_box').removeClass("hidden");
            var data = {
                "q": q,
                "handle": "{{ handle }}"
            };
            $.ajax({
                type: "POST",
                url: "/reports/individual/{{ handle }}/report/",
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function (data) {
                    $('#loading_report').addClass("hidden");
                    if (data.status == "success") {
                        $("#ind_report_box").addClass("no-frame")
                        $("#report_frame").load("/reports/individual/{{ handle }}/" + data.payload.obj_id + "/report/");
                        if(data.payload.handle=="stations" || data.payload.handle=="devices") {

                            var mapField = document.createElement("div");
                            mapField.setAttribute("class", "chart-stage chart-map-large rep_info_box");
                            mapField.setAttribute("id", "meshMap");
                            $('#chart_inj').append(mapField);
                            var mapDevices = data.payload.devices_json;

                            var locale = [data.payload.latitude, data.payload.longitude];

                            var map = L.map('meshMap', {
                                center: locale,
                                minZoom: 2,
                                zoom: 12
                            });
                            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                                subdomains: ['a', 'b', 'c']
                            }).addTo(map);

                            var myIcon = L.icon({
                                iconUrl: '/static/images/blue-pin.png',
                                iconRetinaUrl: '/static/images/blue-pin-md.png',
                                iconSize: [29, 24],
                                iconAnchor: [9, 21],
                                popupAnchor: [0, -14]
                            });

                            L.marker(locale, {icon: myIcon}).bindPopup(data.payload.name).addTo(map);
                        }
                        if (data.payload.handle == "devices") {
                            $.each(data.payload.metrics, function (pos, metric) {
                                var elem_name = metric.name + "Chart";
                                var hiddenField = document.createElement("div");
                                hiddenField.setAttribute("class", "chart-stage chart-map-large rep_info_box");
                                hiddenField.setAttribute("id", "#" + elem_name);
                                $('#chart_inj').append(hiddenField);
                                metric.mapChart, metric.mapOption = buildMultipleChart(metric.name, metric.dimension, mapDevices);

                            });

                            for (var i = 0; i < mapDevices.length; ++i) {
                                var device = mapDevices[i];
                                if (device.is_coordinator) {
                                    L.marker([device.point.latitude, device.point.longitude], {icon: myIcon})
                                        .bindPopup(device.code + ' (Coordinator)')
                                        .addTo(map);
                                } else {
                                    var dev_link = "/" + device.installation_id;
                                    L.marker([device.point.latitude, device.point.longitude], {icon: myIcon})
                                        .bindPopup('<a href="' + dev_link + '" target="_self">#' + device.code + '</a>')
                                        .addTo(map);
                                }
                            }
                        }

                    } else {
                        $("#ind_report_box").removeClass("no-frame")
                        $("#report_frame").load("/reports/no/report/");
                    }

                }
            });
        });
    </script>
{% endblock page_js %}