{% extends "customer/layout.html" %}
{% block subnav %}
    <nav id="subnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a {% if not handle %}class="active"{% endif %} href="{{ url_for('.reports') }}">Overview</a>
                    </li>
                    <li><a {% if handle=="devices" %}class="active"{% endif %}
                           href="{{ url_for('.report',handle='devices') }}">Device Reports</a></li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock subnav %}

{% block body %}
    {% block breadcrumbs %}
    <div id="breadcrumbs" class="container-fluid">
        {% if handle %}
        <ul id="action_navs">
            <li class="action_nav_item"><a {% if is_report_list %}class="active"{% endif %}
                                           href="{{ url_for('.report',handle=handle) }}">Records</a></li>
            <li class="action_nav_item"><a {% if is_report_gen %}class="active"{% endif %}
                                           href="{{ url_for('.generate_report',handle=handle) }}">Generate Report</a>
            </li>
            {% if handle and handle not in ["billings"] %}
                <li class="action_nav_item"><a
                        {% if is_individual_report %}class="active"{% endif %}
                        href="{{ url_for('.individual_report',handle=handle) }}">{{ handle[:-1]|capitalize }} Report</a>
                </li>{% endif %}

        </ul>
    {% endif %}
        <span>{{ page_title }}</span>
    </div>
        {% endblock %}
    <div class="clearfix"></div>
    {% block inner_body %}
    {% endblock inner_body %}
{% endblock body %}
{% block page_js %}
    <script>
        $('input[type=radio][name=data_types]').attr('checked', false);
        $('input[type=radio][name=data_types]').change(function () {
            var value = this.value;
            $("#data_type").val(value);
        });
    </script>
{% endblock page_js %}
