<!DOCTYPE html>
<html>
<head>
    <title>Atele | {{ page_title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/small_new_fav.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/redactor.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/keen-dashboards.css"/>
    <link rel="stylesheet" type="text/css" href="/static/loading-bar/src/loading-bar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/eon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/new_admin/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/highcharts/css/highcharts.css">

    {#    <link rel="stylesheet" href="/static/css/leaflet.css">#}
    {#    <link rel="stylesheet" href="/static/css/leaflet.css"#}
    {#          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="#}
    {#          crossorigin=""/>#}

    {% assets "new_admin-global-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <script src="/static/js/echarts-english.js"></script>
    <link rel="stylesheet" href="/static/plugins/leaflet/leaflet.css"/>
    <script src="/static/plugins/leaflet/leaflet.js"></script>
    <style>
        .h_t_space {
            height: 30px;
            display: block;
            width: 100%;
        }
    </style>
</head>
<body class="application" {% if not no_angular %}ng-app="atele" ng-controller="BaseController"
      ng-init="init({{ service }}, {{ client }}, {{ navigations }})"{% endif %}>
<div id="pagemask"></div>
<!-- /header -->

<nav class="navbar navbar-fixed-top" id="header" style="background: url(/static/images/pattern-5.png);">
    <div class="container-fluid" id="popupContainer">
        <div class="navbar-header">
            <div class="brand">
                {% if default_resolved %}
                    <a href="javascript:void(0);" id="logo">
                        <span class="hidden-xs-down m-r-3">
                            <img id="showServices" class="lg"
                                 src="{{ url_for('static', filename='images/rsz_atele_logo.png') }}"/>
                        </span>
                    </a>
                    <ul class="nav navbar-nav navbar-right pull-right">
                        {#                        <li class="dropdown">#}
                        {#                            <a class="dropbtn" data-toggle="tootip" title="Stations"#}
                        {#                               style="{% if request.path[:10]=="/clients/" %}color: #FD6F06;{% endif %}"#}
                        {#                               href="{{ url_for('.clients') }}">#}
                        {#                                <i class="fa fa-building"></i></a>#}
                        {#                        </li>#}
                        {#                        <li class="dropdown">#}
                        {#                            <a class="dropbtn" data-toggle="tootip" title="Accounts"#}
                        {#                               style="{% if request.path[:10]=="/stations/" %}color: #FD6F06;{% endif %}"#}
                        {#                               href="{{ url_for('.stations') }}">#}
                        {#                                <i class="fa fa-users"></i></a>#}
                        {#                        </li>#}
                        {#                        <li class="dropdown">#}
                        {#                            <a class="dropbtn" data-toggle="tootip" title="Reports"#}
                        {#                               style="{% if request.path[:9]=="/reports/" %}color: #FD6F06;{% endif %}"#}
                        {#                               href="{{ url_for('.reports') }}">#}
                        {#                                <i class="fa fa-bar-chart-o"></i></a>#}
                        {#                        </li>#}
                        {#                        <li class="dropdown">#}
                        {#                            <a class="dropbtn" data-toggle="tootip" title="Billing Information"#}
                        {#                               style="{% if request.path[:10]=="/billings/" %}color: #FD6F06;{% endif %}"#}
                        {#                               href="{{ url_for('.billing_info') }}">#}
                        {#                                <i class="fa fa-money"></i></a>#}
                        {#                        </li>#}
                                                <li class="dropdown">
                                                    <a class="dropbtn" data-toggle="tootip" title="Settings"
                                                       style="{% if request.path[:10]=="/settings/" %}color: #FD6F06;{% endif %}"
                                                       href="{{ url_for('.settings') }}">
                                                        <i class="fa fa-gears"></i></a>
                                                </li>
                        <li class="dropdown">
                            <a id="headway" class="dropbtn" title="Notifications" href="#">
                                <i class="fa fa-bell-o"></i><sup class="badge" ng-bind="notifications.length"></sup>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropbtn" data-toggle="tootip" title="Messages"
                               style="{% if request.path[:10]=="/messages/" %}color: #FD6F06;{% endif %}"
                               href="{{ url_for('.messages') }}">
                                <i class="fa fa-envelope"></i></a>
                        </li>

                        <li class="dropdown">
                            <a class="dropbtn" data-toggle="tootip" title="My Account" href="javascript:void(0);">
                                <i class="fa fa-user"></i>
                            </a>

                            <div class="dropdown-content rvs">
                                <span class="dropdown-arrow"></span>
                                <a><b>{{ current_user.first_name }}</b></a>
                                <a id="logout-btn" href="{{ url_for('.logout') }}">Log Out</a>
                            </div>
                        </li>
                    </ul>
                    {% block nav %}
                        <ul class="nav navbar-nav navbar-left">
                            {% if no_angular %}
                                <li style="font-size: 10px;">
                                    <a
                                            href="{{ url_for('.index') }}">Overview</a>
                                </li>
                                {#                                <li style="font-size: 10px;">#}
                                {#                                    <a#}
                                {#                                            href="#}
                                {#                                                    {{ url_for('.dashboard', slug="stations") }}">Stations</a>#}
                                {#                                </li>#}
                                {#                                <li style="font-size: 10px;">#}
                                {#                                    <a#}
                                {#                                            href="#}
                                {#                                                    {{ url_for('.dashboard', slug="networks") }}">Networks</a>#}
                                {#                                </li>#}
                                <li style="font-size: 10px;">
                                    <a
                                            href="{{ url_for('.dashboard', slug="devices") }}">Devices</a>
                                </li>
                                <li style="font-size: 10px;">
                                    <a
                                            href="{{ url_for('.dashboard', slug="billings") }}">Billings</a>
                                </li>
                                <li style="font-size: 10px;">
                                    <a
                                            href="{{ url_for('.dashboard', slug="reports") }}">Reports</a>
                                </li>
                                <li style="font-size: 10px;">
                                    <a
                                            href="{{ url_for('.settings') }}">Settings</a>
                                </li>

                            {% else %}
                                <li ng-repeat="link in navigations" style="font-size: 10px;" ng-cloak>
                                    <a href="#!/[[ link.code ]]" ng-bind="link.name"></a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endblock %}
                {% else %}
                    <a href="{{ url_for('.index') }}" id="logo">
                        <span class="hidden-xs-down m-r-3">
                            <img class="lg" src="{{ url_for('static', filename='images/rsz_atele_logo.png') }}"/>
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div id="serviceOptions" class="sidenav">
    <a href="#">Clients</a>
    {% if current_client %}
        <a href="">{{ current_client.name }}</a>
    {% endif %}
    {% for i in customer_nav_clients %}
        {% if i!=current_client %}
            <a href="">{{ i.name }}</a>
        {% endif %}
    {% endfor %}
</div>

{% block subnav %}
    <nav id="subnav" ng-if="current_nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li ng-repeat="sub in current_nav.sub_navs">
                        <a ng-bind="sub.name" rel="[[ sub.code ]]" href="[[ sub.url ]]"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock subnav %}
<div id="page-content-wrapper" {% if has_sub_lnk == False %}class="no_sub_lnk donno"{% endif %}>
    <div class="content-wrapper">
        {% for message in get_flashed_messages() %}
            <div id="flash">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        {% if get_flashed_messages() %}
            <div id="flash_clear"></div>
        {% endif %}
        {% block body %}
        {% endblock %}
    </div>
</div>
<div class="splash-screen"></div>
<div class="splash-screen-dialog">
    <div class="splash-wrap">
        <div class="splash-screen-content">
            <h3 class="title">Atele Warning</h3>

            <p>You are about to delete a record, please note that action is not reversible</p>
        </div>
        <div class="splash-screen-actions">
            <a href="#" id="cancel-button" class="btn btn-default atele">
                Cancel <i class="m-icon-swapright m-icon-white"></i>
            </a>
            <a id="accept-button" class="btn btn-warning atele">
                Confirm <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>

<script src="/static/plugins/modernizr.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/plugins/rs-plugin-5/js/jquery.themepunch.tools.min838f.js"></script>
<script src="/static/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min838f.js"></script>
<script src="/static/plugins/isotope/isotope.pkgd.min.js"></script>
<script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/static/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/static/plugins/jquery.countTo.js"></script>
<script src="/static/plugins/jquery.parallax-1.1.3.js"></script>
<script src="/static/plugins/jquery.validate.js"></script>
<script src="/static/plugins/vide/jquery.vide.js"></script>
<script src="/static/plugins/owl-carousel/owl.carousel.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/static/plugins/jquery.browser.js"></script>
<script src="/static/plugins/SmoothScroll.js"></script>
<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.video.min.js"></script>
<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/static/plugins/jquery.countdown/jquery.plugin.min.js"></script>
<script src="/static/plugins/jquery.countdown/jquery.countdown.min.js"></script>
<script src="/static/js/main/coming.soon.config.js"></script>
<script src="/static/plugins/chosen_v1.7.0/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery-knob/dist/jquery.knob.min.js"></script>
<script type="text/javascript" src="/static/lib/keen-js/dist/keen.min.js"></script>
<script src="/static/js/main/template.js"></script>
<script src="/static/js/main/custom.js"></script>
<script src="/static/js/redactor.js"></script>
<script src="/static/js/eon.js"></script>
<script src="/static/js/eon-chart.js"></script>
<script src="/static/js/pubnub.min.js"></script>
<script src="/static/js/jquery.payment.min.js"></script>
<script src="/static/js/chart.js"></script>
{#<script src="/static/node_modules/highcharts/highcharts.js"></script>#}
{#<script src="/static/node_modules/highcharts/highcharts-3d.js"></script>#}
{#<script src="/static/node_modules/highcharts/highmaps.js"></script>#}
<script src="/static/js/leaflet.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>#}
{#<script src="/static/loading-bar/src/loading-bar.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-messages.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-sanitize.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>#}
<script src="/static/js/angular/angular.min.js"></script>
<script src="/static/loading-bar/src/loading-bar.js"></script>
<script src="/static/js/angular/angular-animate.min.js"></script>
<script src="/static/js/angular/angular-aria.min.js"></script>
<script src="/static/js/angular/angular-messages.min.js"></script>
<script src="/static/js/angular/angular-material.min.js"></script>
<script src="/static/js/angular/angular-route.min.js"></script>
<script src="/static/js/angular/angular-resource.min.js"></script>
<script src="/static/js/angular/angular-sanitize.min.js"></script>
<script src="/static/js/angular/angular-pubnub.min.js"></script>
<script src="/static/node_modules/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="/static/js/angular/angular-local-storage.js"></script>
<script src="/static/js/angular/angular-cookies.min.js"></script>
<script src="/static/js/angular/ui-router.js"></script>
<script src="/static/js/angular/model.js"></script>
{#<script src="/static/js/angular/components.js"></script>#}
<script src="/static/js/angular/routes.js"></script>
{#<script src="/static/js/angular/new_route.js"></script>#}
<script src="/static/js/angular/services.js"></script>
<script src="/static/js/angular/controllers/basic.js"></script>
<script src="/static/js/angular/controllers/alert.js"></script>
<script src="/static/js/angular/controllers/equipment.js"></script>
<script src="/static/js/angular/controllers/customer.js"></script>
<script src="/static/js/new_admin/jquery.cookie.js"></script>
<script src="/static/js/new_admin/atele.js"></script>
<script src="/static/js/angular/app.js"></script>
<script id="dialogModal" type="text/ng-template">
    <md-dialog style="position: relative; top:-10%">
        <form ng-cloak>
            <md-toolbar id="neg-px">
                <div class="md-toolbar-tools">
                    <h3 ng-bind="title"></h3>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="popup.close()">
                        <md-icon md-svg-src="/images/close.png" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <h2 ng-bind="body"></h2>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="popup.close()">
                    Close
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
<script id="requestModal" type="text/ng-template">
    <md-dialog style="position: relative; top:-10%">
        <form ng-cloak>
            <md-toolbar id="neg-px">
                <div class="md-toolbar-tools">
                    <h3 ng-bind="title"></h3>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="popup.close()">
                        <md-icon md-svg-src="/images/close.png" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <h2 ng-bind="body"></h2>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="popup.close()">
                    Close
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
{#<script id="requestModal" type="text/ng-template">#}
{#    <md-dialog style="position: relative; top:-10%">#}
{#        <form ng-cloak>#}
{#            <md-toolbar id="neg-px">#}
{#                <div class="md-toolbar-tools">#}
{#                    <h3 ng-bind="title"></h3>#}
{#                    <span flex></span>#}
{#                    <md-button class="md-icon-button" ng-click="popup.close()">#}
{#                        <md-icon md-svg-src="/images/close.png" aria-label="Close dialog"></md-icon>#}
{#                    </md-button>#}
{#                </div>#}
{#            </md-toolbar>#}
{#            <md-dialog-content>#}
{#                <div class="md-dialog-content">#}
{#                    <div class="wrap">#}
{#                        <div class="form-group">#}
{#                            <label for="">Device Type</label>#}
{#                            <select class="" name="">#}
{#                                <option>--- Select One ---</option>#}
{#                                <option>One</option>#}
{#                                <option>Two</option>#}
{#                                <option>Three</option>#}
{#                                <option>Four</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="wrap">#}
{#                        <div class="form-group actions pull-right">#}
{#                            <input type="submit" name="name" value="Submit">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </md-dialog-content>#}
{##}
{#            <md-dialog-actions layout="row">#}
{#                <span flex></span>#}
{#                <md-button ng-click="popup.close()">#}
{#                    Close#}
{#                </md-button>#}
{#            </md-dialog-actions>#}
{#        </form>#}
{#    </md-dialog>#}
{#</script>#}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".fa-trash-o").click(function () {
            GlobalPromptSplashScreen.init();
        });

        $(".multi-select").chosen();
        $(".chosen").chosen();
        $(".rich-text").redactor();

        $('#showServices').click(function () {
            $('#pagemask').show();
            $('#serviceOptions').show();
        });
        $('#pagemask').click(function () {
            $('#serviceOptions').hide();
            $('#pagemask').hide();
        });

        {% if get_flashed_messages %}
            window.setTimeout(function () {
                $('#flash').hide();
                $('#flash_clear').hide();
            }, 5000);
        {% endif %}
    });
    var listItemHover = function (x) {
        $('#action_hover_container_' + x).show();
    };
    var listItemHoverOut = function (x) {
        $('#action_hover_container_' + x).hide();
    };
</script>
<script>
    var HW_config = {
        selector: "#headway",
        account: "7LYm8J"
    }
</script>
<script async src="//cdn.headwayapp.co/widget.js"></script>
<script>
    !function () {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
            t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
            t.factory = function (e) {
                return function () {
                    var n;
                    return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                };
            }, t.methods.forEach(function (e) {
            t[e] = t.factory(e);
        }), t.load = function (t) {
            var e, n, o, i;
            e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('6s2bntm5ma6n');
</script>
{% block page_js %}
{% endblock page_js %}
</body>
</html>
