{% extends "client/general/settings.html" %}
{% block subnav %}
    <nav id="subnav" ng-if="current_nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a href="{{ url_for('.network_details', obj_id=obj.id) }}" class="active"> Overview </a></li>
                    <li><a href="{{ url_for('.network_req', obj_id=obj.id) }}"> Requests</a></li>
                    <li><a href="{{ url_for('.network_faults', obj_id=obj.id) }}"> Faults</a></li>
                    <li><a href="{{ url_for('.network_devices', obj_id=obj.id) }}"> Devices</a></li>
                    <li><a href="{{ url_for('.network_dev_new', obj_id=obj.id) }}"> Add Device</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock subnav %}
{% block body %}
    <div class="row c_g_r" style="background: white">
        <div style="float: right; color: white">
            <h5 style="color: #FC6E06;">Network - #{{ obj.code }}</h5>
        </div>
    </div>
    <div style="margin: 15px"></div>
    <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">Devices Map</div>
                <div class="chart-stage" id="meshMap" style="width: 100%;height:450px;"></div>
            </div>
        </div>
    </div>

    <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Fault Patterns
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    {% if faults|length > 0 %}
                        <div class="table" style="margin-bottom: 0;">
                            <div class="thead tr">
                                <span class="td">date</span>
                                <span class="td"></span>
                                <span class="td">device</span>
                                <span class="td">level</span>
                            </div>
                            {% for fault in faults %}
                                <div class="tr">
                                    <span class="td center">
                                        {{ fault.timestamp.strftime('%Y-%m-%d %H:%M%:%S' ) }}
                                    </span>
                                    <span class="td">
                                        {{ fault.body }}
                                    </span>
                                    <span class="td">{{ fault.device }}</span>
                                    <span class="td">{{ fault.level }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="table" style="margin-bottom: 0;">
                            <h3 class="text-center" style="margin-top: 3em">Everything is OK!</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Active Devices
                    <small style="float: right"><a>View All</a></small>
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table">
                        <div class="thead tr">
                            <span class="td">code</span>
                            <span class="td">class</span>
                            <span class="td center">Status</span>
                        </div>
                        {% for device in devices %}
                            <div class="tr">
                                {% if device.is_coordinator and not device.is_node %}
                                    <span class="td">{{ device.code }}</span>
                                    <span class="td">Gateway</span>
                                {% else %}
                                    <span class="td"><a
                                            href="{{ url_for('.device_details', obj_id=device.id) }}">{{ device.code }}</a></span>
                                    <span class="td">Node</span>
                                {% endif %}
                                <span class="td center">
                            {% if device.is_active %}
                                <button class="btn-xs btn-danger">DEACTIVATE</button>
                            {% else %}
                                <button class="btn-xs btn-success">ACTIVATE</button>
                            {% endif %}
                        </span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tr" id="empty_list_box">
                        <h3 style="text-align: center;">
                            <span style="font-size: 20px; color: lightgrey;">No device in network</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var network = {{ obj.as_dict|tojson }};
        var locationMap = {{ location.as_dict|tojson }};
        var locale = [locationMap.latitude, locationMap.longitude];
        var map = L.map('meshMap', {
            center: locale,
            minZoom: 2,
            zoom: 12
        });
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            subdomains: ['a', 'b', 'c']
        }).addTo(map);

        var myIcon = L.icon({
            iconUrl: '/static/images/blue-pin.png',
            iconRetinaUrl: '/static/images/blue-pin-md.png',
            iconSize: [29, 24],
            iconAnchor: [9, 21],
            popupAnchor: [0, -14]
        });

        L.marker(locale, {icon: myIcon}).bindPopup('{{ obj.station.name }}').addTo(map);

        var devices = {{ devices|tojson }};
        for (var i = 0; i < devices.length; ++i) {
            var dev = devices[i];
            if (dev.is_coordinator) {
                L.marker([dev.point.latitude, dev.point.longitude], {icon: myIcon})
                        .bindPopup(devices[i].code + ' (Coordinator)')
                        .addTo(map);
            } else {
                L.marker([dev.point.latitude, dev.point.longitude], {icon: myIcon})
                        .bindPopup('<a href="#!/installations/"' + dev.installation_id + '" target="_blank">#' + dev.code + '</a>')
                        .addTo(map);
            }
        }

    </script>
{% endblock %}