{% extends "client/general/list/stations.html" %}
{% block breadcrumbs %}
    <div id="breadcrumbs" class="container-fluid">
        <ul id="action_navs">

            <li class="action_nav_item"><a {% if request.path==url_for('.station_details', obj_id=obj.id) %}class="active"{% endif %} href="{{url_for('.station_details', obj_id=obj.id)}}">Overview</a></li>
                    <li class="action_nav_item"><a {% if request.path==url_for('.station_faults', obj_id=obj.id) %}class="active"{% endif %} href="{{url_for('.station_faults', obj_id=obj.id)}}">Faults</a></li>
                    <li class="action_nav_item"><a {% if request.path==url_for('.station_devices', obj_id=obj.id) %}class="active"{% endif %} href="{{url_for('.station_devices', obj_id=obj.id)}}">Devices</a></li>
                    <li class="action_nav_item"><a {% if request.path==url_for('.station_installations', obj_id=obj.id) %}class="active"{% endif %} href="{{url_for('.station_installations', obj_id=obj.id)}}">Installations</a></li>
                    <li class="action_nav_item"><a {% if request.path==url_for('.station_alerts', obj_id=obj.id) %}class="active"{% endif %} href="{{url_for('.station_alerts', obj_id=obj.id)}}">Alerts</a></li>
                    <li class="action_nav_item"><a {% if request.path==url_for('.station_services', obj_id=obj.id) %}class="active"{% endif %} href="{{ url_for('.station_services', obj_id=obj.id) }}">Services</a></li>
                    <li class="action_nav_item"><a {% if request.path==url_for('.station_workers', obj_id=obj.id) %}class="active"{% endif %} href="{{ url_for('.station_workers', obj_id=obj.id) }}">Workers</a></li>
                    <li class="action_nav_item"><a {% if request.path==url_for('.station_networks', obj_id=obj.id) %}class="active"{% endif %} href="{{ url_for('.station_networks', obj_id=obj.id) }}">Networks</a></li>
        </ul>
        <span>{{ obj.name }} Station</span>
    </div>
        {% endblock %}
{% block inner_body %}
    <style>
        .details_line_info {
            border-bottom: 0.5px solid #f3f3f3;
            padding-bottom: 10px;
        }

        .details_key {
            text-transform: uppercase;
            width: 40%;
            font-weight: 600;
            vertical-align: top;
        }

        .details_val {
            width: 58%;
        }

        .details_key, .details_val {
            display: inline-block;
            font-size: 13px;
            text-align: left;
        }

        .plain_btn_success {
            border: 1px solid #5cb85c;
            padding: 6px 10px;
            border-radius: 0;
            font-size: 13px;
            color: #5cb85c;
        }

        .plain_btn_danger {
            border: 1px solid #d9534f;
            padding: 6px 10px;
            border-radius: 0;
            font-size: 13px;
            color: #d9534f;
        }

        .dash {
            margin-bottom: 20px;
        }
    .pv-10{
        padding:10px 0;
    }
    </style>
    <div class="pv-10"></div>
    <div class="form col-md-12">
    <div class="col-md-9">
        <div style="margin-top: 10px"></div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="rep_info_box dash">
                    <h3 class="text-success">{{ obj.station_services|count }}</h3>
                    <span><a href="{{ url_for('.station_services', obj_id=obj.id) }}">Running Services</a></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="rep_info_box dash">
                    <h3 class="text-info">{{ obj.installations|count }}</h3>
                    <span><a href="{{ url_for('.station_installations', obj_id=obj.id) }}">Installations</a></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="rep_info_box dash">
                    <h3 class="text-danger">{{ obj.assignees|count }}</h3>
                    <span><a href="{{ url_for('.station_workers', obj_id=obj.id) }}">Station Workers</a></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="rep_info_box dash">
                    <h3 class="atele">{{ obj.networks|count }}</h3>
                    <span><a href="{{ url_for('.station_networks', obj_id=obj.id) }}">Networks</a></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <a href="{{ url_for('.station_alerts', obj_id=obj.id) }}">Active Alerts</a>
                    </div>
                    <div class="chart-stage chart-map-large"
                         style="height: 100%;max-height: 225px; min-height: 225px; overflow-y: scroll;">
                        {% if alerts|length > 0 %}
                            <div class="table" style="margin-bottom: 0;">
                                <div class="thead tr">
                                    <span class="td">code</span>
                                    <span class="td">installation</span>
                                    <span class="td">threshold</span>
                                    <span class="td">level</span>
                                </div>
                                {% for alert in alerts %}
                                    <div class="tr">
                                            <span class="td">
                                                {{ alert.code }}<br>
                                                <small>{{ alert.date_created.strftime('%Y-%m-%d %H:%M%:%S' ) }}</small>
                                            </span>
                                        <span class="td">
                                                <a href="{{ url_for('.dashboard', slug=alert.service.code) }}#!/installations/{{ alert.installation.id }}">{{ alert.installation.code }}</a>
                                            </span>
                                        <span class="td">{{ alert.threshold }}</span>
                                        <span class="td">
                                                {% if alert.is_critical %}CRITICAL{% endif %}
                                            {% if alert.is_warning %}WARNING{% endif %}
                                            </span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="table" style="margin-bottom: 0;">
                                <h3 class="text-center" style="margin-top: 3em">Everything is OK!</h3>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-title">Device Locations</div>
                    <div class="chart-stage chart-map-large" id="meshMap" style="width: 100%;height:450px;"></div>
                    <div class="chart-notes">
                        Geographic location of station and attached installations
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <a href="{{ url_for('.station_faults', obj_id=obj.id) }}">Fault Patterns</a>
                    </div>
                    <div class="chart-stage chart-map-large"
                         style="height: 100%;max-height: 225px; min-height: 225px; overflow-y: scroll;">
                        {% if faults|length > 0 %}
                            <div class="table" style="margin-bottom: 0;">
                                <div class="thead tr">
                                    <span class="td">date</span>
                                    <span class="td"></span>
                                    <span class="td">device</span>
                                    <span class="td">level</span>
                                </div>
                                {% for fault in faults %}
                                    <div class="tr">
                                            <span class="td center">
                                                {{ fault.timestamp.strftime('%Y-%m-%d %H:%M%:%S' ) }}
                                            </span>
                                        <span class="td">
                                                {{ fault.body }}
                                            </span>
                                        <span class="td">{{ fault.device }}</span>
                                        <span class="td">{{ fault.level }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="table" style="margin-bottom: 0;">
                                <h3 class="text-center" style="margin-top: 3em">Everything is OK!</h3>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="rep_info_box dash" style="padding: 20px;margin-bottom: 35px;">
                    <h1 class="text-warning">{{ obj.nodes|count }}</h1>
                    <span>Active Nodes</span>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="rep_info_box dash" style="margin-bottom: 0;padding: 20px;">
                    <h1 class="text-success">{{ obj.devices|count }}</h1>
                    <span>Devices</span>
                </div>
            </div>
        </div>

        <div class="row">
            {% for mapMet in metrics_map %}
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            {{ mapMet.name }} Events
                        </div>
                        <div class="chart-stage chart-map-large"
                             id="#{{ mapMet.name }}Chart"></div>
                        <div class="chart-notes">
                            Notes about this chart
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col-md-3">
        <div style="margin-top: 10px"></div>
        <h3 style="padding: 10px; margin-bottom: 20px;background: #fff;color:#9196aa;">
            {% if obj.is_active %}
                <small class="pull-right btn btn-xs plain_btn_success">ACTIVE</small>
            {% else %}
                <small class="pull-right btn btn-xs plain_btn_danger">INACTIVE</small>
            {% endif %}
            Overview
        </h3>
        <div class="rep_info_box chart_summary">
            <div class="item_rec">
                <h7>Manager</h7>
                <span>{{ obj.manager.name }}</span>
            </div>
            <div class="item_rec">
                <h7>Code</h7>
                <span>{{ obj.code }}</span>
            </div>
        {% if obj.location %}
                <div class="item_rec">
                    <h7>Longitude</h7>
                    <span>{{ obj.location.longitude }} <i class="fa fa-map-marker"></i></span>
                </div>
                <div class="item_rec">
                    <h7>Latitude</h7>
                    <span>{{ obj.location.latitude }} <i class="fa fa-map-marker"></i></span>
                </div>
            {% endif %}
            <div class="item_rec">
                <h7>Location</h7>
                <span>{{ obj.location.line1 }}{% if obj.line2 %},{{ obj.location.line2 }}{% endif %}<br>
                    {{ obj.location.city.name }}, {{ obj.location.state.name }}, {{ obj.location.country.name }}</span>
            </div>

        </div>
    </div>
    <script type="text/javascript">

        // ----------------------------------------
        {#        var client = new Keen({#}
        {#            projectId: "5915a8d53d5e15299e64941a",#}
        {#            readKey: "42BEAC0157FFF0C51C6A57CF45A44304567630E0508443FA6DFC654D70B8F1F927D0147FD4E75C8082088BC49F299BFABBD1BEE5EE03410B5142BB9B557309D7DD1F258E2880C4167C6DDF35904F87946FEDB78BD650ACBAF3C776361C6A69F7"#}
        {#        });#}
        {##}
        {#        Keen.ready(function () {#}
        {#            // temp#}
        {#            // ----------------------------------------#}
        {##}
        {#            var temperature = new Keen.Query("average", {#}
        {#                eventCollection: "climate",#}
        {#                targetProperty: "temp",#}
        {#                timeframe: {#}
        {#                    start: "2014-10-06T00:00:00.000",#}
        {#                    end: "2014-10-07T00:00:00.000"#}
        {#                }#}
        {#                // timeframe: "today"#}
        {#            });#}
        {##}
        {#            $("#chart-01").knob({#}
        {#                'angleArc': 250,#}
        {#                'angleOffset': -125,#}
        {#                'readOnly': true,#}
        {#                'min': 0,#}
        {#                'max': 120,#}
        {#                'fgColor': Keen.Dataviz.defaults.colors[1]#}
        {#            });#}
        {##}
        {#            client.run(temperature, function (err, res) {#}
        {#                $("#chart-01").val(res.result).trigger('change');#}
        {#            });#}
        {##}
        {#            // ----------------------------------------#}
        {#            // humidity#}
        {#            // ----------------------------------------#}
        {##}
        {#            var humidity = new Keen.Query("average", {#}
        {#                eventCollection: "climate",#}
        {#                targetProperty: "humidity",#}
        {#                timeframe: {#}
        {#                    start: "2014-10-06T00:00:00.000",#}
        {#                    end: "2014-10-07T00:00:00.000"#}
        {#                }#}
        {#                // timeframe: "today"#}
        {#            });#}
        {##}
        {#            $("#chart-02").knob({#}
        {#                'angleArc': 250,#}
        {#                'angleOffset': -125,#}
        {#                'readOnly': true,#}
        {#                'min': 0,#}
        {#                'max': 50,#}
        {#                'fgColor': Keen.Dataviz.defaults.colors[0]#}
        {#            });#}
        {##}
        {#            client.run(humidity, function (err, res) {#}
        {#                $("#chart-02").val(res.result).trigger('change');#}
        {#            });#}
        {##}
        {#            // ----------------------------------------#}
        {#            // Light#}
        {#            // ----------------------------------------#}
        {##}
        {#            var light = new Keen.Query("average", {#}
        {#                eventCollection: "climate",#}
        {#                targetProperty: "light",#}
        {#                timeframe: {#}
        {#                    start: "2014-10-06T00:00:00.000",#}
        {#                    end: "2014-10-07T00:00:00.000"#}
        {#                }#}
        {#                // timeframe: "today"#}
        {#            });#}
        {##}
        {#            $("#chart-03").knob({#}
        {#                'angleArc': 250,#}
        {#                'angleOffset': -125,#}
        {#                'readOnly': true,#}
        {#                'step': 0.01,#}
        {#                'min': 0,#}
        {#                'max': 50,#}
        {#                'fgColor': Keen.Dataviz.defaults.colors[2]#}
        {#            });#}
        {##}
        {#            client.run(light, function (err, res) {#}
        {#                $("#chart-03").val(res.result * 100).trigger('change');#}
        {#            });#}
        {##}
        {#            // ----------------------------------------#}
        {#            // Sound#}
        {#            // ----------------------------------------#}
        {##}
        {#            var sound = new Keen.Query("average", {#}
        {#                eventCollection: "climate",#}
        {#                targetProperty: "sound",#}
        {#                timeframe: {#}
        {#                    start: "2014-10-06T00:00:00.000",#}
        {#                    end: "2014-10-07T00:00:00.000"#}
        {#                }#}
        {#                // timeframe: "today"#}
        {#            });#}
        {##}
        {#            $("#chart-04").knob({#}
        {#                'angleArc': 250,#}
        {#                'angleOffset': -125,#}
        {#                'readOnly': true,#}
        {#                'step': 0.01,#}
        {#                'min': 0,#}
        {#                'max': 100,#}
        {#                'fgColor': Keen.Dataviz.defaults.colors[3]#}
        {#            });#}
        {##}
        {#            client.run(sound, function (err, res) {#}
        {#                $("#chart-04").val(res.result * 100).trigger('change');#}
        {#            });#}
        {##}
        {#            // ----------------------------------------#}
        {#            // Pageviews Area Chart#}
        {#            // ----------------------------------------#}
        {#            var pageviews_timeline = new Keen.Query("count", {#}
        {#                eventCollection: "pageviews",#}
        {#                interval: "hourly",#}
        {#                groupBy: "user.device_info.browser.family",#}
        {#                timeframe: {#}
        {#                    start: "2014-05-04T00:00:00.000Z",#}
        {#                    end: "2014-05-05T00:00:00.000Z"#}
        {#                }#}
        {#            });#}
        {#            client.draw(pageviews_timeline, document.getElementById("chart-011"), {#}
        {#                chartType: "areachart",#}
        {#                title: false,#}
        {#                height: 250,#}
        {#                width: "auto",#}
        {#                chartOptions: {#}
        {#                    chartArea: {#}
        {#                        height: "85%",#}
        {#                        left: "5%",#}
        {#                        top: "5%",#}
        {#                        width: "80%"#}
        {#                    },#}
        {#                    isStacked: true#}
        {#                }#}
        {#            });#}
        {##}
        {#            // ----------------------------------------#}
        {#            // Pageviews Pie Chart#}
        {#            // ----------------------------------------#}
        {#            var pageviews_static = new Keen.Query("count", {#}
        {#                eventCollection: "pageviews",#}
        {#                groupBy: "user.device_info.browser.family",#}
        {#                timeframe: {#}
        {#                    start: "2014-05-01T00:00:00.000Z",#}
        {#                    end: "2014-05-05T00:00:00.000Z"#}
        {#                }#}
        {#            });#}
        {#            client.draw(pageviews_static, document.getElementById("chart-022"), {#}
        {#                chartType: "piechart",#}
        {#                title: false,#}
        {#                height: 250,#}
        {#                width: "auto",#}
        {#                chartOptions: {#}
        {#                    chartArea: {#}
        {#                        height: "85%",#}
        {#                        left: "5%",#}
        {#                        top: "5%",#}
        {#                        width: "100%"#}
        {#                    },#}
        {#                    pieHole: .4#}
        {#                }#}
        {#            });#}
        {##}
        {#            // ----------------------------------------#}
        {#            // Impressions timeline#}
        {#            // ----------------------------------------#}
        {#            var impressions_timeline = new Keen.Query("count", {#}
        {#                eventCollection: "impressions",#}
        {#                groupBy: "ad.advertiser",#}
        {#                interval: "hourly",#}
        {#                timeframe: {#}
        {#                    start: "2014-05-04T00:00:00.000Z",#}
        {#                    end: "2014-05-05T00:00:00.000Z"#}
        {#                }#}
        {#            });#}
        {#            client.draw(impressions_timeline, document.getElementById("chart-033"), {#}
        {#                chartType: "columnchart",#}
        {#                title: false,#}
        {#                height: 250,#}
        {#                width: "auto",#}
        {#                chartOptions: {#}
        {#                    chartArea: {#}
        {#                        height: "75%",#}
        {#                        left: "10%",#}
        {#                        top: "5%",#}
        {#                        width: "60%"#}
        {#                    },#}
        {#                    bar: {#}
        {#                        groupWidth: "85%"#}
        {#                    },#}
        {#                    isStacked: true#}
        {#                }#}
        {#            });#}
        {##}
        {#            // ----------------------------------------#}
        {#            // Impressions timeline (device)#}
        {#            // ----------------------------------------#}
        {#            var impressions_timeline_by_device = new Keen.Query("count", {#}
        {#                eventCollection: "impressions",#}
        {#                groupBy: "user.device_info.device.family",#}
        {#                interval: "hourly",#}
        {#                timeframe: {#}
        {#                    start: "2014-05-04T00:00:00.000Z",#}
        {#                    end: "2014-05-05T00:00:00.000Z"#}
        {#                }#}
        {#            });#}
        {#            client.draw(impressions_timeline_by_device, document.getElementById("chart-044"), {#}
        {#                chartType: "columnchart",#}
        {#                title: false,#}
        {#                height: 250,#}
        {#                width: "auto",#}
        {#                chartOptions: {#}
        {#                    chartArea: {#}
        {#                        height: "75%",#}
        {#                        left: "10%",#}
        {#                        top: "5%",#}
        {#                        width: "60%"#}
        {#                    },#}
        {#                    bar: {#}
        {#                        groupWidth: "85%"#}
        {#                    },#}
        {#                    isStacked: true#}
        {#                }#}
        {#            });#}
        {##}
        {#            // ----------------------------------------#}
        {#            // Impressions timeline (country)#}
        {#            // ----------------------------------------#}
        {#            var impressions_timeline_by_country = new Keen.Query("count", {#}
        {#                eventCollection: "impressions",#}
        {#                groupBy: "user.geo_info.country",#}
        {#                interval: "hourly",#}
        {#                timeframe: {#}
        {#                    start: "2014-05-04T00:00:00.000Z",#}
        {#                    end: "2014-05-05T00:00:00.000Z"#}
        {#                }#}
        {#            });#}
        {#            client.draw(impressions_timeline_by_country, document.getElementById("chart-05"), {#}
        {#                chartType: "columnchart",#}
        {#                title: false,#}
        {#                height: 250,#}
        {#                width: "auto",#}
        {#                chartOptions: {#}
        {#                    chartArea: {#}
        {#                        height: "75%",#}
        {#                        left: "10%",#}
        {#                        top: "5%",#}
        {#                        width: "60%"#}
        {#                    },#}
        {#                    bar: {#}
        {#                        groupWidth: "85%"#}
        {#                    },#}
        {#                    isStacked: true#}
        {#                }#}
        {#            });#}
        {##}
        {#        });#}

    </script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/utils.js"></script>
    {#    <script type="text/javascript">#}
    {#        // Echarts Graphs and Charts#}
    {#        // based on prepared DOM, initialize echarts instance#}
    {#        var barChart = echarts.init(document.getElementById('barChart'));#}
    {##}
    {#        // specify chart configuration item and data#}
    {#        var barChartOption = {#}
    {#            'series': [#}
    {#                {#}
    {#                    'type': 'bar',#}
    {#                    'data': [2, 3, 4, 5, 6, 7, 5, 6],#}
    {#                    'name': 'Atele'#}
    {#                }#}
    {#            ],#}
    {#            'yAxis': [{}],#}
    {#            'legend': {'y': 'top', 'x': 'center', 'data': ['Faulty'], 'orient': 'horizontal'},#}
    {#            'xAxis': [#}
    {#                {#}
    {#                    'position': 'bottom',#}
    {#                    'data': ['Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],#}
    {#                    'type': 'category'#}
    {#                }#}
    {#            ],#}
    {#            'title': {#}
    {#                'text': 'Faulty Devices',#}
    {#                'subtext': ''#}
    {#            }#}
    {#        };#}
    {#        // use configuration item and data specified to show chart#}
    {#        barChart.setOption(barChartOption);#}
    {##}
    {#        var gaugeChart = echarts.init(document.getElementById('gaugeChart'));#}
    {##}
    {#        // specify chart configuration item and data#}
    {#        var gaugeChartOption = {#}
    {#            title: {#}
    {#                text: 'Gauge'#}
    {#            },#}
    {#            series: [{#}
    {#                name: 'Gauge',#}
    {#                type: 'gauge',#}
    {#                animationEasing: name,#}
    {#                animationDuration: 1000#}
    {#            }]#}
    {#        };#}
    {##}
    {#        // use configuration item and data specified to show chart#}
    {#        gaugeChart.setOption(gaugeChartOption);#}
    {#    </script>#}
    <script>
        var locale = [{{ obj.location.latitude }}, {{ obj.location.longitude }}];

        var map = L.map('meshMap', {
            center: locale,
            minZoom: 2,
            zoom: 12
        });
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            subdomains: ['a', 'b', 'c']
        }).addTo(map);

        var myIcon = L.icon({
            iconUrl: '/static/images/blue-pin.png',
            iconRetinaUrl: '/static/images/blue-pin-md.png',
            iconSize: [29, 24],
            iconAnchor: [9, 21],
            popupAnchor: [0, -14]
        });

        L.marker(locale, {icon: myIcon}).bindPopup('{{ obj.name }}').addTo(map);

        var devices = {{ metrics_map|tojson }};

        $.each(devices, function (pos, dev) {
            dev.mapChart, dev.mapOption = buildMultipleChart(dev.name, dev.dimension, dev.devices);
        });

        var mapDevices = {{ json_devices|tojson }};

        for (var i = 0; i < mapDevices.length; ++i) {
            var device = mapDevices[i];
            if (device.is_coordinator) {
                L.marker([device.point.latitude, device.point.longitude], {icon: myIcon})
                    .bindPopup(device.code + ' (Coordinator)')
                    .addTo(map);
            } else {
                var dev_link = "{{ url_for('.dashboard', slug=current_service.code) }}#!/installations/" + device.installation_id;
                L.marker([device.point.latitude, device.point.longitude], {icon: myIcon})
                    .bindPopup('<a href="' + dev_link + '" target="_self">#' + device.code + '</a>')
                    .addTo(map);
            }
        }

    </script>
{% endblock %}
