{% extends "customer/layout.html" %}
{% block subnav %}
    <nav id="subnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a {% if not handle %}class="active"{% endif %} href="{{ url_for('.dashboard',slug="stations") }}">Overview</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock subnav %}