{% extends "customer/messages/layout.html" %}
{% block breadcrumbs %}
    <div id="breadcrumbs" class="container-fluid">
        <ul id="action_navs">
        </ul>
        <span>{{ page_title }}</span>
    </div>
{% endblock %}
{% block inner_body %}
    <style>
        .msg_bdy {
            text-transform: none;
        }
    .msg_bdy p{
        margin-bottom: 0;
    }
    </style>
    {% if results.total>0 %}
        <div id="filters">
            {% include "customer/snippets/pagination.html" %}
            {% include "customer/snippets/list_view_filters.html" %}
            {% include "customer/snippets/list_search.html" %}
        </div>
        <div class="table">
            <div class="thead tr">
                <span class="td" style="width: 100px;">date</span>
                <span class="td" style="width: 150px;">sender</span>
                <span class="td" style="width: 15px;"></span>
                <span class="td" style="width: 15px;"></span>
                <span class="td">message</span>
            </div>
            {% for obj in results.get('items') %}
                {% set date = timestamp_to_date(obj.timestamp) %}
                <div class="tr" onMouseOver="listItemHover({{ loop.index }})"
                     onMouseOut="listItemHoverOut({{ loop.index }})">
                    <span class="td">
                      {% if date %}{{ date.strftime('%b %d, %Y %H:%m %p') }}{% endif %}
                    </span>
                            <span class="td">{{ obj.name }}</span>
                    <span class="td">
                        <i class="fa fa-share"></i>
                    </span>
                    <span class="td">
                        <i class="fa fa-envelope-o"></i>

                    </span>
                    <span class="td msg_bdy"><span class="grey">{{ obj.subject }}</span><br>
                        {{ obj.body|safe }}</span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% if length(request_args)>0 %}
            <div id="filters">
                {% include "customer/snippets/pagination.html" %}
                {% include "customer/snippets/list_view_filters.html" %}
                {% include "customer/snippets/list_search.html" %}
            </div>
            <div class="table">
                <div class="thead tr">
                    <span class="td" style="width: 100px;">date</span>
                    <span class="td" style="width: 150px;">sender</span>
                    <span class="td" style="width: 15px;"></span>
                    <span class="td" style="width: 15px;"></span>
                    <span class="td">message</span>
                </div>
            </div>
            <div class="no_search_results">
                No Results found
            </div>
        {% else %}
            <div class="tr" id="empty_list_box">
                <h3 style="text-align: center; margin-top:50px; margin-left:550px">
                    <i class="fa fa-bullhorn" aria-hidden="true" style="font-size: 100px; color: lightgrey;"></i>
                    <br>
                    {{ page_title }} is empty
                </h3>
            </div>
        {% endif %}
    {% endif %}
{% endblock inner_body %}