<ui-view ng-init="init_controller()">
    <div class="form col-md-12">
        <div class="col-md-8">
            <h6>Add Installation</h6>
            <form method="post" ng-submit="save()">
                <div class="wrap full">
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input type="text" name="title" ng-model="formData.title" placeholder="e.g. Incubator Room 3" required>
                    </div>
                </div>
                <div class="wrap" ng-class="new == true ? third:half">
                    <div class="form-group has-feedback">
                        <label class="control-label">Station
                            <span class="pull-right">
                                <a class="btn-xs btn-outline" style="color: #FC6E06;" href="{{ url_for('.station') }}"><i class="fa fa-plus"></i>&nbsp;New Station</a>
                            </span>
                        </label>
                        <select name="station_id" ng-model="formData.station_id" required>
                            <option ng-repeat="station in data.stations" ng-value="station.id">[[ station.name ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.station_id" ng-bind="data.error.station_id[0]"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">Equipment Type</label>
                        <select name="installation_type_id" ng-model="formData.installation_type_id" required>
                            <option ng-repeat="installation_type in data.installation_types" ng-value="installation_type.id">[[ installation_type.title ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.installation_type_id" ng-bind="data.error.installation_type_id[0]"></span>
                    </div>
                     <div ng-show="new == true" class="form-group has-feedback">
                        <label class="control-label">Product</label>
                        <select name="product_id" ng-model="formData.product_id">
                            <option ng-repeat="product in data.products" ng-value="product.id">[[ product.name ]] | [[ product.code ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.product_id" ng-bind="data.error.product_id[0]"></span>
                    </div>
                </div>
                <div class="wrap third">
                    <div class="form-group">
                        <label for="model_number">Model Number/Reference ID</label>
                        <input type="text" name="model_number" ng-model="formData.model_number" placeholder="e.g. MX1ADSSD223" required>
                    </div>
                    <div class="form-group">
                        <label for="capacity">Capacity</label>
                        <input type="text" name="capacity" ng-model="formData.capacity" placeholder="optional...can leave blank">
                    </div>
                    <div class="form-group">
                        <label for="measurement_index">Measurement Index</label>
                        <input type="text" name="measurement_index" ng-model="formData.measurement_index" placeholder="e.g. KWh">
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <p>
                Description Details
            </p>
        </div>
    </div>
</ui-view>
