<ui-view>
    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">

            </ul>
            <span>create network</span>
        </div>
    <div class="form col-md-12">
        <div class="col-md-8">
            <h6>Request a gateway device</h6>
            <form method="post" ng-submit="save()">
                <div class="wrap">
                    <div class="form-group">
                        <label for="">Products</label>
                        <select ng-model="formData.product_id" required>
                            <option ng-repeat="product in products" ng-value="product.id"> [[ product.name ]] | [[ product.code ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.product_id" ng-bind="data.error.product_id[0]"></span>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group">
                        <label for="">Stations</label>
                        <select ng-model="formData.station_id" required>
                            <option ng-repeat="station in stations" ng-value="station.id"> [[ station.name ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.station_id" ng-bind="data.error.station_id[0]"></span>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <p>
                Description Details
            </p>
        </div>
    </div>
</ui-view>
