<ui-view id="detailPage">
    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">
                <li class="action_nav_item"><a ui-sref="network_requests({id: network.id})" ng-show="device_requests.length > 0"
               ><sup class="badge" ng-bind="device_requests.length"></sup>&nbsp;REQUESTS</a></li>
                <li class="action_nav_item"><a ui-sref="network_dev_new({id: network.id})" ><i class="fa fa-plus"
                                                                                         aria-hidden="true"></i>&nbsp;ADD
                DEVICE</a></li>
                <li><a ui-sref="network_reports({id: network.id})" ><i class="fa fa-area-chart"
                                                                                         aria-hidden="true"></i>&nbsp;REPORTS</a></li>
            </ul>
            <span>Network</span>
        </div>

    <div style="margin: 15px"></div>
    <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">Devices Map</div>
                <div class="chart-stage" id="meshMap" style="width: 100%;height:450px;"></div>
            </div>
        </div>
    </div>
    <div class="row c_g_r" ng-repeat="metric in metrics">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">[[metric.name]] Events</div>
                <div class="chart-stage" id="#[[metric.name]]Chart" style="width: 100%;height:450px;"></div>
            </div>
        </div>
    </div>
    <div class="row c_g_r">
        <div class="col-sm-6">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Active Devices
                    <small style="float: right"><a ui-sref="network_devices({id: network.id})">View All</a></small>
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="sliced_devices.length > 0">
                        <div class="thead tr">
                            <span class="td">code</span>
                            <span class="td">class</span>
                            <span class="td center">Status</span>
                        </div>
                        <div class="tr" ng-repeat="obj in sliced_devices">
                            <span class="td">
                                <a ng-show="obj.installation_id" href="/devices/[[obj.id]]/details/">[[ obj.code ]]</a><br>
                                <span ng-hide="obj.installation_id">[[ obj.code ]]</span><br>
                                <small>[[ obj.date_created | date ]]</small>
                            </span>
                            <span class="td" ng-show="obj.is_coordinator">GATEWAY</span>
                            <span class="td" ng-hide="obj.is_coordinator">NODE</span>
                            <span class="td center" ng-show="obj.is_active"><button class="btn-xs btn-danger">
                                DEACTIVATE
                            </button></span>
                            <span class="td center" ng-hide="obj.is_active"><button class="btn-xs btn-success">
                                ACTIVATE
                            </button></span>
                        </div>
                    </div>
                    <div class="tr" id="empty_list_box" ng-hide="sliced_devices.length > 0">
                        <h3 style="text-align: center;">
                            <span style="font-size: 20px; color: lightgrey;">No device in network</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Active Devices
                </div>
                <div class="chart-stage chart-map-small">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#46b8da;">
                        [[ active_count ]]</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Connected Nodes
                </div>
                <div class="chart-stage chart-map-small">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#47a447;">
                        [[ node_devices.length ]]</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row c_g_r" ng-show="faults.length > 0">
        <div class="col-sm-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Fault Patterns
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="devices.length > 0">
                        <div class="thead tr">
                            <span class="td"></span>
                            <span class="td">device</span>
                            <span class="td">level</span>
                            <span class="td">date</span>
                        </div>
                        <div class="tr" ng-repeat="rec in faults">
                            <span class="td" ng-bind="rec.body"></span>
                            <span class="td" ng-bind="rec.device"></span>
                            <span class="td" ng-bind="rec.level"></span>
                            <span class="td center" ng-bind="rec.timestamp"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <div class="row c_g_r">#}
    {#        <div class="col-sm-12">#}
    {#            <div class="chart-wrapper">#}
    {#                <div class="chart-stage" id="pubNubchart" style="width: 100%;height:450px;"></div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <script src="/static/js/utils.js"></script>
    <script src="/static/js/angular/detail.js"></script>
    <script type="text/javascript">

        var scope = angular.element($("#meshMap")).scope();
        var network = scope.network;

        if (network != undefined) {

            var locale = network.station.location;
            var map = L.map('meshMap', {
                center: [locale.latitude, locale.longitude],
                minZoom: 2,
                zoom: 12
            });
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                subdomains: ['a', 'b', 'c']
            }).addTo(map);

            {#            var geojsonFeature = {#}
            {#                "type": "Feature",#}
            {#                "properties": {#}
            {#                    "name": "Coors Field",#}
            {#                    "amenity": "Baseball Stadium",#}
            {#                    "popupContent": "This is where the Rockies play!"#}
            {#                },#}
            {#                "geometry": {#}
            {#                    "type": "Point",#}
            {#                    "coordinates": [-104.99404, 39.75621]#}
            {#                }#}
            {#            };#}
            {##}
            {#            L.geoJSON(geojsonFeature).addTo(map);#}

            var myIcon = L.icon({
                iconUrl: '/static/images/blue-pin.png',
                iconRetinaUrl: '/static/images/blue-pin-md.png',
                iconSize: [29, 24],
                iconAnchor: [9, 21],
                popupAnchor: [0, -14]
            });

            setTimeout(function () {
                var devices = scope.devices;
                for (var i = 0; i < devices.length; ++i) {
                    var dev = devices[i];
                    if (dev.is_coordinator) {
                        L.marker([devices[i].point.latitude, devices[i].point.longitude], {icon: myIcon})
                                .bindPopup(devices[i].code + ' (Coordinator)')
                                .addTo(map);
                    } else {
                        var dev_link = '/devices/' + dev.id + '/details/';
                         L.marker([devices[i].point.latitude, devices[i].point.longitude], {icon: myIcon})
                            .bindPopup('<a href="' + dev_link + '" target="_self">#' + devices[i].code + '</a>')
                            .addTo(map);
                    }
                }
                $.each(scope.metrics, function (pos,dev) {
                    dev.mapChart, dev.mapOption = buildMultipleChart(dev.name, dev.dimension, dev.devices);
                })
            }, 600);

        }

    </script>
</ui-view>
