/* Generated 2016-06-07 from https://github.com/sendgrid/style-guide @ a7b2ba8 (see https://github.com/sendgrid/style-guide/pull/25) */
/* Font paths and names have been adjusted to work in site */

@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//hello.myfonts.net/count/2f01f3");
/* line 6, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_reset.scss */
body {
  line-height: 1;
}

/* line 33, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url(./fonts/ProximaNova/2F4886_0_0.eot);
  src: url(./fonts/ProximaNova/2F4886_0_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_0_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_0_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_0_0.ttf) format("truetype");
}
@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url(./fonts/ProximaNova/2F4886_1_0.eot);
  src: url(./fonts/ProximaNova/2F4886_1_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_1_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_1_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_1_0.ttf) format("truetype");
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url(./fonts/ProximaNova/2F4886_2_0.eot);
  src: url(./fonts/ProximaNova/2F4886_2_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_2_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_2_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_2_0.ttf) format("truetype");
}
@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url(./fonts/ProximaNova/2F4886_3_0.eot);
  src: url(./fonts/ProximaNova/2F4886_3_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_3_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_3_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_3_0.ttf) format("truetype");
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url(./fonts/ProximaNova/2F4886_4_0.eot);
  src: url(./fonts/ProximaNova/2F4886_4_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_4_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_4_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_4_0.ttf) format("truetype");
}
@font-face {
  font-family: 'ProximaNova-SemiboldIt';
  src: url(./fonts/ProximaNova/2F4886_5_0.eot);
  src: url(./fonts/ProximaNova/2F4886_5_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_5_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_5_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_5_0.ttf) format("truetype");
}
@font-face {
  font-family: 'ProximaNova-Thin';
  src: url(./fonts/ProximaNova/2F4886_6_0.eot);
  src: url(./fonts/ProximaNova/2F4886_6_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_6_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_6_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_6_0.ttf) format("truetype");
}
@font-face {
  font-family: 'ProximaNova-ThinIt';
  src: url(./fonts/ProximaNova/2F4886_7_0.eot);
  src: url(./fonts/ProximaNova/2F4886_7_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_7_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_7_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_7_0.ttf) format("truetype");
}
@font-face {
  font-family: 'Colfax-Light';
  src: url(./fonts/Colfax/ColfaxWebLight.eot);
  src: url(./fonts/Colfax/ColfaxWebLight.eot?#iefix) format("embedded-opentype"), url(./fonts/Colfax/ColfaxWebLight.woff) format("woff");
}
@font-face {
  font-family: 'Colfax-Medium';
  src: url(./fonts/Colfax/ColfaxWebMedium.eot);
  src: url(./fonts/Colfax/ColfaxWebMedium.eot?#iefix) format("embedded-opentype"), url(./fonts/Colfax/ColfaxWebMedium.woff) format("woff");
}
@font-face {
  font-family: 'Proxima N W15 Light';
  src: url(./fonts/ProximaNova/2F4886_0_0.eot);
  src: url(./fonts/ProximaNova/2F4886_0_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_0_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_0_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_0_0.ttf) format("truetype");
}
@font-face {
  font-family: 'Proxima N W15 Reg';
  src: url(./fonts/ProximaNova/2F4886_2_0.eot);
  src: url(./fonts/ProximaNova/2F4886_2_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_2_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_2_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_2_0.ttf) format("truetype");
}
@font-face {
  font-family: 'Proxima N W15 Smbd';
  src: url(./fonts/ProximaNova/2F4886_4_0.eot);
  src: url(./fonts/ProximaNova/2F4886_4_0.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNova/2F4886_4_0.woff2) format("woff2"), url(./fonts/ProximaNova/2F4886_4_0.woff) format("woff"), url(./fonts/ProximaNova/2F4886_4_0.ttf) format("truetype");
}
@font-face {
  font-family: 'styleguideicons';
  src: url(./fonts/Icons/styleguideicons.eot);
  src: url(./fonts/Icons/styleguideicons.eot#iefix) format("embedded-opentype"), url(./fonts/Icons/styleguideicons.ttf) format("truetype"), url(./fonts/Icons/styleguideicons.woff) format("woff"), url(./fonts/Icons/styleguideicons.svg#styleguideicons) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 53, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon {
  font-family: 'styleguideicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 58, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-search:before {
  content: "î¤†";
}

/* line 64, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-check:before {
  content: "î¤…";
}

/* line 70, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-warning:before {
  content: "î¤„";
}

/* line 76, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-text-only:before {
  content: "î˜ƒ";
}

/* line 82, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-people:before {
  content: "î˜";
}

/* line 88, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-segment:before {
  content: "î˜‰";
}

/* line 94, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-create:before {
  content: "î¤";
}

/* line 100, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-pie-chart:before {
  content: "î˜†";
}

/* line 106, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-x:before {
  content: "î˜®";
}

/* line 112, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-plus:before {
  content: "î˜—";
}

/* line 118, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-view:before {
  content: "î˜€";
}

/* line 124, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-mail:before {
  content: "î˜";
}

/* line 130, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-pencil:before {
  content: "î˜¤";
}

/* line 136, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-trash:before {
  content: "î˜«";
}

/* line 142, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-check-circle:before {
  content: "î˜²";
}

/* line 148, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-gear:before {
  content: "î˜ˆ";
}

/* line 154, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-mobile-view:before {
  content: "î˜œ";
}

/* line 160, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-info-circle:before {
  content: "î¤ƒ";
}

/* line 166, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-desktop-view:before {
  content: "î˜§";
}

/* line 172, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-caret:before {
  content: "î¤€";
}

/* line 178, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_icon_font.scss */
.sg-icon-copy:before {
  content: "î¤‚";
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_global.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 8, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_global.scss */
.hidden {
  display: none !important;
}

/* line 13, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_global.scss */
a,
a:hover,
a:active,
a:focus,
button,
button:hover,
button:active,
button:focus {
  outline: none;
}

/* line 24, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_global.scss */
a {
  color: #489be8;
  text-decoration: none;
}

/* line 29, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_global.scss */
a:hover {
  color: #1a82e2;
}

/* line 37, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
body {
  font-family: ProximaNova-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  color: #546b81;
}

/* line 42, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

/* line 49, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
h1,
h2,
h3 {
  color: #294661;
}

/* line 55, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
h1,
h2 {
  font-family: Colfax-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
}

/* line 60, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
h1 {
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 40px;
}

/* line 66, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
h2 {
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 30px;
}

/* line 72, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
h3 {
  font-family: Colfax-Medium, 'Proxima N W15 Smbd', Helvetica, sans-serif;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 18px;
}

/* line 79, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
h4 {
  font-family: ProximaNova-Semibold, 'Proxima N W15 Smbd', Helvetica, sans-serif;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #7f90a0;
  text-transform: uppercase;
}

/* line 89, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
p {
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 27px;
}

/* line 95, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
strong {
  font-family: ProximaNova-Semibold, 'Proxima N W15 Smbd', Helvetica, sans-serif;
}

/* line 99, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
em {
  font-family: ProximaNova-LightIt, 'Proxima N W15 Light', Helvetica, sans-serif;
}

/* line 103, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
strong em,
em strong {
  font-family: ProximaNova-SemiboldIt, 'Proxima N W15 Smbd', Helvetica, sans-serif;
}

/* line 108, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
.error {
  color: #b71c1c;
}

/* line 112, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/base/_typography.scss */
.small {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

/* line 3, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_boomerang.scss */
.heroku-boomerang-loaded {
  margin-top: 32px;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_main.scss */
.main {
  margin: 60px 0 120px;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_tiara.scss */
.modal {
  display: none;
}

/* line 5, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_tiara.scss */
.tiara-container {
  display: table;
  width: 100%;
}

/* line 10, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_tiara.scss */
.tiara-headers {
  display: table-caption;
}

/* line 14, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_tiara.scss */
.navbar {
  display: table-cell;
  width: 180px;
  height: 100vh;
  max-width: 180px;
  min-width: 180px;
  padding-top: 30px;
  vertical-align: top;
  background: #fbfbfc;
}

/* line 25, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_tiara.scss */
.navbar-stats {
  margin: 10px 20px;
}

/* line 29, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_tiara.scss */
.tiara-content-container {
  display: table-cell;
  width: calc(100vw - 180px);
  max-width: calc(100vw - 180px);
  overflow: auto;
}

/* line 36, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_tiara.scss */
.feature-toggle-hidden,
.scope-hidden {
  display: none;
}

/* line 10, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.container {
  max-width: 1920px;
  margin-left: 0;
  margin-right: auto;
  min-width: 1024px;
  padding-right: 8.33333%;
  padding-left: 8.33333%;
}
/* line 12, /Users/jamesgary/.rvm/gems/ruby-2.2.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 17, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.row {
  margin-right: -1.42858%;
  margin-left: -1.42858%;
}

/* line 22, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: ' ';
}

/* line 30, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.container:after,
.row:after {
  clear: both;
}

/* line 35, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-1 {
  width: 8.33333%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 39, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-2 {
  width: 16.66667%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 43, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-3 {
  width: 25%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 47, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-4 {
  width: 33.33333%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 51, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-5 {
  width: 41.66667%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 55, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-6 {
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 59, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-7 {
  width: 58.33333%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 63, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-8 {
  width: 66.66667%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 67, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-9 {
  width: 75%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 71, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-10 {
  width: 83.33333%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 75, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-11 {
  width: 91.66667%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 79, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-12 {
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 83, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-1 {
  margin-left: 8.33333%;
}

/* line 87, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-2 {
  margin-left: 16.66667%;
}

/* line 91, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-3 {
  margin-left: 25%;
}

/* line 95, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-4 {
  margin-left: 33.33333%;
}

/* line 99, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-5 {
  margin-left: 41.66667%;
}

/* line 103, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-6 {
  margin-left: 50%;
}

/* line 107, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-7 {
  margin-left: 58.33333%;
}

/* line 111, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-8 {
  margin-left: 66.66667%;
}

/* line 115, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-9 {
  margin-left: 75%;
}

/* line 119, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-10 {
  margin-left: 83.33333%;
}

/* line 123, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/layouts/_grid.scss */
.col-offset-11 {
  margin-left: 91.66667%;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account {
  position: relative;
  width: 100%;
  padding: 10px 0 10px 28px;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
}

/* line 10, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-title {
  position: relative;
  width: 100%;
  height: 20px;
  overflow: hidden;
}

/* line 17, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-logo {
  position: absolute;
}

/* line 21, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-name {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: 38px;
  font-size: 12px;
  color: #294661;
}

/* line 33, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-name-fader {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: -4px;
  background: #fbfbfc no-repeat 10px 8px;
  box-shadow: #fbfbfc 0 0 10px 5px;
}

/* line 44, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-expand-icon {
  position: absolute;
  right: 13px;
}

/* line 49, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-submenu {
  display: none;
  overflow: hidden;
}
/* line 53, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-submenu.is-active {
  display: block;
}

/* line 58, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-subusers-search-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* line 64, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-subusers-search {
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;
}

/* line 70, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_account.scss */
.account-subusers-error {
  display: block;
  margin-top: 14px;
  font-size: 13px;
}

/* line 6, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-list {
  font-size: 0;
}
/* line 9, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-list > .btn + .btn {
  margin-left: 12px;
}

/* line 14, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline-block;
  padding: 13px 45px 9px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-sizing: border-box;
}

/* line 35, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-primary {
  color: #fff;
  background: rgba(26, 130, 226, 0.8);
  border-color: #1a82e2;
}
/* line 40, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary.is-active {
  color: #fff;
  background: #1a82e2;
}
/* line 47, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-primary:active {
  box-shadow: 0 1px 4px 0 rgba(26, 130, 226, 0.2);
  color: #fff;
}

/* line 53, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-secondary {
  color: #1a82e2;
  background: #fff;
  border-color: rgba(26, 130, 226, 0.8);
}
/* line 58, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.is-active {
  color: #1a82e2;
  background: rgba(26, 130, 226, 0.1);
}
/* line 65, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-secondary:active {
  box-shadow: 0 1px 4px 0 rgba(26, 130, 226, 0.2);
  color: #1a82e2;
}

/* line 71, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-danger {
  color: #b71c1c;
  background: #fff;
  border-color: rgba(183, 28, 28, 0.4);
}
/* line 76, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger.is-active {
  color: #b71c1c;
  background: rgba(183, 28, 28, 0.1);
}
/* line 83, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-danger:active {
  box-shadow: 0 1px 4px 0 rgba(26, 130, 226, 0.2);
  color: #b71c1c;
}

/* line 89, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.is-btn-disabled {
  color: #fff;
  pointer-events: none;
  cursor: default;
  background: rgba(158, 158, 158, 0.8);
  border-color: #9e9e9e;
}
/* line 97, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.is-btn-disabled:hover {
  background: rgba(158, 158, 158, 0.8);
}
/* line 101, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.is-btn-disabled:active {
  box-shadow: none;
}
/* line 105, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.is-btn-disabled.btn-secondary, .is-btn-disabled.btn-danger {
  color: #9e9e9e;
  background: #fff;
  border-color: #9e9e9e;
}

/* line 113, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-small {
  padding: 8px 18px 4px;
}

/* line 117, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-dropdown {
  padding-right: 36px;
  padding-left: 18px;
}
/* line 121, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-dropdown:before {
  font-family: 'styleguideicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 12px;
  right: 13px;
  color: inherit;
  content: "î¤€";
}
/* line 130, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-dropdown.btn-small {
  padding-right: 30px;
  padding-left: 20px;
}
/* line 134, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-dropdown.btn-small:before {
  top: 7px;
  right: 10px;
}
/* line 139, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-dropdown.btn-small.btn-dropdown-gear {
  padding: 0 15px 0 10px;
}
/* line 144, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-dropdown.btn-small.btn-dropdown-gear:before {
  top: 3px;
  right: 1px;
}

/* line 152, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-dropdown-gear {
  padding: 11px 15px 8px 10px;
  border: 0;
}
/* line 156, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-dropdown-gear > .sg-icon {
  font-size: 18px;
  color: #c2c2c2;
}
/* line 161, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-dropdown-gear:before {
  top: 14px;
  right: 0;
  font-size: 16px;
  color: #c2c2c2;
}

/* line 169, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-with-icon {
  padding-right: 18px;
  padding-left: 45px;
}
/* line 173, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-with-icon .sg-icon {
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: 16px;
}
/* line 180, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-with-icon.btn-small {
  padding-right: 18px;
  padding-left: 39px;
}
/* line 184, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-with-icon.btn-small .sg-icon {
  top: 7px;
  left: 13px;
  font-size: 15px;
}

/* line 192, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-on-dark.btn-secondary {
  color: #fff;
  background: transparent;
  border-color: rgba(255, 255, 255, 0.6);
}
/* line 197, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-on-dark.btn-secondary:hover, .btn-on-dark.btn-secondary:focus, .btn-on-dark.btn-secondary.is-active {
  background: rgba(255, 255, 255, 0.1);
  border-color: #fff;
}
/* line 204, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-on-dark.btn-secondary.is-btn-disabled {
  color: #9e9e9e;
  border-color: #9e9e9e;
}
/* line 208, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-on-dark.btn-secondary.is-btn-disabled:hover, .btn-on-dark.btn-secondary.is-btn-disabled:focus {
  background: inherit;
}

/* line 215, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-on-dark.btn-primary.is-btn-disabled {
  background: rgba(158, 158, 158, 0.5);
  border-color: #9e9e9e;
}

/* line 224, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-group {
  display: inline-block;
}
/* line 227, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-group > .btn-group-item {
  float: left;
  padding-right: 18px;
  padding-left: 18px;
  margin: 0;
  color: #1a82e2;
  background: #fff;
  border-color: rgba(26, 130, 226, 0.8);
}
/* line 236, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-group > .btn-group-item:hover {
  background: rgba(26, 130, 226, 0.1);
}
/* line 240, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-group > .btn-group-item:active {
  box-shadow: 0 1px 4px 0 rgba(26, 130, 226, 0.2);
}
/* line 244, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-group > .btn-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 249, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-group > .btn-group-item:last-child {
  margin-left: -1px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}
/* line 255, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-group > .btn-group-item:not(:first-child):not(:last-child) {
  margin-left: -1px;
  border-radius: 0;
}
/* line 260, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_buttons.scss */
.btn-group > .btn-group-item.is-active {
  color: #fff;
  background: rgba(26, 130, 226, 0.8);
  border-color: #1a82e2;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.code {
  padding: 1px;
  font-family: "Andale Mono", Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 15px;
  color: #294661;
  background-color: #fbfbfc;
  border: 1px solid #e9ecef;
}

/* line 10, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.code-example-container {
  margin: 12px 0 60px;
  background: rgba(41, 70, 97, 0.05);
}

/* line 15, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.code-example-container-dark-bg {
  background: #294661;
}

/* line 19, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.code-example-rendered {
  padding: 27px 27px 0;
  margin-bottom: 27px;
}
/* line 23, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.code-example-rendered .container {
  line-height: 60px;
  background: rgba(41, 70, 97, 0.05);
}

/* line 29, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.code-example-markup {
  line-height: 20px;
}
/* line 32, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.code-example-markup .html {
  font-family: "Andale Mono", Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 13px;
}
/* line 37, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.code-example-markup .hljs-tag {
  word-wrap: break-word;
}

/* line 44, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.show-grid [class^=col-] p {
  font-size: 13px;
  line-height: 60px;
  text-align: center;
  background: rgba(41, 70, 97, 0.1);
}
/* line 53, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_code.scss */
.show-grid [class^=col-6] p {
  margin-bottom: 0;
}

/* line 3, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert {
  width: 330px;
  padding: 18px 30px;
  background: #fbfbfc;
  border: 1px solid #e9ecef;
  box-shadow: 0 2px 6px 0 rgba(41, 70, 97, 0.2);
}

/* line 11, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.sg-modal .conf-alert {
  margin-top: -40px;
  opacity: 0;
  transition: margin-top .4s, opacity .4s;
}

/* line 17, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.sg-modal.show .conf-alert {
  margin-top: 0;
  opacity: 1;
}

/* line 22, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert-header {
  font-family: Colfax-Medium, 'Proxima N W15 Smbd', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #294661;
}

/* line 31, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert-header-with-icon {
  position: relative;
  padding-left: 20px;
}
/* line 35, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert-header-with-icon i {
  position: absolute;
  top: 0;
  left: -10px;
}

/* line 42, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert-body {
  margin-top: 12px;
}

/* line 46, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert-text {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 18px;
  color: #294661;
}
/* line 52, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert-text:last-child {
  margin-bottom: 0;
}

/* line 57, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert-actions {
  margin-top: 20px;
  text-align: right;
}
/* line 61, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert-actions .btn {
  margin-left: 12px;
}
/* line 64, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_confirmation_alert.scss */
.conf-alert-actions .btn:first-child {
  margin-left: 0;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown {
  position: relative;
  cursor: pointer;
}
/* line 5, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown.is-active .dropdown-menu {
  top: 100%;
  z-index: 1000;
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

/* line 14, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-menu {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  padding: 10px 0;
  margin: 1px -1px;
  overflow: hidden;
  cursor: default;
  background: #fbfbfc;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 6px 0 rgba(41, 70, 97, 0.1);
  transition: all .5s;
}

/* line 35, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-menu-account {
  width: 175px;
  margin-right: 2px;
  margin-left: 2px;
}

/* line 41, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-menu-right-aligned {
  right: 0;
  left: inherit;
}

/* line 46, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-link {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  display: block;
  padding: 10px 30px 7px;
  font-size: 13px;
  line-height: 18px;
  color: rgba(41, 70, 97, 0.6);
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
/* line 59, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-link:hover {
  color: #294661;
  background: #e9ecef;
}

/* line 65, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-link-with-icon {
  padding: 10px 30px 7px 20px;
}
/* line 68, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-link-with-icon .sg-icon {
  margin: 0 10px 0 0;
  vertical-align: text-bottom;
}

/* line 74, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-text {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  display: block;
  padding: 10px 30px 7px;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
}

/* line 85, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-item {
  margin: 5px 25px;
}

/* line 89, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_dropdown.scss */
.dropdown-input {
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_links.scss */
.link {
  color: rgba(26, 130, 226, 0.8);
  text-decoration: none;
}
/* line 5, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_links.scss */
.link:hover {
  color: #1a82e2;
}

/* line 6, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-container {
  font-family: ProximaNova-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  min-height: 100%;
  text-align: center;
  background: rgba(41, 70, 97, 0.02);
}

/* line 13, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-modals, .setup-modal {
  margin: 40px auto;
  padding: 20px 10px;
}

/* line 17, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-modal, .login-ad-modal {
  position: relative;
  display: inline-block;
  width: 400px;
  min-height: 510px;
  vertical-align: top;
  background: rgba(255,255,255,0.9);
  // box-shadow: 2px 2px 6px 0 rgba(41, 70, 97, 0.1);
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.9);
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -moz-opacity:0.9;
}
.signup-modal{
  padding: 20px 0 20px;

}
.signup-modal, .signup-ad-modal {
  position: relative;
  display: inline-block;
  width: 400px;
  min-height: 580px;
  vertical-align: top;
  background: rgba(255,255,255,0.9);
  // box-shadow: 2px 2px 6px 0 rgba(41, 70, 97, 0.1);
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.9);
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -moz-opacity:0.9;
}
.setup-modal, .setup-ad-modal {
  position: relative;
  display: inline-block;
  width: 60%;
  min-height: 580px;
  vertical-align: top;
  background: rgba(255,255,255,0.9);
  // box-shadow: 2px 2px 6px 0 rgba(41, 70, 97, 0.1);
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.9);
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -moz-opacity:0.9;
}

/* line 27, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-modal-table {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 33, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-modal-body {
  display: table-cell;
  vertical-align: middle;
  height: 510px;
}

/* line 39, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-modal-table-row {
  display: table-row;
}

/* line 43, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-logo {
  text-align: center;
  // margin-top: 30px;
}
.login-logo h1{
  color: #ed9c28;
  font-weight: bold;
}
/* line 47, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-logo img {
  width: 246px;
}

/* line 52, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-form {
  margin: 30px 0 0;
  text-align: left;
}

/* line 57, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-input-text {
  margin: 40px 0 0;
}
.select2-container{
  margin: 25px 0 0;
}

/* line 61, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-link {
  display: block;
  font-size: 13px;
  text-align: right;
}

/* line 67, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-password-options {
  margin-top: 10px;
  font-size: 13px;
}

/* line 72, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-btn {
  margin: 30px 0;
  text-align: center;
}

.verify-btn {
  width: 25%;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.start-over-btn {
  margin-top: 15px;
}

.code-txt {
  text-align: left;
}

/* line 77, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-modal-footer {
  width: 100%;
  font-size: 13px;
  background: rgba(158, 158, 158, 0.1);
  height: 71px;
  display: table-cell;
  vertical-align: middle;
}

/* line 86, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-error-banner {
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px 0;
  color: #b71c1c;
  text-align: center;
  background: rgba(183, 28, 28, 0.15);
  align-items: center;
  justify-content: center;
}

/* line 98, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-error-banner-items {
  display: inline-block;
  width: 445px;
  margin: 0 10px;
}

/* line 104, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-error-banner-item {
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

/* line 111, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-error-banner-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-top: 1px;
  font-family: Verdana;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  border: 1px solid #b71c1c;
  border-radius: 100%;
}

/* line 124, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-error-banner-close {
  font-family: Colfax-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  display: inline-block;
  height: 27px;
  font-size: 32px;
  cursor: pointer;
}

/* line 132, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-form-errors {
  position: relative;
  width: 100%;
  margin: 30px 0;
  padding: 15px 0;
  color: #b71c1c;
  background: rgba(183, 28, 28, 0.15);
  font-size: 13px;
  line-height: 18px;
}

/* line 143, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-form-error {
  display: block;
}

/* line 147, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-ad-modal {
  left: -3px;
}
/* line 149, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_login.scss */
.login-ad-modal iframe {
  width: 100%;
  height: 100%;
}

/* line 11, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_meters.scss */
.meter-container {
  margin-top: 13px;
  line-height: 11px;
}

/* line 16, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_meters.scss */
.meter-title {
  font-family: ProximaNova-Semibold, 'Proxima N W15 Smbd', Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  color: rgba(41, 70, 97, 0.8);
  text-transform: uppercase;
}

/* line 24, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_meters.scss */
.meter-value {
  font-family: ProximaNova-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  color: rgba(41, 70, 97, 0.8);
  white-space: nowrap;
}

/* line 32, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_meters.scss */
.meter-bar {
  width: 100%;
  height: 10px;
  margin-top: 3px;
  background: transparent;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}

/* line 41, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_meters.scss */
.meter-bar-fill {
  height: 8px;
  border-radius: 4px;
}
/* line 45, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_meters.scss */
.meter-bar-fill.is-below-25 {
  background: #b71c1c;
}
/* line 46, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_meters.scss */
.meter-bar-fill.is-below-50 {
  background: #f90;
}
/* line 47, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_meters.scss */
.meter-bar-fill.is-above-50 {
  background: #18c96e;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_modals.scss */
.modal-title {
  font-family: Colfax-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  float: left;
  margin-top: 7px;
  font-size: 20px;
  line-height: 30px;
  color: #294661;
  text-transform: none;
}

/* line 11, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_modals.scss */
.modal-open {
  overflow: hidden;
}

/* line 15, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_modals.scss */
.sg-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20000;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity .35s;
}
/* line 28, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_modals.scss */
.sg-modal.show {
  opacity: 1;
}

/* line 33, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_modals.scss */
.sg-modal-content {
  position: absolute;
  top: 150px;
  left: 50%;
}
/* line 39, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_modals.scss */
.sg-modal-content.conf-alert {
  margin-left: -165px;
}

/* line 7, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.pages {
  margin-top: 50px;
}

/* line 11, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.page {
  margin-bottom: 30px;
  cursor: pointer;
}
/* line 16, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.page.is-active .page-link {
  opacity: 1;
}
/* line 20, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.page.is-active .subpages {
  display: block;
}

/* line 26, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.page-link {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  padding-left: 26px;
  color: #294661;
  text-decoration: none;
  opacity: 0.6;
  box-sizing: border-box;
}
/* line 38, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.page-link:hover {
  text-decoration: none;
  opacity: 0.8;
}
/* line 43, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.page-link.is-active .page-link {
  opacity: 1;
}

/* line 48, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.page-expand-icon {
  position: absolute;
  top: 4px;
  right: 13px;
}

/* line 54, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.page-title {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  margin-left: 10px;
  font-size: 13px;
}

/* line 60, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.page-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

/* line 67, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.subpages {
  display: none;
  margin-top: 15px;
}

/* line 72, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.subpage-link {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  display: block;
  width: 100%;
  padding: 5px;
  padding-right: 10px;
  padding-left: 29px;
  font-size: 13px;
  line-height: 18px;
  color: #294661;
  text-decoration: none;
  opacity: 0.6;
  box-sizing: border-box;
}
/* line 88, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.subpage-link:hover {
  opacity: 0.8;
}

/* line 93, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.subpage.is-active .subpage-link {
  color: #1a82e2;
  opacity: 1;
}

/* line 98, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.subpage-title.is-indented {
  margin-left: 15px;
}

/* line 102, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pages.scss */
.subpage.feature-toggle-hidden {
  display: none;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pagination.scss */
.pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  clear: both;
  text-align: center;
}

/* line 9, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pagination.scss */
.pagination-prev {
  float: left;
}

/* line 13, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pagination.scss */
.pagination-next {
  float: right;
}

/* line 17, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pagination.scss */
.pagination-links {
  display: inline-block;
  margin-top: 10px;
}

/* line 22, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pagination.scss */
.pagination-link {
  padding: 8px;
  font-size: 13px;
  color: #294661;
  text-decoration: none;
  cursor: pointer;
}
/* line 29, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pagination.scss */
.pagination-link:hover, .pagination-link.is-active {
  color: #1a82e2;
}
/* line 34, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pagination.scss */
.pagination-link.is-active {
  font-family: ProximaNova-Semibold, 'Proxima N W15 Smbd', Helvetica, sans-serif;
}

/* line 39, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_pagination.scss */
.pagination-ellipses {
  padding: 10px;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-container {
  min-height: 40px;
  margin-right: auto;
  margin-left: auto;
}

/* line 9, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages {
  position: relative;
  padding: 0;
  margin-left: 30px;
  list-style: none;
}
/* line 15, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 80px;
  color: #546b81;
  background-color: transparent;
  border: 1px solid #546b81;
  border-radius: 50%;
  opacity: .6;
}
/* line 27, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:after {
  display: block;
  width: 75px;
  margin-top: 6px;
  margin-left: 17px;
  border-bottom: 1px solid #546b81;
  content: '';
  opacity: .5;
}
/* line 37, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:before {
  font-family: Colfax-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  position: absolute;
  padding-top: 3px;
  padding-left: 4px;
  font-size: 9px;
}
/* line 45, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:nth-child(1):before {
  content: '1';
}
/* line 49, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:nth-child(2):before {
  content: '2';
}
/* line 53, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:nth-child(3):before {
  content: '3';
}
/* line 57, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:nth-child(4):before {
  content: '4';
}
/* line 61, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:nth-child(5):before {
  content: '5';
}
/* line 65, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:nth-child(6):before {
  content: '6';
}
/* line 69, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:nth-child(7):before {
  content: '7';
}
/* line 73, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:nth-child(8):before {
  content: '8';
}
/* line 77, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:nth-child(9):before {
  content: '9';
}
/* line 81, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:first-child {
  margin-left: 5px;
}
/* line 85, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li:last-child:after {
  display: none;
}
/* line 89, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li label {
  position: absolute;
  bottom: -25px;
  left: -33px;
  width: 80px;
  font-size: 12px;
  text-align: center;
  opacity: .8;
}
/* line 99, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li.selected, .progress-stages li.done {
  background-color: #546b81;
  opacity: 1;
}
/* line 107, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li.selected:before, .progress-stages li.done:before {
  color: #fff;
}
/* line 112, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li.selected label {
  font-family: ProximaNova-Semibold, 'Proxima N W15 Smbd', Helvetica, sans-serif;
}
/* line 116, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_progress_stages.scss */
.progress-stages li.done:before {
  font-family: 'styleguideicons';
  font-size: 6px;
  content: "î¤…";
  speak: none;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch {
  font-family: ProximaNova-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline-block;
  font-size: 10px;
  background: #fff;
  border: 1px solid rgba(41, 70, 97, 0.2);
  border-radius: 2px;
}
/* line 12, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch.is-switch-disabled .switch-selector {
  background: #9e9e9e;
}
/* line 16, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch.is-switch-disabled .switch-label {
  cursor: default;
}

/* line 22, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch-checkbox {
  display: none;
}

/* line 26, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch-label {
  position: relative;
  z-index: 120;
  font-size: 0;
  cursor: pointer;
}

/* line 33, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch-option {
  position: relative;
  z-index: 120;
  display: inline-block;
  width: 29px;
  height: 28px;
  font-size: 10px;
  line-height: 30px;
  color: rgba(41, 70, 97, 0.6);
  text-align: center;
  text-transform: uppercase;
  transition: color .25s;
}

/* line 48, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch-option-off {
  color: #fff;
}

/* line 52, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch-selector {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 110;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #1a82e2;
  border-radius: 2px;
  transition: left .25s;
}

/* line 67, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch-checkbox:checked ~ .switch-selector {
  left: 30px;
}
/* line 72, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch-checkbox:checked ~ .switch-label .switch-option-off {
  color: rgba(41, 70, 97, 0.6);
}
/* line 76, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_switches.scss */
.switch-checkbox:checked ~ .switch-label .switch-option-on {
  color: #fff;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatches {
  margin-bottom: 60px;
}

/* line 5, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch {
  height: 90px;
  margin-bottom: 12px;
}
/* line 9, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.sg-blue {
  background-color: #1a82e2;
}
/* line 13, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.slate {
  background-color: #294661;
}
/* line 17, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.ron-burgundy {
  background-color: #b71c1c;
}
/* line 21, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.burnt-orange {
  background-color: #ff5722;
}
/* line 25, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.carrot {
  background-color: #f90;
}
/* line 29, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.mango {
  background-color: #fdd835;
}
/* line 33, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.mantis {
  background-color: #18c96e;
}
/* line 37, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.spruce {
  background-color: #4cb04f;
}
/* line 41, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.grass-stain {
  background-color: #8ac24a;
}
/* line 45, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.lime {
  background-color: #cbdb39;
}
/* line 49, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.cobalt {
  background-color: #303f9f;
}
/* line 53, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.bluebird {
  background-color: #2196f3;
}
/* line 57, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.seafoam {
  background-color: #00bcd4;
}
/* line 61, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.caribbean {
  background-color: #00e5ff;
}
/* line 65, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.crown {
  background-color: #7b1fa2;
}
/* line 69, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.screample {
  background-color: #7c4dff;
}
/* line 73, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.sangria {
  background-color: #880e4f;
}
/* line 77, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.lavender {
  background-color: #dea7e8;
}
/* line 81, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.wild-strawberry {
  background-color: #ff4081;
}
/* line 85, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.steel {
  background-color: #9e9e9e;
}
/* line 89, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.logo-accent-light {
  background-color: #99e1f4;
}
/* line 93, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.logo-accent-medium {
  background-color: #00b3e3;
}
/* line 97, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch.logo-accent-dark {
  background-color: #009dd9;
}

/* line 102, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch-details {
  margin-bottom: 27px;
}
/* line 105, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch-details p {
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 18px;
}
/* line 111, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch-details .title {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  color: #294661;
}
/* line 116, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/_swatches.scss */
.swatch-details .chart-usage {
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 15px;
  color: #546b81;
  text-transform: uppercase;
}

/* line 2, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
input:focus, input:active {
  outline: 0;
}

/* line 8, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info,
.input-text-info {
  display: inline-block;
  padding-top: 6px;
  font-size: 12px;
  line-height: 15px;
}
/* line 15, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info.danger,
.input-text-info.danger {
  color: #b71c1c;
}

/* line 20, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap {
  position: relative;
}
/* line 25, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-focused .input-text-label, .input-text-wrap.has-value .input-text-label {
  top: -15px;
  font-size: 13px;
  line-height: 15px;
}
/* line 33, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-required:before {
  position: absolute;
  top: 9px;
  left: -9px;
  width: 4px;
  height: 4px;
  background: #b71c1c;
  border-radius: 4px;
  content: '';
}
/* line 46, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-disabled .input-text-label {
  color: rgba(158, 158, 158, 0.4);
}
/* line 50, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-disabled [type="text"],
.input-text-wrap.is-disabled [type="password"],
.input-text-wrap.is-disabled [type="number"],
.input-text-wrap.is-disabled [type="email"],
.input-text-wrap.is-disabled [type="tel"] {
  pointer-events: none;
  border-bottom-color: rgba(158, 158, 158, 0.4);
}
/* line 61, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-error [type="text"],
.input-text-wrap.is-error [type="password"],
.input-text-wrap.is-error [type="number"],
.input-text-wrap.is-error [type="email"],
.input-text-wrap.is-error [type="tel"] {
  border-bottom-color: #b71c1c;
  box-shadow: #b71c1c 0 1px 0;
}
/* line 72, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-search:before {
  font-family: 'styleguideicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 4px;
  right: 0;
  content: "î¤†";
}
/* line 80, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-search.is-focused:before {
  font-weight: bold;
  color: #1a82e2;
}
/* line 87, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-large .input-text-label {
  top: 0;
  font-size: 18px;
  line-height: 27px;
}
/* line 93, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-large [type="text"],
.input-text-wrap.is-large [type="password"],
.input-text-wrap.is-large [type="number"],
.input-text-wrap.is-large [type="email"],
.input-text-wrap.is-large [type="tel"] {
  font-size: 18px;
  line-height: 27px;
}
/* line 105, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-wrap.is-large.is-focused .input-text-label, .input-text-wrap.is-large.has-value .input-text-label {
  top: -15px;
  font-size: 12px;
  line-height: 15px;
}

/* line 113, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
[type="text"],
[type="password"],
[type="number"],
[type="email"],
[type="tel"] {
  font-family: ProximaNova-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  display: block;
  width: 100%;
  padding: 0;
  font-size: 13px;
  line-height: 25px;
  color: #294661;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #d4dadf;
  box-shadow: transparent 0 1px 0;
  transition: .3s border-color, .3s box-shadow;
}
/* line 131, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
[type="text"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="email"]:focus,
[type="tel"]:focus {
  border-color: #1a82e2;
  box-shadow: #1a82e2 0 1px 0;
}
/* line 136, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
[type="text"]:disabled,
[type="password"]:disabled,
[type="number"]:disabled,
[type="email"]:disabled,
[type="tel"]:disabled {
  background: transparent;
}

/* line 141, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-text-label {
  position: absolute;
  top: 4px;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  pointer-events: none;
  transition: .3s top, .3s font-size;
  transition-timing-function: cubic-bezier(0.02, 0.01, 0.47, 1);
}

/* line 152, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-icon {
  position: absolute;
  top: 4px;
  right: 0;
  color: #a9b5c0;
  cursor: pointer;
  transition: .3s color;
}
/* line 160, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-icon:hover, .input-info-icon.is-hovered {
  color: #294661;
}

/* line 166, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-popup {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  position: absolute;
  left: -10000px;
  z-index: 19000;
  width: 240px;
  padding: 12px;
  margin-left: 6px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background: #294661;
  border-radius: 2px;
  opacity: 0;
  transition: .3s opacity, 0s left .3s;
}
/* line 182, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-popup:after {
  position: absolute;
  top: 50%;
  left: -3px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: #294661;
  border-radius: 2px;
  content: '';
  transform: rotate(45deg);
}
/* line 195, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-popup p {
  margin-bottom: 12px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
/* line 201, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-popup p:last-child {
  margin-bottom: 0;
}
/* line 206, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-popup a {
  color: #fff;
  text-decoration: underline;
}
/* line 211, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-popup.is-visible {
  left: 100%;
  overflow: visible;
  opacity: 1;
  transition: .5s opacity;
}
/* line 219, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-popup.is-aligned-right.is-visible {
  right: 22px;
  left: auto;
}
/* line 224, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-info-popup.is-aligned-right:after {
  right: -3px;
  left: auto;
}

/* line 231, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fbfbfc;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(41, 70, 97, 0.1);
}
/* line 241, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-search-results .loading {
  display: none;
}
/* line 244, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.input-search-results .loading.is-visible {
  display: block;
}

/* line 250, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.search-results-title,
.search-result {
  padding: 9px 18px 9px 30px;
  font-size: 13px;
  line-height: 18px;
}

/* line 257, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.search-results-title {
  font-family: ProximaNova-Regular, 'Proxima N W15 Reg', Helvetica, sans-serif;
  margin-bottom: 0;
  color: #294661;
  background: rgba(26, 130, 226, 0.1);
}

/* line 264, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.search-result {
  overflow: hidden;
  color: #546b81;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: .3s color, .3s background-color;
}
/* line 271, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_text_input.scss */
.search-result:hover {
  color: #294661;
  cursor: pointer;
  background-color: #f4f6f7;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select-wrap {
  position: relative;
  width: 100%;
}
/* line 5, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select-wrap .input-select-label {
  font-size: 14px;
  line-height: 15px;
  cursor: pointer;
}
/* line 13, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select-wrap.is-required .input-select:before,
.input-select-wrap.is-required .select2-container:before {
  position: absolute;
  top: 9px;
  left: -10px;
  width: 4px;
  height: 4px;
  background: #b71c1c;
  border-radius: 4px;
  content: ' ';
}
/* line 28, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select-wrap.is-disabled .input-select-label {
  cursor: default;
}
/* line 32, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select-wrap.is-disabled .input-select-label,
.input-select-wrap.is-disabled .input-select:after {
  color: rgba(158, 158, 158, 0.4);
}
/* line 40, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select-wrap.is-error .input-select-label {
  color: #7f90a0;
}
/* line 44, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select-wrap.is-error .input-select,
.input-select-wrap.is-error .select2-container {
  border-bottom-color: #b71c1c;
  box-shadow: #b71c1c 0 1px 0;
}

/* line 52, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select {
  position: relative;
  background-color: transparent;
  // border-bottom: 1px solid #d4dadf;
  outline: 0;
  // box-shadow: transparent 0 1px 0;
  transition: .3s border-color, .3s box-shadow;
}
/* line 59, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select:after {
  font-family: 'styleguideicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 5px;
  right: 0;
  color: #7f90a0;
  pointer-events: none;
  content: "î¤€";
}
/* line 69, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select select {
  font-family: ProximaNova-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  display: block;
  width: 100%;
  height: 25px;
  font-size: 13px;
  line-height: 25px;
  color: #294661;
  background-color: transparent;
  border: 0;
  outline: 0;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-margin-start: -3px;
}
/* line 85, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #294661;
}
/* line 90, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select select::-ms-expand {
  display: none;
}
/* line 94, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select select[disabled] {
  color: rgba(158, 158, 158, 0.4);
  background-color: transparent;
}
/* line 100, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select.scss */
.input-select.is-focused {
  border-bottom-color: #1a82e2;
  box-shadow: #1a82e2 0 1px 0;
}

/* line 3, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container {
  position: relative;
  display: block;
  font-size: 13px;
  border-bottom: 1px solid #d4dadf;
  outline: 0;
  box-shadow: transparent 0 1px 0;
  transition: .3s border-color, .3s box-shadow;
}
/* line 12, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container [type="search"] {
  -webkit-appearance: textfield;
}
/* line 16, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 20, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container ::-webkit-input-placeholder {
  color: #546b81;
}
/* line 24, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container :-moz-placeholder {
  color: #546b81;
}
/* line 28, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container ::-moz-placeholder {
  color: #546b81;
}
/* line 32, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container :-ms-input-placeholder {
  color: #7f90a0;
}
/* line 36, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--single {
  display: block;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
  user-select: none;
}
/* line 43, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--single .select2-selection__placeholder {
  color: #546b81;
}
/* line 47, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--single .select2-selection__clear {
  right: 16px;
}
/* line 51, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--single .select2-selection__arrow:before {
  font-family: 'styleguideicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 5px;
  right: 0;
  color: #7f90a0;
  content: "î¤€";
}
/* line 60, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}
/* line 65, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--multiple {
  display: block;
  min-height: 25px;
  outline: 0;
  -webkit-user-select: none;
  user-select: none;
}
/* line 72, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--multiple .select2-selection__placeholder {
  color: #7f90a0;
}
/* line 76, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--multiple .select2-selection__clear {
  right: 0;
}
/* line 80, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--multiple .select2-selection__choice {
  float: left;
  padding: 0 6px;
  margin-top: 3px;
  margin-right: 6px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  cursor: default;
  background-color: #1a82e2;
  border-radius: 2px;
}
/* line 93, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection--multiple .select2-selection__choice__remove {
  font-family: ProximaNova-Semibold, 'Proxima N W15 Smbd', Helvetica, sans-serif;
  display: inline-block;
  margin-right: 6px;
  color: #fff;
  cursor: pointer;
}
/* line 102, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection__rendered {
  display: block;
  overflow: hidden;
  line-height: 25px;
  color: #294661;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: 0;
}
/* line 112, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection__clear {
  position: absolute;
  top: 1px;
  width: 16px;
  color: #7f90a0;
  text-align: center;
  cursor: pointer;
}
/* line 120, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-selection__clear:hover {
  color: #294661;
}
/* line 127, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-search--dropdown .select2-search__field {
  border: 0;
  border-bottom: 1px solid #d4dadf;
}
/* line 133, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-search--inline {
  float: left;
}
/* line 136, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-search--inline .select2-search__field {
  padding: 0;
  margin-top: 5px;
  font-size: 100%;
  border: 0;
}
/* line 143, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* line 148, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container.select2-container--focus {
  border-bottom-color: #1a82e2;
  box-shadow: #1a82e2 0 1px 0;
}
/* line 153, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container.select2-container--disabled {
  border-bottom-color: rgba(158, 158, 158, 0.4);
  box-shadow: transparent 0 1px 0;
}
/* line 157, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container.select2-container--disabled ::-webkit-input-placeholder {
  color: rgba(158, 158, 158, 0.4);
}
/* line 161, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container.select2-container--disabled :-moz-placeholder {
  color: rgba(158, 158, 158, 0.4);
}
/* line 165, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container.select2-container--disabled ::-moz-placeholder {
  color: rgba(158, 158, 158, 0.4);
}
/* line 169, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container.select2-container--disabled :-ms-input-placeholder {
  color: rgba(158, 158, 158, 0.4);
}
/* line 173, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container.select2-container--disabled .select2-selection--single,
.select2-container.select2-container--disabled .select2-selection--multiple {
  cursor: default;
}
/* line 178, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container.select2-container--disabled .select2-selection__placeholder,
.select2-container.select2-container--disabled .select2-selection__arrow:before {
  color: rgba(158, 158, 158, 0.4);
}
/* line 183, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container.select2-container--disabled .select2-selection__clear,
.select2-container.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
/* line 190, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-results .select2-results__options {
  max-height: 234px;
  overflow-y: auto;
}
/* line 196, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-results__option[role=group] {
  padding: 0;
}
/* line 200, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-results__option[aria-disabled=true] {
  color: #9e9e9e;
}
/* line 204, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-results__option--highlighted[aria-selected],
.select2-container .select2-results__option[aria-selected=true],
.select2-container .select2-results__option--highlighted[aria-selected=true] {
  color: #294661;
}
/* line 210, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-results__option--highlighted[aria-selected] {
  background-color: #e9ecef;
}
/* line 214, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container .select2-results__option[aria-selected=true],
.select2-container .select2-results__option--highlighted[aria-selected=true] {
  background-color: #d4dadf;
}

/* line 220, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-dropdown {
  position: absolute;
  left: -100000px;
  z-index: 1051;
  display: block;
  width: 100%;
  background-color: #fbfbfc;
  border: 1px solid rgba(41, 70, 97, 0.1);
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(41, 70, 97, 0.1);
}

/* line 232, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-results {
  display: block;
}

/* line 236, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-results__group {
  font-family: Colfax-Medium, 'Proxima N W15 Smbd', Helvetica, sans-serif;
  display: block;
  padding: 9px 30px;
  font-weight: normal;
  color: #294661;
  cursor: default;
}

/* line 245, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-results__options {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 251, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-results__option {
  padding: 9px 30px;
  line-height: 18px;
  -webkit-user-select: none;
  user-select: none;
}
/* line 257, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-results__option[aria-selected] {
  cursor: pointer;
}

/* line 262, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container--open {
  border-bottom-color: #1a82e2;
  box-shadow: #1a82e2 0 1px 0;
}
/* line 266, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-container--open .select2-dropdown {
  left: 0;
}

/* line 271, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-search__field {
  font-family: ProximaNova-Light, 'Proxima N W15 Light', Helvetica, sans-serif;
  background-color: transparent;
}

/* line 276, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-search--dropdown {
  display: block;
  padding: 18px;
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
}
/* line 282, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-search--dropdown:before {
  font-family: 'styleguideicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 21px;
  right: 18px;
  z-index: 1;
  color: inherit;
  pointer-events: none;
  content: "î¤†";
}
/* line 293, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-search--dropdown.select2-search--hide {
  display: none;
}
/* line 297, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-search--dropdown .select2-search__field {
  position: relative;
  width: 100%;
  height: 25px;
  padding: 0;
  font-size: 13px;
  line-height: 25px;
  color: #7f90a0;
}
/* line 307, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 312, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-close-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 330, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_select2.scss */
.select2-hidden-accessible {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
}

/* line 1, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
.input-checkbox-wrap,
.input-radio-wrap {
  margin-bottom: 12px;
}

/* line 6, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
[type="checkbox"],
[type="radio"] {
  position: absolute;
  opacity: 0;
}
/* line 11, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
[type="checkbox"]:checked + .input-checkbox-label:before, [type="checkbox"]:checked + .input-radio-label:before,
[type="radio"]:checked + .input-checkbox-label:before,
[type="radio"]:checked + .input-radio-label:before {
  background-color: #1a82e2;
  border-color: rgba(41, 70, 97, 0.2);
}
/* line 17, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
[type="checkbox"]:checked + .input-checkbox-label:after, [type="checkbox"]:checked + .input-radio-label:after,
[type="radio"]:checked + .input-checkbox-label:after,
[type="radio"]:checked + .input-radio-label:after {
  position: absolute;
}
/* line 22, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
[type="checkbox"]:checked + .input-checkbox-label:after,
[type="radio"]:checked + .input-checkbox-label:after {
  font-family: 'styleguideicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 3px;
  left: 3px;
  font-size: 9px;
  color: #fff;
  content: "î¤…";
}
/* line 31, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
[type="checkbox"]:checked + .input-radio-label:after,
[type="radio"]:checked + .input-radio-label:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  content: '';
}
/* line 41, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
[type="checkbox"]:checked:focus + .input-checkbox-label:before, [type="checkbox"]:checked:focus + .input-radio-label:before,
[type="radio"]:checked:focus + .input-checkbox-label:before,
[type="radio"]:checked:focus + .input-radio-label:before {
  border-color: rgba(41, 70, 97, 0.6);
}
/* line 46, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
[type="checkbox"]:disabled + .input-checkbox-label, [type="checkbox"]:disabled + .input-radio-label,
[type="radio"]:disabled + .input-checkbox-label,
[type="radio"]:disabled + .input-radio-label {
  color: rgba(158, 158, 158, 0.8);
}
/* line 52, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
[type="checkbox"]:disabled + .input-checkbox-label:before, [type="checkbox"]:disabled + .input-radio-label:before,
[type="radio"]:disabled + .input-checkbox-label:before,
[type="radio"]:disabled + .input-radio-label:before {
  background-color: rgba(158, 158, 158, 0.1);
  border-color: rgba(158, 158, 158, 0.2);
}
/* line 58, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
[type="checkbox"]:focus + .input-checkbox-label:before, [type="checkbox"]:focus + .input-radio-label:before,
[type="radio"]:focus + .input-checkbox-label:before,
[type="radio"]:focus + .input-radio-label:before {
  border-color: #1a82e2;
}

/* line 64, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
.input-checkbox-label,
.input-radio-label {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  color: #294661;
  cursor: pointer;
}
/* line 73, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
.input-checkbox-label:before,
.input-radio-label:before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  text-indent: 0;
  vertical-align: top;
  background: #fff;
  border: 1px solid #d4dadf;
  content: '';
}
/* line 85, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
.input-checkbox-label:focus::before,
.input-radio-label:focus::before {
  border-color: #1a82e2;
}

/* line 91, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
.input-checkbox-label:before {
  border-radius: 2px;
}

/* line 97, /Users/jamesgary/style-guide/app/assets/stylesheets/style-guide/modules/forms/_checkbox_radio.scss */
.input-radio-label:before {
  border-radius: 50%;
}
