<ui-view ng-init="init_controller()">
    <div id="filters">
        <div id="paging">
            <span>
              [[ data.total ]] RESULTS
            </span>
            <span>
              <i class="fa fa-chevron-left"></i> [[ data.page ]] OF [[ data.pages ]] <i class="fa fa-chevron-right"></i>
            </span>
        </div>
        <div id="args">
            <span class="active">ONE</span>
            <span>TWO</span>
            <span>THREE</span>
            <span>FOUR</span>
            <span>FIVE</span>
            <span>SIX</span>
            <span>SEVEN</span>
        </div>
        <div id="search">
            <span><i class="fa fa-search"></i></span>
            <input type="text" name="search_q" placeholder="search" value="">
        </div>
    </div>
    <div class="table">
            <div class="thead tr">
                <span class="td">date</span>
                <span class="td">code</span>
                <span class="td">reference</span>
                <span class="td">address</span>
                <span class="td">state</span>
                <span class="td">country</span>
                <span class="td">continent</span>
                <span class="td center">Actions</span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
            <div class="tr">
<span class="td">
  MARCH 22, 2017
  <span class="caption">15:18</span>
</span>
                <span class="td">0895567</span>
                <span class="td">#eg7850ghb</span>
                <span class="td">
  jakande, isolo
  <span class="caption">oke-afa, ejigbo.</span>
</span>
                <span class="td">lagos</span>
                <span class="td">nigeria</span>
                <span class="td">africa</span>
                <span class="td center"><i class="fa fa-edit"></i> | <i class="fa fa-trash-o"></i></span>
            </div>
        </div>
    {% if show_form %}
        <div class="form col-md-12">
            <div class="col-md-8">
                <h6>Form Name</h6>
                <form class="" action="" method="post">
                    <div class="wrap full">
                        <div class="form-group">
                            <label for="">Device Name</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap half">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap half">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap third">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap quarter">
                        <div class="form-group">
                            <label for="">Device Code</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="">Device Brand</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea name="name"></textarea>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group check">
                            <input type="checkbox" name="name" value="">
                            <label for="">
                                Check
                                <span>description text goes in here. thanks......</span>
                            </label>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group">
                            <label for="">Select</label>
                            <select class="" name="">
                                <option>--- Select One ---</option>
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                                <option>Four</option>
                            </select>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="form-group actions pull-right">
                            <input type="submit" name="name" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <p>
                    Description Details
                </p>
            </div>
        </div>
    {% endif %}
</ui-view>