<ui-view>
    <div style="margin-top: -70px;">
        <div class="row c_g_r">
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-stage" id="fullTempChart" style="width: 100%;height:450px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row c_g_r">
            <div class="col-sm-6">
                <div class="chart-wrapper" style="">
                    <div class="chart-title">
                        Active Devices
                    </div>
                    <div class="chart-stage chart-map-large" style="height: 100%;max-height: 410px;overflow-y: scroll;">
                        <div class="table">
                            <div class="thead tr">
                                <span class="td">ID</span>
                                <span class="td">code</span>
                                <span class="td">Last Reading</span>
                                <span class="td">Location</span>
                                <span class="td center">Status</span>
                            </div>
                            <div class="tr">
                                <span class="td">0895567</span>
                                <span class="td">#eg7850ghb</span>
                            <span class="td">
                                MARCH 22, 2017
                                <span class="caption">15:18</span>
                            </span>
                            <span class="td">
                                jakande, isolo
                                <span class="caption">oke-afa, ejigbo.</span>
                            </span>
                                <span class="td center">Active</span>
                            </div>
                            <div class="tr">
                                <span class="td">0895567</span>
                                <span class="td">#eg7850ghb</span>
                            <span class="td">
                                MARCH 22, 2017
                                <span class="caption">15:18</span>
                            </span>
                            <span class="td">
                                jakande, isolo
                                <span class="caption">oke-afa, ejigbo.</span>
                            </span>
                                <span class="td center">Active</span>
                            </div>
                            <div class="tr">
                                <span class="td">0895567</span>
                                <span class="td">#eg7850ghb</span>
                            <span class="td">
                                MARCH 22, 2017
                                <span class="caption">15:18</span>
                            </span>
                            <span class="td">
                                jakande, isolo
                                <span class="caption">oke-afa, ejigbo.</span>
                            </span>
                                <span class="td center">Active</span>
                            </div>
                            <div class="tr">
                                <span class="td">0895567</span>
                                <span class="td">#eg7850ghb</span>
                            <span class="td">
                                MARCH 22, 2017
                                <span class="caption">15:18</span>
                            </span>
                            <span class="td">
                                jakande, isolo
                                <span class="caption">oke-afa, ejigbo.</span>
                            </span>
                                <span class="td center">Active</span>
                            </div>
                            <div class="tr">
                                <span class="td">0895567</span>
                                <span class="td">#eg7850ghb</span>
                            <span class="td">
                                MARCH 22, 2017
                                <span class="caption">15:18</span>
                            </span>
                            <span class="td">
                                jakande, isolo
                                <span class="caption">oke-afa, ejigbo.</span>
                            </span>
                                <span class="td center">Active</span>
                            </div>
                            <div class="tr">
                                <span class="td">0895567</span>
                                <span class="td">#eg7850ghb</span>
                            <span class="td">
                                MARCH 22, 2017
                                <span class="caption">15:18</span>
                            </span>
                            <span class="td">
                                jakande, isolo
                                <span class="caption">oke-afa, ejigbo.</span>
                            </span>
                                <span class="td center">Active</span>
                            </div>
                            <div class="tr">
                                <span class="td">0895567</span>
                                <span class="td">#eg7850ghb</span>
                            <span class="td">
                                MARCH 22, 2017
                                <span class="caption">15:18</span>
                            </span>
                            <span class="td">
                                jakande, isolo
                                <span class="caption">oke-afa, ejigbo.</span>
                            </span>
                                <span class="td center">Active</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Active Stations
                    </div>
                    <div class="chart-stage chart-map-small">
                        <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#46b8da;">
                            [[ data.stations.total ]]</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Connected Installations
                    </div>
                    <div class="chart-stage chart-map-small">
                        <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#47a447;">
                            [[ data.installations.total ]]</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Active Mesh Networks
                    </div>
                    <div class="chart-stage chart-map-small">
                        <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#d84a38;">
                            [[ data.meshes.total ]]</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Connected Devices
                    </div>
                    <div class="chart-stage chart-map-small">
                        <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#FF6E01;">
                            [[ data.devices.total ]]</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row c_g_r">
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-stage" id="fullHumidity" style="width: 100%;height:450px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row c_g_r">
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-stage" id="fullCoChart" style="width: 100%;height:450px;">
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/static/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/lib/jquery-knob/dist/jquery.knob.min.js"></script>
        <script type="text/javascript" src="/static/lib/keen-js/dist/keen.min.js"></script>
        <script type="text/javascript">

            var fullTempChart = echarts.init(document.getElementById('fullTempChart'));
            var fullTempChartOption = {
                title: {
                    text: 'Devices Map',
                    subtext: 'Geographical mapping of connected devices'
                },
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: {readOnly: false},
                        magicType: {type: ['line', 'bar']},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} °C'
                    }
                },
                series: [
                    {
                        name: 'High',
                        type: 'line',
                        data: [11, 11, 15, 13, 12, 13, 10],
                        markPoint: {
                            data: [
                                {type: 'max', name: 'Maximum'},
                                {type: 'min', name: 'Minimum'}
                            ]
                        },
                        markLine: {
                            data: [
                                {type: 'average', name: 'Average'}
                            ]
                        }
                    },
                    {
                        name: 'Low',
                        type: 'line',
                        data: [1, -2, 2, 5, 3, 2, 0],
                        markPoint: {
                            data: [
                                {name: 'Week Min', value: -2, xAxis: 1, yAxis: -1.5}
                            ]
                        },
                        markLine: {
                            data: [
                                {type: 'average', name: 'Average'},
                                [{
                                    symbol: 'none',
                                    x: '90%',
                                    yAxis: 'max'
                                }, {
                                    symbol: 'circle',
                                    label: {
                                        normal: {
                                            position: 'start',
                                            formatter: 'Max'
                                        }
                                    },
                                    type: 'max',
                                    name: 'Highest Point'
                                }]
                            ]
                        }
                    }
                ]
            };
            fullTempChart.setOption(fullTempChartOption);

            var fullHumidity = echarts.init(document.getElementById('fullHumidity'));
            var fullHumidityData = [];
            var data1 = [];
            var data2 = [];
            for (var i = 0; i < 100; i++) {
                fullHumidityData.push('Period' + i);
                data1.push((Math.sin(i / 5) * (i / 5 - 10) + i / 6) * 5);
                data2.push((Math.cos(i / 5) * (i / 5 - 10) + i / 6) * 5);
            }

            var fullHumidityOption = {
                title: {
                    text: 'Incident/Fault Map'
                },
                toolbox: {
                    // y: 'bottom',
                    feature: {
                        magicType: {
                            type: ['stack', 'tiled']
                        },
                        dataView: {},
                        saveAsImage: {
                            pixelRatio: 2
                        }
                    }
                },
                toolbox: {
                    feature: {
                        myTool1: {
                            show: true,
                            title: 'custom extension method 1',
                            icon: 'path://M432.45,595.444c0,2.177-4.661,6.82-11.305,6.82c-6.475,0-11.306-4.567-11.306-6.82s4.852-6.812,11.306-6.812C427.841,588.632,432.452,593.191,432.45,595.444L432.45,595.444z M421.155,589.876c-3.009,0-5.448,2.495-5.448,5.572s2.439,5.572,5.448,5.572c3.01,0,5.449-2.495,5.449-5.572C426.604,592.371,424.165,589.876,421.155,589.876L421.155,589.876z M421.146,591.891c-1.916,0-3.47,1.589-3.47,3.549c0,1.959,1.554,3.548,3.47,3.548s3.469-1.589,3.469-3.548C424.614,593.479,423.062,591.891,421.146,591.891L421.146,591.891zM421.146,591.891',
                            onclick: function () {
                                alert('myToolHandler1')
                            }
                        },
                        myTool2: {
                            show: true,
                            title: 'custom extension method',
                            icon: 'image://http://echarts.baidu.com/images/favicon.png',
                            onclick: function () {
                                alert('myToolHandler2')
                            }
                        }
                    }
                },
                tooltip: {},
                xAxis: {
                    data: fullHumidityData,
                    silent: false,
                    splitLine: {
                        show: false
                    }
                },
                yAxis: {},
                series: [{
                    name: 'Humidity',
                    type: 'bar',
                    data: data1,
                    animationDelay: function (idx) {
                        return idx * 10;
                    }
                }, {
                    name: 'Temperature',
                    type: 'bar',
                    data: data2,
                    animationDelay: function (idx) {
                        return idx * 10 + 100;
                    }
                }],
                animationEasing: 'elasticOut',
                animationDelayUpdate: function (idx) {
                    return idx * 5;
                }
            };
            fullHumidity.setOption(fullHumidityOption);

        </script>
    </div>
</ui-view>
