{% extends "customer/billings/index.html" %}
{% block breadcrumbs %}
        <div id="breadcrumbs" class="container-fluid">
            <ul id="action_navs">
            </ul>
            <span>Invoices</span>
        </div>
    {% endblock %}
{% block inner_body %}
    {% if results.total > 0 %}
        <div id="filters">
            {% include "customer/snippets/pagination.html" %}
            {% include "customer/snippets/list_view_filters.html" %}
            {% include "customer/snippets/list_search.html" %}
        </div>
        <div class="table">
            <div class="thead tr">
                <span class="td" style="width:100px;">date</span>
                <span class="td">code</span>
                <span class="td">month</span>
                <span class="td">year</span>
                <span class="td">service charge</span>
                <span class="td">billing amount</span>
                <span class="td">total</span>
            </div>
            {% for obj in results.items %}
                <div class="tr" onMouseOver="listItemHover({{ loop.index }})"
                     onMouseOut="listItemHoverOut({{ loop.index }})">
			<span class="td">
				{{ obj.date_created.strftime('%b %d, %Y') }}
				<span class="caption">{{ obj.date_created.strftime('%H:%M %p') }}</span>
			</span>
                    <span class="td"><a href="{{ url_for('.invoice_details', id=obj.id) }}">{{ obj.code }}</a></span>
                    <span class="td">{{ obj.month }}</span>
                    <span class="td">
				{{ obj.year }}
			</span>
                    <span class="td">{{ obj.service_charge }}</span>
                    <span class="td">{{ obj.billing_amount }}</span>
                    <span class="td">{{ obj.total_charge }}</span>
                    <div class="action_hover_container" id="action_hover_container_{{ loop.index }}">
                        <ul>
                            <li><a href="" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a></li>
                            <li><a href="" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% if length(request_args)>0 %}
            <div id="filters">
                {% include "customer/snippets/pagination.html" %}
                {% include "customer/snippets/list_view_filters.html" %}
                {% include "customer/snippets/list_search.html" %}
            </div>
            <div class="table">
                <div class="thead tr">
                    <span class="td" style="width: 100px;">date</span>
                    <span class="td">code</span>
                    <span class="td">month</span>
                    <span class="td">year</span>
                    <span class="td">service charge</span>
                    <span class="td">billing amount</span>
                    <span class="td">total</span>
                </div>

            </div>
            <div class="no_search_results">
                No Results found
            </div>
        {% else %}
            <div class="tr" id="empty_list_box">
                <h3 style="text-align: center">
                    No invoices yet
                </h3>
            </div>
        {% endif %}
    {% endif %}
{% endblock inner_body %}
