{% extends "customer/layout.html" %}
{% block subnav %}
    <nav id="subnav" ng-if="current_nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav" id="sub_links">
                    <li><a {% if request.path == url_for('.settings') %}class="active"{% endif %} rel=""
                           href="{{ url_for('.settings') }}">Basic Info.</a></li>
                    <li><a
                            href="">Notifications</a></li>

                    <li><a
                            href="{{ url_for('.dashboard', slug="billings") }}">Billing</a></li>
                </ul>

            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
{% endblock body %}
{% block page_js %}
    <script type="text/javascript">
        $('#page-content-wrapper').removeClass('no_sub_lnk');
        $(document).ready(function () {
            changeCities();
        });

        function changeCities() {
            var selected = $('#state option:selected').val();
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/fetch/state_cities/",
                data: selected,
                dataType: 'json',
                beforeSend: function () {
                    $("#city").empty();
                },
                success: function (data) {
                    data.map(function (i) {
                        $("#city").append("<option value=\"" + i.id + "\">" + i.name + "</option>");
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
            return false;
        }

        $('#state').change(function () {
            changeCities();
        })
    </script>
{% endblock page_js %}
