<div id="search">
                <form action="{{ request.path }}" method="get">
                    {% if view_q %}
                    <input type="hidden" name="view" value="{{ view_q }}">
                    {% endif %}
                    <input type="text" name="q" placeholder="{% if search_place_holder %}{{ search_place_holder }}{% else %}Search{% endif %}" value="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>