
.navbar-brand{
	font-size: 20px;
	font-weight: bold;
	font-family: "Karla", "Helvetica Neue", sans-serif;
	background-color: #455463;
	img.logo{
		width: 45px;
		margin-top: -12px;
	}
	img.logo_text{
		width: 80px;
			margin-top: -10px;
	}
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
	background-color: #455463;
}
.notifications-menu{
	span.label-warning{
		display: inline;
			padding: .2em .6em .3em;
			font-size: 65%;
			font-weight: 700;
			line-height: 1;
			color: #fff;
			text-align: center;
			white-space: nowrap;
			vertical-align: top;
			border-radius: 10px;
	}
}
.navbar-nav{
	li{
		img{
			width: 20px;
			margin-right: 5px;
		}
	}
}

/*
		Dropdown menus
----------------------------
*/
/*Dropdowns in general*/
.dropdown-menu {
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	z-index: 2300;
}
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
	margin-right: 10px;
}
.dropdown-menu > li > a:hover {
	background-color: #455463;
	color: #f9f9f9;
}
/*Drodown in navbars*/
.skin-blue .navbar .dropdown-menu > li > a {
	color: #444444;
}
/*
		Navbar custom dropdown menu
------------------------------------
*/
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
	width: 280px;
	padding: 0 0 0 0!important;
	margin: 0!important;
	top: 100%;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #ffffff;
	padding: 7px 10px;
	border-bottom: 1px solid #f4f4f4;
	color: #444444;
	font-size: 14px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
.navbar-nav > .messages-menu > .dropdown-menu > li.header:after,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header:after {
	bottom: 100%;
	left: 92%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	margin-left: -7px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 12px;
	background-color: #f4f4f4;
	padding: 7px 10px;
	border-bottom: 1px solid #eeeeee;
	color: #444444;
	text-align: center;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
	background: #f4f4f4;
	text-decoration: none;
	font-weight: normal;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
	display: block;
	white-space: nowrap;
	/* Prevent text from breaking */

	border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
	background: #f6f6f6;
	text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
	font-size: 12px;
	color: #444444;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
	font-size: 20px;
	width: 50px;
	text-align: center;
	padding: 15px 0px;
	margin-right: 5px;
	/* Default background and font colors */

	background: #00c0ef;
	color: #f9f9f9;
	/* Fallback for browsers that doesn't support rgba */

	color: rgba(255, 255, 255, 0.7);
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.danger,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.danger,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.danger {
	background: #f56954;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.warning,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.warning,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.warning {
	background: #f39c12;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.success,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.success,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.success {
	background: #00a65a;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.info,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.info,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.info {
	background: #00c0ef;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
	margin: 0px;
	line-height: 20px;
	padding: 10px 5px 10px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
	margin: auto 10px auto auto;
	width: 40px;
	height: 40px;
	border: 1px solid #dddddd;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
	padding: 0;
	margin: 0 0 0 45px;
	color: #444444;
	font-size: 15px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
	color: #999999;
	font-size: 10px;
	float: right;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
	margin: 0 0 0 45px;
	font-size: 12px;
	color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
	display: table;
	content: " ";
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
	clear: both;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
	padding: 10px;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
	font-size: 14px;
	padding: 0;
	margin: 0 0 10px 0;
	color: #666666;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
	padding: 0;
	margin: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 0;
	border-top-width: 0;
	width: 280px;
	box-shadow: 0px 1px 2px 0px #ccc;
}
.navbar-nav > .user-menu > .dropdown-menu:after {
	bottom: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: 175px;
	padding: 10px;
	background: #455463;
	text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
	z-index: 5;
	height: 90px;
	width: 90px;
	border: 8px solid;
	border-color: transparent;
	border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
	z-index: 5;
	color: #f9f9f9;
	color: rgba(255, 255, 255, 0.8);
	font-size: 17px;
	text-shadow: 2px 2px 3px #333333;
	margin-top: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
	display: block;
	font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body {
	padding: 15px;
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #dddddd;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
	display: table;
	content: " ";
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
	clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a {
	color: #0073b7;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
	background-color: #f9f9f9;
	padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
	display: table;
	content: " ";
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
	clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
	color: #666666;
}
/* Add fade animation to dropdown menus */
.open > .dropdown-menu {
	animation-name: fadeAnimation;
	animation-duration: .7s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-name: fadeAnimation;
	-webkit-animation-duration: .7s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: fadeAnimation;
	-moz-animation-duration: .7s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes fadeAnimation {
	from {
		opacity: 0;
		top: 120%;
	}
	to {
		opacity: 1;
		top: 100%;
	}
}
@-webkit-keyframes fadeAnimation {
	from {
		opacity: 0;
		top: 120%;
	}
	to {
		opacity: 1;
		top: 100%;
	}
}

.ascrail2000, .nicescroll-rails{
	div{
		background-color:#ed9c28 !important;
	}
}
.ascrail2000-hr, .nicescroll-rails{
	div{
		background-color:#ed9c28 !important;
	}
}
.ascrail2001, .nicescroll-rails{
	div{
		background-color:#ed9c28 !important;
	}
}
.ascrail2001-hr, .nicescroll-rails{
	div{
		background-color:#ed9c28 !important;
	}
}
#main-content{
	input, textarea,select,button,.btn{
		border-radius: 0 !important;
	}
	input:focus, textarea:focus,select:focus{
		border-color: #424A5D !important;
		box-shadow: inset 0 1px 1px rgba(66,74,93,0.5) !important;
		-webkit-box-shadow: inset 0 1px 1px rgba(66,74,93,0.5) !important;
		-moz-box-shadow: inset 0 1px 1px rgba(66,74,93,0.5) !important;
		-ms-box-shadow: inset 0 1px 1px rgba(66,74,93,0.5) !important;
	}
	input:hover, textarea:hover,select:hover{
		box-shadow: inset 0 1px 1px rgba(66,74,93,0.5) !important;
		-webkit-box-shadow: inset 0 1px 1px rgba(66,74,93,0.5) !important;
		-moz-box-shadow: inset 0 1px 1px rgba(66,74,93,0.5) !important;
		-ms-box-shadow: inset 0 1px 1px rgba(66,74,93,0.5) !important;
	}
	form{
		margin-bottom: 20px;
		.form-group{
			.col-sm-12{
				margin-bottom: 10px;
			}

			label{
				font-weight: bold;
				font-size: 14px;
			}
		}
	}
}

// Error Page
#fof{display:block; width:100%; margin:100px 0; line-height:1.6em; text-align:center;}
#fof .hgroup{text-transform:uppercase;}
#fof .hgroup h1{margin-bottom:25px; font-size:80px;}
#fof .hgroup h1 span{display:inline-block; margin-left:5px; padding:2px; border:1px solid #CCCCCC; overflow:hidden;}
#fof .hgroup h1 span strong{display:inline-block; padding:20px 20px 20px; border:1px solid #CCCCCC; font-weight:normal;}
#fof .hgroup h2{font-size:60px;}
#fof .hgroup h2 span{display:block; font-size:30px;}
#fof p{
	margin:25px 0 0 0; padding:0; font-size:16px;
	a{
		text-decoration: none;
		color: inherit;
	}
	a:hover{
		color: #ed9c28;
	}
}
#fof p:first-child{margin-top:0;}
.form{
	margin-top: -18px;
	.col-md-8{
			border-right: 1px solid #eee;
			padding: 10px 15px 20px 5px !important;
			box-shadow: 1px 0 1px #eee;
			h5, h6{
				padding: 10px 0;
				border-bottom: 1px solid #eee;
				font-weight: bold;
			}
			form{
				padding: 10px 0;
				.wrap{
					.form-group{
						width: 100%;
						label{
							display: block;
							margin-bottom: 5px;
							text-transform: uppercase;
							span{
								font-weight: normal;
								text-transform: none;
								font-size: 11px;
								color: #777;
								display: block;
							}
						}
						input, textarea{
							display: block;
							width: 100%;
						}
						textarea{
							max-width: 100%;
							height: 150px;
							max-height: 150px;
						}
						input[type="checkbox"], input[type="radio"]{
							width: auto !important;
							display: inline-block !important;

						}
					}
					.form-group.check{
						label{
							display: inline-block !important;
							margin-left: 5px;
						}
					}
					.form-group.actions{
						width: auto !important;
						margin-top:15px;
						display: inline-block;
						input{
							width: auto;
							padding: 5px 20px;
							background: transparent;
							display: inline-block;
							float: right;

						}
						input:hover{
							color: #000;
						}
					}
				}
				.wrap.half{
					.form-group{
						width: 49%;
						display: inline-block;
					}
					.form-group:nth-child(2){
						float: right;
					}
				}
				.wrap.third{
					.form-group{
						width: 32%;
						display: inline-block;
					}
					.form-group:nth-child(2){
						margin-left:2%;
					}
					.form-group:nth-child(3){
						float: right;
					}
				}
				.wrap.quarter{
					.form-group{
						width: 24%;
						display: inline-block;
					}
					.form-group:nth-child(2){
						margin-left: 1%;
					}
					.form-group:nth-child(3){
						margin-left: 1%;
						margin-right: 1%;
					}
					.form-group:nth-child(4){
						float: right;
					}
				}
			}
	}
	.col-md-4{
		padding: 20px 15px !important;
	}
}
.card-block{
	box-shadow: 0 1px 2px #ddd;
	padding: 20px 10px;
	background: #fff;
}
.btn-warning.atele{
	background-color: #FF6E01;
}
.btn-warning.atele:hover{
	background-color: #dd4f05;
		background-image: linear-gradient(to bottom,#FF6E01,#ed5a10);
}
#billingBox{
	width: 70%; margin-left: 15%; height: auto;display: inline-block;
	.col-md-12{
		margin-bottom: 30px;
		.col-md-6{
			.div.card{
				padding: 30px; border: 1px solid #eee; box-shadow: 0 0 1px #ccc;
				h4:first-child{
					display: inline-block;
				}
				h4:nth-child(2){
					float:right;
				}
				div{
					margin-top:20px;
					span.atele{
						width: 100%;
					}
				}
			}
		}
		.col-md-6:first-child{
			padding-right: 10px;
		}
		.col-md-6:last-child{
			padding-right: 10px;
		}
		div.card{
			padding: 30px;border: 1px solid #eee;box-shadow: 0 0 1px #ccc;
			h4{
				display: inline-block;
			}
			div.process{
				ul.nav-pills{
					padding: 15px 0 0;margin-bottom:0;
					li.active{
						border-bottom: 1px solid #222;
						a{
							color: #777777;background-color: transparent;
						}
					}
				}
				div.tab-content{
					div.tab-pane{
						div.form{
							padding:20px;border: 1px solid #eee; box-shadow: 0px 0px 1px #ccc;margin-top:0;
							div.col-md-8{
								form{
									div.wrap.third{
										margin-bottom: 1rem;border: 1px solid #ccc;
										div.form-group:first-child{
											width: 73%;margin-bottom: 0;
											input{
												border: none;
											}
										}
										div.form-group:nth-child(2){
											width: 15%;margin: 0;
											input{
												border: none;text-align: right;
											}
										}
										div.form-group:last-child{
											width: 10%;margin: 0;
											input{
												border: none;text-align: center;
											}
										}
									}
									div.wrap.third.contact{
										div.form-group:first-child{
											width: 56%;
										}
										div.form-group:nth-child(2){
											width: 25%;
										}
										div.form-group:last-child{
											width: 16%;
										}
									}
									div.wrap.third:focus, div.wrap.third:hover, div.wrap.third:active{
										border: 1px solid #000;
									}
								}
							}
							div.col-md-4{
								div.card_details{
									padding:13px;border: 1px solid #eee;box-shadow: 0px 0px 1px #ccc;    display: inline-block;margin-bottom:15px;
									span{
										float:right;display:inline-block;background: #ED4F32;border: 1px solid #ED4F32;color:#fff;padding: 1px 5px;margin-top: 7px;margin-right: -4px;border-radius: 2px;
									}
									p{
										display:block;margin-bottom:0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.col-md-12:nth-child(n>1){
		padding: 0 20px;
	}
}

#splash-screen {
	position: fixed;
	z-index: 10000;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000 !important;
	opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /*display: none;*/
	visibility: hidden;
	transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

#splash-screen.visible, #splash-screen-dialog.visible {
	display: block;
	visibility: visible;
}

#splash-screen-dialog {
	position: absolute;
	z-index: 10000;
	border: 1px solid #c7c7c7;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	background: #fff;
	width: 40%;
	top: 20%;
	left: 30%;
	display: none;
	visibility: hidden;
	transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;

}

#splash-screen-dialog .title {
	color: #DD4F05;
}

#splash-screen-dialog #splash-wrap {
	position: relative;
	padding: 15px;
}

#splash-screen-dialog .splash-screen-content {
	min-height: 100px;
	max-height: 400px;
	overflow: auto;
	padding: 10px 20px;
	text-align: center;
	font-size: 110%;
}

#splash-screen-dialog .splash-screen-actions {
	padding: 10px;
	text-align: center;
    box-shadow: 0 -1px 2px #ccc;
}
