{% extends "client/general/list/accounts.html" %}
{% block breadcrumbs %}
        <div id="breadcrumbs" class="container-fluid">
            <ul id="action_navs">
                <li class="action_nav_item"><a  href="{{ url_for('.accounts') }}">Users</a></li>
                <li class="action_nav_item"><a class="active" href="{{ url_for('.new_account') }}"><i class="fa fa-plus"></i> Add
                    User</a></li>
            </ul>
            <span>Create User</span>
        </div>
    {% endblock %}
{% block inner_body%}
    <style>
    h6.title{
        text-transform: uppercase;
    }
    </style>
    <div class="form col-md-12">
        <div class="col-md-8">
            <form method="post" action="{{ request.path }}">
                <div class="row section light-gray-bg" style="margin-right: 20px;">
                    <h6 class="title" style="margin: 0 0 10px 0;color: #9196aa;">Account Information</h6>
                    <div class="wrap half">
                    <div class="form-group">
                        <label for="first_name">Email</label>
                        <input type="email" name="email" {% if form.email.data %}value="{{ form.email.data }}"{% endif %} required>
                        <input type="hidden" name="client_id" value="{{ current_client.id }}">
                        {% if form.errors.email %}
                            <span style="color: red">{{ form.errors.email[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Password</label>
                        <input type="password" name="password" required>
                        {% if form.errors.password %}
                            <span style="color: red">{{ form.errors.password[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                </div>
                <div class="row section light-gray-bg" style="margin-right: 20px;">
                    <h6 class="title" style="margin: 0 0 10px 0;color: #9196aa;">Contact Information</h6>
                    <div class="wrap half">
                    <div class="form-group">
                        <label for="first_name">Last Name</label>
                        <input type="text" name="last_name" {% if form.last_name.data %}value="{{ form.last_name.data }}"{% endif %} required>
                        {% if form.errors.last_name %}
                            <span style="color: red">{{ form.errors.last_name[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="last_name">First Name</label>
                        <input type="text" name="first_name" {% if form.first_name.data %}value="{{ form.first_name.data }}"{% endif %}>
                        {% if form.errors.first_name %}
                            <span style="color: red">{{ form.errors.first_name[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                    <div class="wrap full">
                        <div class="form-group">
                            <label for="line1">Street Location</label>
                            <input type="text" name="line1" {% if form.line1.data %}value="{{ form.line1.data }}"{% endif %} required>
                            {% if form.errors.line1 %}
                                <span style="color: red">{{ form.errors.line1[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="wrap half">
                        <div class="form-group">
                            <label for="line2">LandMark</label>
                            <input type="text" name="line2" {% if form.line2.data %}value="{{ form.line2.data }}{% endif %}">
                            {% if form.errors.line2 %}
                                <span style="color: red">{{ form.errors.line2[0] }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" name="phone"{% if form.phone.data %} value="{{ form.phone.data }}"{% endif %} required>
                            {% if form.errors.phone %}
                                <span style="color: red">{{ form.errors.phone[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="wrap third">
                        <div class="form-group has-feedback">
                            <label class="control-label">Country</label>
                            <select name="country_id" id="country" required>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if form.country_id == country.id %}selected{% endif %}>{{ country.name }}</option>
                                {% endfor %}
                            </select>
                            <i class="form-control-feedback"></i>
                            {% if form.errors.country_id %}
                                <span style="color: red">{{ form.errors.country_id[0] }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label">State</label>
                            <select name="state_id" id="state" required>
                                {% for state in states %}
                                    <option value="{{ state.id }}" {% if form.state_id == state.id %}selected{% endif %}>{{ state.name }}</option>
                                {% endfor %}
                            </select>
                            <i class="form-control-feedback"></i>
                            {% if form.errors.state_id %}
                                <span style="color: red">{{ form.errors.state_id[0] }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label">City</label>
                            <select name="city_id" id="city" required>
                                {% for city in cities %}
                                    <option value="{{ city.id }}" {% if form.city_id == city.id %}selected{% endif %}>{{ city.name }}</option>
                                {% endfor %}
                            </select>
                            <i class="form-control-feedback"></i>
                            {% if form.errors.city_id %}
                                <span style="color: red">{{ form.errors.city_id[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="wrap full">
                        <div class="form-group">
                            <label for="line1">Access Groups</label>
                            <div class="checkbox-list">
                                {% for subfield in form.access_group_ids %}
                                    <label style="font-weight: bold;" class="checkbox-list inline">
                                        {{ subfield }} {{ subfield.label.text }}
                                    </label>
                                {% endfor %}
                            </div>
                            {% if form.access_group_ids.errors %}
                                {% for e in form.access_group_ids.errors %}<span class="help-block">{{ e }}</span>{% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>
                Description Details
            </h3>
            <p>Setup new account</p>
        </div>
    </div>
{% endblock %}