{% extends "client/general/settings.html" %}
{% block body %}
            <div id="breadcrumbs" class="container-fluid">
        <ul id="action_navs">
        </ul>
        <span>Basic Information</span>
    </div>
    <div class="clearfix"></div>
    <div class="form col-md-12">
        <div class="col-md-8">
            <form class="" action="{{ url_for('.settings') }}" method="post">
                <div class="wrap full">
                    <div class="form-group">
                        <label for="">Account Name</label>
                        <input type="text" name="name" value="{{ current_client.name }}">
                        <input type="hidden" name="email" value="{{ current_client.email }}">
                        <input type="hidden" name="sub_domain" value="{{ current_client.sub_domain }}">
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group">
                        <label for="">Street Address</label>
                        <textarea name="address">{{ current_client.address }}</textarea>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group">
                        <label for="">Country</label>
                        <select class="" name="country_id" required>
                            <option>--- Select Country ---</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}"
                                        {% if current_client.country_id == country.id %}selected{% endif %}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="wrap half">
                    <div class="form-group">
                        <label for="">State</label>
                        <select class="" name="state_id" id="state" required>
                            <option>--- Select State ---</option>
                            {% for state in states %}
                                <option value="{{ state.id }}"
                                        {% if current_client.state_id == state.id %}selected{% endif %}>{{ state.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">City</label>
                        <select class="" name="city_id" id="city">
                            <option>--- Select City ---</option>
                            {% for city in cities %}
                                <option value="{{ city.id }}"
                                        {% if current_client.city_id == city.id %}selected{% endif %}>{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group">
                        <label for="">Website Address</label>
                        <input name="url" value="{{ current_client.url }}">
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock body %}
{% block page_js %}
    <script>
        $('#state').change(function () {
            var selected = $('#state option:selected').val();
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/fetch/state_cities/",
                data: selected,
                dataType: 'json',
                beforeSend: function () {
                    $("#city").empty();
                },
                success: function (data) {
                    data.map(function (i) {
                        $("#city").append("<option value=\"" + i.id + "\">" + i.name + "</option>");
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
            return false;
        })
    </script>
{% endblock %}
