<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Atele | {{ page_title }}</title>

    {% cache 600, "main", "layout", "metas" %}
        <meta name="description"
              content="Atele is an information technology company that develops Internet of things solutions designed to organize various capabilities and needs of stakeholders in different sectors to operate all the parts of their systems and structures as efficiently as possible. An Intelligent Feedback Systems that covers Power sector">
        <meta name="author" content="Atele">
        <meta name="keywords"
              content="Atele, Internet of Things, Intelligent Feedback System, Power Management, Monitoring, Remote Surveillance Service, Asset Tracking Service, Smart Metering, Process Monitoring">
        <meta name="robots" content="index, follow">
        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    {% endcache %}

    {#    {% cache 600, "main", "layout", "styles" %}#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/small_new_fav.png') }}"
          type="image/x-icon">
    {% assets "main-global-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="stylesheet" href="/static/css/admin/header.css">
    <style media="screen">
        .header-left {
            padding: 10px 0 0;
            zoom: 0.8;
        }
        .fixed-header-on .header .logo img{
            max-height: 100% !important;
        }
    </style>
    {#    {% endcache %}#}
    <!-- <link rel="stylesheet" href="/static/css/bootstrap4.min.css"> -->
</head>
<body class="no-trans front-page transparent-header gradient-background-header">

<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

<div class="page-wrapper">
    {% block header %}
        <nav class="navbar navbar-fixed-top " id="header" style="background: url(/static/images/pattern-5.png);">
    <div class="container-fluid" id="popupContainer">
        <div class="navbar-header">
            <div class="brand">
                <a href="{{ url_for('.index') }}" id="logo">
                    <span class="hidden-xs-down m-r-3">
                        <img class="lg" src="{{ url_for('static', filename='images/rsz_atele_logo.png') }}"/>
                    </span>
                </a>
                {% if default_resolved %}
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li>
                        <a class="dropbtn" data-toggle="tootip" title="Stations"
                           style="{% if request.path[:10]=="/stations/" %}color: #FD6F06;{% endif %}"
                           href="{{ url_for('.stations') }}">
                            <i class="fa fa-building"></i></a>
                    </li>
                    <li>
                        <a class="dropbtn" data-toggle="tootip" title="Accounts"
                           style="{% if request.path[:19]=="/settings/accounts/" %}color: #FD6F06;{% endif %}"
                           href="{{ url_for('.accounts') }}">
                            <i class="fa fa-users"></i></a>
                    </li>
                    <li>
                        <a class="dropbtn" data-toggle="tootip" title="Reports"
                           style="{% if request.path[:9]=="/reports/" %}color: #FD6F06;{% endif %}"
                           href="{{ url_for('.reports') }}">
                            <i class="fa fa-bar-chart-o"></i></a>
                    </li>
                    <li>
                        <a class="dropbtn" data-toggle="tootip" title="Billing Information"
                           style="{% if request.path[:10]=="/billings/" %}color: #FD6F06;{% endif %}"
                           href="{{ url_for('.billing_info') }}">
                            <i class="fa fa-money"></i></a>
                    </li>
                    <li>
                        <a class="dropbtn" data-toggle="tootip" title="Settings"
                           style='{% if request.path[:21]=="/settings/basic_info/" %}color: #FD6F06;{% endif %}'
                           href="{{ url_for('.settings') }}">
                            <i class="fa fa-gears"></i>
                        </a>
                    </li>
                    {#                        <li class="dropdown">#}
                    {#                            <a class="dropbtn" data-toggle="tootip" title="Technical Support"#}
                    {#                               href="http://support.atele.org"><i class="fa fa-support"></i></a>#}
                    {##}
                    {#                            <div class="dropdown-content">#}
                    {#                                <span class="dropdown-arrow"></span>#}
                    {#                                <a href="#">Tickets</a>#}
                    {#                                <a href="#">Help & Support</a>#}
                    {#                            </div>#}
                    {#                        </li>#}
                    <li>
                        <a id="headway" class="dropbtn" title="Notifications" href="#">
                            <i class="fa fa-bell-o"></i><sup class="badge" ng-bind="notifications.length"></sup>
                        </a>

{#                           <div class="dropdown-content rvs">#}
{#                                <span class="dropdown-arrow"></span>#}
{#                                <a ng-repeat="note in notifications" href="#" ng-bind="note.body"></a>#}
{#                            </div>#}
                    </li>
                    <li class="dropdown">
                        <a class="dropbtn" data-toggle="tootip" title="My Account" href="javascript:void(0);">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-content rvs">
                            <span class="dropdown-arrow"></span>
                            <a><b>{{ current_client.name }}</b></a>
                            <a id="logout-btn" href="{{ url_for('.logout') }}">Log Out</a>
                        </div>
                    </li>
                </ul>
                {% endif %}
                {% block nav %}
                    <ul class="nav navbar-nav navbar-left">
                        <li  style="font-size: 10px;">
                            <a href="{{ config.SUPPORT_URL }}"
                            ><i class="fa fa-ticket"></i> Support</a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
{#        {% endcache %}#}
    {% endblock header %}
    {% for message in get_flashed_messages() %}
        <div id="flash">
            <p>{{ message }} ALL it does is rain</p>
        </div>
    {% endfor %}
    {% if get_flashed_messages %}
        <div id="flash_clear"></div>
    {% endif %}
    {% block body %}
    {% endblock body %}
</div>
{% assets "main-global-js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block page_js %}
{% endblock page_js %}
<script>
    var HW_config = {
        selector: "#headway",
        account: "7LYm8J"
    }
</script>
<script async src="//cdn.headwayapp.co/widget.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".multi-select").chosen();
        $(".chosen").chosen();
        {#  $(".rich-text").redactor();#}

    });
</script>
<script type="text/javascript">
    var listItemHover = function (x) {
        $('#action_hover_container_' + x).show();
    };
    var listItemHoverOut = function (x) {
        $('#action_hover_container_' + x).hide();
    };
</script>
</body>
</html>
