{#<!doctype html>#}
{#<html ng-app="atele" ng-init="init('{{ service.code }}', '{{ service.name }}')">#}
{#<html ng-app="atele" ng-controller="BaseController">#}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <title>Atele | {{ page_title }}</title>#}
{##}
{#    {% cache 600, "main", "layout", "metas" %}#}
{#        <meta name="description"#}
{#              content="Atele is an information technology company that develops Internet of things solutions designed to organize various capabilities and needs of stakeholders in different sectors to operate all the parts of their systems and structures as efficiently as possible. An Intelligent Feedback Systems that covers Power sector">#}
{#        <meta name="author" content="Atele">#}
{#        <meta name="keywords"#}
{#              content="Atele, Internet of Things, Intelligent Feedback System, Power Management, Monitoring, Remote Surveillance Service, Asset Tracking Service, Smart Metering, Process Monitoring">#}
{#        <meta name="robots" content="index, follow">#}
{#        <meta http-equiv="Cache-control" content="public">#}
{#        <meta http-equiv="Set-Cookie" content="ACCOUNT=9983373; path=/; expires=Monday, 10-Oct-16 00:00:00 GMT+1">#}
{##}
{#        <!-- Mobile Meta -->#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    {% endcache %}#}
{##}
{#    {% cache 600, "client", "layout", "styles" %}#}
{#        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">#}
{#        <link rel=" icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">#}
{#        {% assets "main-global-css" %}#}
{#            <link rel="stylesheet" href="{{ ASSET_URL }}">#}
{#        {% endassets %}#}
{#    {% endcache %}#}
{#</head>#}
{#<body>#}
{#<div ng-view></div>#}
{#<div ui-view></div>#}
{#{% assets "main-global-js" %}#}
{#    <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
{#{% endassets %}#}
{#<script src="/static/plugins/jquery.min.js"></script>#}
{#<script src="/static/js/bootstrap.min.js"></script>#}
{#<script src="/static/plugins/modernizr.js"></script>#}
{#<script src="/static/plugins/rs-plugin-5/js/jquery.themepunch.tools.min838f.js"></script>#}
{#<script src="/static/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min838f.js"></script>#}
{#<script src="/static/plugins/isotope/isotope.pkgd.min.js"></script>#}
{#<script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>#}
{#<script src="/static/plugins/waypoints/jquery.waypoints.min.js"></script>#}
{#<script src="/static/plugins/jquery.countTo.js"></script>#}
{#<script src="/static/plugins/jquery.parallax-1.1.3.js"></script>#}
{#<script src="/static/plugins/jquery.validate.js"></script>#}
{#<script src="/static/js/map.js"></script>#}
{#<script src="/static/js/google.map.config.js"></script>#}
{#<script src="/static/plugins/vide/jquery.vide.js"></script>#}
{#<script src="/static/plugins/owl-carousel/owl.carousel.js"></script>#}
{#<script src="/static/plugins/pace/pace.min.js"></script>#}
{#<script src="/static/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>#}
{#<script src="/static/plugins/jquery.browser.js"></script>#}
{#<script src="/static/plugins/SmoothScroll.js"></script>#}
{#<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.video.min.js"></script>#}
{#<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.slideanims.min.js"></script>#}
{#<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.layeranimation.min.js"></script>#}
{#<script src="/static/plugins/rs-plugin-5/js/extensions/revolution.extension.kenburn.min.js"></script>#}
{#<script src="/static/plugins/jquery.countdown/jquery.plugin.min.js"></script>#}
{#<script src="/static/plugins/jquery.countdown/jquery.countdown.min.js"></script>#}
{#<script src="/static/js/main/coming.soon.config.js"></script>#}
{#<script src="/static/js/main/template.js"></script>#}
{#<script src="/static/js/main/custom.js"></script>#}
{#<script src="/static/js/jquery.min.js"></script>#}
{#<script src="/static/js/angular/angular.min.js"></script>#}
{#<script#}
{#<script src="/static/js/angular/angular-route.min.js"></script>#}
{#<script src="/static/js/angular/angular-resource.min.js"></script>#}
{#<script src="/static/js/angular/angular-sanitize.min.js"></script>#}
{#<script src="/static/js/angular/ui-router.js"></script>#}
{#<script src="/static/js/angular/model.js"></script>#}
{#<script src="/static/js/angular/controllers/account.js"></script>#}
{#<script src="/static/js/angular/controllers/basic.js"></script>#}
{#<script src="/static/js/angular/controllers/payment.js"></script>#}
{#<script src="/static/js/angular/controllers/equipment.js"></script>#}
{#<script src="/static/js/angular/controllers.js"></script>#}
{#<script src="/static/js/angular/routes.js"></script>#}
{#<script src="/static/js/angular/app.js"></script>#}
{#</body>#}
{#</html>#}
<!DOCTYPE html>
<html>
<head>
    <title>Layouts &raquo; Hero Sidebar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/keen-dashboards.css"/>
</head>
<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="https://keen.io">Home</a></li>
                <li><a href="https://keen.io/team">Team</a></li>
                <li><a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-sidebar">Source</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/keen-io-devs">Community</a></li>
                <li><a href="http://stackoverflow.com/questions/tagged/keen-io?sort=newest&pageSize=15">Technical
                    Support</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Cell Title
                </div>
                <div class="chart-stage">
                    <img data-src="holder.js/100%x650/white">
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Cell Title
                        </div>
                        <div class="chart-stage">
                            <img data-src="holder.js/100%x240/white">
                        </div>
                        <div class="chart-notes">
                            Notes about this chart
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Cell Title
                        </div>
                        <div class="chart-stage">
                            <img data-src="holder.js/100%x120/white">
                        </div>
                        <div class="chart-notes">
                            Notes about this chart
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Cell Title
                        </div>
                        <div class="chart-stage">
                            <img data-src="holder.js/100%x120/white">
                        </div>
                        <div class="chart-notes">
                            Notes about this chart
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Cell Title
                        </div>
                        <div class="chart-stage">
                            <img data-src="holder.js/100%x120/white">
                        </div>
                        <div class="chart-notes">
                            Notes about this chart
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Cell Title
                        </div>
                        <div class="chart-stage">
                            <img data-src="holder.js/100%x120/white">
                        </div>
                        <div class="chart-notes">
                            Notes about this chart
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Cell Title
                        </div>
                        <div class="chart-stage">
                            <img data-src="holder.js/100%x120/white">
                        </div>
                        <div class="chart-notes">
                            Notes about this chart
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Cell Title
                        </div>
                        <div class="chart-stage">
                            <img data-src="holder.js/100%x120/white">
                        </div>
                        <div class="chart-notes">
                            Notes about this chart
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

</div>

<script type="text/javascript" src="/static/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/lib/holderjs/holder.js"></script>
<script>
    Holder.add_theme("white", {background: "#fff", foreground: "#a7a7a7", size: 10});
</script>

<script type="text/javascript" src="/static/lib/keen-js/dist/keen.min.js"></script>
<script type="text/javascript" src="/static/js/meta.js"></script>
<script>
var client = new Keen({
  projectId: "5368fa5436bf5a5623000000",
  readKey: "3f324dcb5636316d6865ab0ebbbbc725224c7f8f3e8899c7733439965d6d4a2c7f13bf7765458790bd50ec76b4361687f51cf626314585dc246bb51aeb455c0a1dd6ce77a993d9c953c5fc554d1d3530ca5d17bdc6d1333ef3d8146a990c79435bb2c7d936f259a22647a75407921056"
});

Keen.ready(function(){

  // ----------------------------------------
  // Sample one
  // ----------------------------------------
  var pageviews_timeline = new Keen.Query("count", {
    eventCollection: "pageviews",
    interval: "hourly",
    groupBy: "user.device_info.browser.family",
    timeframe: {
      start: "2014-05-04T00:00:00.000Z",
      end: "2014-05-05T00:00:00.000Z"
    }
  });
  client.draw(pageviews_timeline, document.getElementById("chart-01"), {
    chartType: "areachart",
    title: false,
    height: 250,
    width: "auto",
    chartOptions: {
      chartArea: {
        height: "85%",
        left: "5%",
        top: "5%",
        width: "80%"
      },
      isStacked: true
    }
  });
  // ----------------------------------------
  //  End sample one
  // ----------------------------------------


  // ----------------------------------------
  // Sample two
  // ----------------------------------------
  var pageviews_static = new Keen.Query("count", {
    eventCollection: "pageviews",
    groupBy: "user.device_info.browser.family",
    timeframe: {
      start: "2014-05-01T00:00:00.000Z",
      end: "2014-05-05T00:00:00.000Z"
    }
  });
  client.draw(pageviews_static, document.getElementById("chart-02"), {
    chartType: "piechart",
    title: false,
    height: 250,
    width: "auto",
    chartOptions: {
      chartArea: {
        height: "85%",
        left: "5%",
        top: "5%",
        width: "100%"
      },
      pieHole: .4
    }
  });
  // ----------------------------------------
  // End sample two
  // ----------------------------------------

  // ----------------------------------------
  // Sample three
  // ----------------------------------------
  var impressions_timeline = new Keen.Query("count", {
    eventCollection: "impressions",
    groupBy: "ad.advertiser",
    interval: "hourly",
    timeframe: {
      start: "2014-05-04T00:00:00.000Z",
      end: "2014-05-05T00:00:00.000Z"
    }
  });
  client.draw(impressions_timeline, document.getElementById("chart-03"), {
    chartType: "columnchart",
    title: false,
    height: 250,
    width: "auto",
    chartOptions: {
      chartArea: {
        height: "75%",
        left: "10%",
        top: "5%",
        width: "60%"
      },
      bar: {
        groupWidth: "85%"
      },
      isStacked: true
    }
  });
  // ----------------------------------------
  // End sample three
  // ----------------------------------------

  // ----------------------------------------
  // Sample four
  // ----------------------------------------
  var impressions_timeline_by_device = new Keen.Query("count", {
    eventCollection: "impressions",
    groupBy: "user.device_info.device.family",
    interval: "hourly",
    timeframe: {
      start: "2014-05-04T00:00:00.000Z",
      end: "2014-05-05T00:00:00.000Z"
    }
  });
  client.draw(impressions_timeline_by_device, document.getElementById("chart-04"), {
    chartType: "columnchart",
    title: false,
    height: 250,
    width: "auto",
    chartOptions: {
      chartArea: {
        height: "75%",
        left: "10%",
        top: "5%",
        width: "60%"
      },
      bar: {
        groupWidth: "85%"
      },
      isStacked: true
    }
  });
  // ----------------------------------------
  // End sample four
  // ----------------------------------------

  // ----------------------------------------
  // Sample five
  // ----------------------------------------
  var impressions_timeline_by_country = new Keen.Query("count", {
    eventCollection: "impressions",
    groupBy: "user.geo_info.country",
    interval: "hourly",
    timeframe: {
      start: "2014-05-04T00:00:00.000Z",
      end: "2014-05-05T00:00:00.000Z"
    }
  });
  client.draw(impressions_timeline_by_country, document.getElementById("chart-05"), {
    chartType: "columnchart",
    title: false,
    height: 250,
    width: "auto",
    chartOptions: {
      chartArea: {
        height: "75%",
        left: "10%",
        top: "5%",
        width: "60%"
      },
      bar: {
        groupWidth: "85%"
      },
      isStacked: true
    }
  });
  // ----------------------------------------
  // End sample five
  // ----------------------------------------

});
</script>
</body>
</html>
