<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
		<meta charset="utf-8">
		<title>Atele | {{ page_title }}</title>

		{% cache 600, "main", "layout", "metas" %}
				<meta name="description"
							content="Atele is an information technology company that develops Internet of things solutions designed to organize various capabilities and needs of stakeholders in different sectors to operate all the intricate parts of their systems and structures as efficiently as possible.">
				<meta name="author" content="Atele">
				<meta name="keywords"
							content="Atele, Internet of Things, Intelligent Feedback System, Power Management, Monitoring, Remote Surveillance Service, Asset Tracking Service, Smart Metering, Process Monitoring">
				<meta name="robots" content="index, follow">
{#        <meta http-equiv="Cache-control" content="public">#}
{#        <meta http-equiv="Set-Cookie" content="ACCOUNT=9983373; path=/; expires=Monday, 10-Oct-16 00:00:00 GMT+1">#}

				<!-- Mobile Meta -->
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
		{% endcache %}

{#    {% cache 600, "main", "layout", "styles" %}#}
				<link rel="shortcut icon" href="{{ url_for('static', filename='images/small_new_fav.png') }}" type="image/x-icon">
				{% assets "main-global-css" %}
						<link rel="stylesheet" href="{{ ASSET_URL }}">
				{% endassets %}
{#    {% endcache %}#}
</head>
<body class="no-trans front-page transparent-header gradient-background-header">

<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

<div class="page-wrapper">
		{% block header %}
{#        {% cache 600, "client", "info-layout", "corporate", "header" %}#}
						<div class="header-container">
								<!-- header start -->
								<!-- classes:  -->
								<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
								<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
								<!-- "full-width": mandatory class for the full-width menu layout -->
								<!-- "centered": mandatory class for the centered logo layout -->
								<!-- ================ -->
								<header class="header  fixed fixed-before  dark clearfix">

										<div class="container">
												<div class="row">
														<div class="col-md-3  hidden-xs ">
																<!-- header-left start -->
																<!-- ================ -->
																<div class="header-left clearfix">

																		<!-- logo -->
																		<div id="logo" class="logo" style="margin-top:-10px; zoom: 0.7">
																				<a href="/"><img id="logo_img" src="/static/images/small_rsz_atele_logo.png"
																												 alt="Atele" data-animation-effect="fadeInLeft"
																												 data-effect-delay="150"></a>
																		</div>

																		<!-- name-and-slogan -->
																		<!-- <div class="site-slogan">
																			Intelligent Remote Feedback Systems
																		</div> -->

																</div>
																<!-- header-left end -->

														</div>
														<div class="col-md-9">

																<!-- header-right start -->
																<!-- ================ -->
																<div class="header-right clearfix">
																		<!-- main-navigation start -->
																		<!-- classes: -->
																		<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
																		<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
																		<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
																		<!-- ================ -->
																		<div class="main-navigation animated">

																				<!-- navbar start -->
																				<!-- ================ -->
																				<nav class="navbar navbar-default" role="navigation">
																						<div class="container-fluid">

																								<!-- Toggle get grouped for better mobile display -->
																								<div class="navbar-header">
																										<button type="button" class="navbar-toggle" data-toggle="collapse"
																														data-target="#navbar-collapse-1">
																												<span class="sr-only">Toggle navigation</span>
																												<span class="icon-bar"></span>
																												<span class="icon-bar"></span>
																												<span class="icon-bar"></span>
																										</button>

																										<!-- header-left start -->
																										<!-- ================ -->
																										<div class="header-left clearfix  visible-xs ">

																												<!-- logo -->
																												<div id="logo-mobile" class="logo">
																														<a href="index.html"><img id="logo-img-mobile"
																																											src="/static/images/small_rsz_atele_logo.png"
																																											alt="The Project"></a>
																												</div>

																												<!-- name-and-slogan -->
																												<div class="site-slogan hidden-xs">
																														Intelligent Remote Feedback Systems
																												</div>

																										</div>
																										<!-- header-left end -->

																								</div>
																								{% if user.is_authenticated %}
																										<div class="collapse navbar-collapse scrollspy smooth-scroll"#}
																												 id="navbar-collapse-1">
																												<div class="header-dropdown-buttons hidden-xs pull-right">
																														<a href="{{ url_for('.index') }}"
																															 class="corp btn btn-md hidden-xs btn-default">Home <i
																																		class="fa fa-dashboard"></i></a>
																														<a href="{{ url_for('.settings') }}"
																															 class="btn btn-md hidden-xs btn-default">Settings <i
																																		class="fa fa-gears"></i></a>
																														<a href="{{ config.SUPPORT_URL }}"
																															 class="corp btn btn-md hidden-xs btn-default">Support <i
																																		class="fa fa-ticket"></i></a>
																												</div>
																												<div class="header-dropdown-buttons visible-xs">
																														<a href="{{ url_for('.index') }}"
																															 class="corp btn btn-md hidden-xs btn-default">Home <i
																																		class="fa fa-dashboard"></i></a>
																														<a href="{{ url_for('.settings') }}"
																															 class="btn btn-md visible-xs btn-block btn-default">Settings</a>
																														<a href="{{ config.SUPPORT_URL }}"
																															 class="btn btn-md visible-xs btn-block btn-default">Support</a>
																												</div>
																										</div>
																								{% else %}
																										<!-- Collect the nav links, forms, and other content for toggling -->
																										<div class="collapse navbar-collapse scrollspy smooth-scroll"
																												 id="navbar-collapse-1">
																												<div class="header-dropdown-buttons hidden-xs pull-right">
																														<a href="{{ url_for('.login') }}"
																															 class="btn btn-md hidden-xs btn-default">Login</a>
																														<a href="{{ url_for('.register') }}"
																															 class="btn btn-md hidden-xs btn-default">Register</a>
																												</div>
																												<div class="header-dropdown-buttons visible-xs">
																														<a href="{{ url_for('.login') }}"
																															 class="btn btn-md visible-xs btn-block btn-default">Login</a>
																														<a href="{{ url_for('.register') }}"
																															 class="btn btn-md visible-xs btn-block btn-default">Register</a>
																												</div>
																										</div>
																								{% endif %}
																						</div>
																				</nav>
																				<!-- navbar end -->

																		</div>
																		<!-- main-navigation end -->
																</div>
																<!-- header-right end -->

														</div>
												</div>
										</div>

								</header>
								<!-- header end -->
						</div>
{#        {% endcache %}#}
		{% endblock header %}
		{% block body %}
		{% endblock body %}
		{% block footer %}
			{% cache 600, "main", "layout", "footer", "17-april-2017" %}
					<footer id="footer" class="clearfix dark">
							<div class="footer">
									<div class="container">
											<div class="footer-inner">
													<div class="row">
															<div class="col-md-6 col-md-offset-3">
																	<div class="footer-content text-center padding-ver-clear">
																			<div class="logo-footer"><img id="logo-footer" class="center-block"
																																		src="/static/images/small_rsz_atele_logo.png"
																																		alt="Atele Logo"></div>

																			<ul class="list-inline mb-20">
																					<li><i class="text-default fa fa-map-marker pr-5"></i>Lagos State, Nigeria</li>
																					<li><a href="tel:+23481030107796" class="link-dark"><i
																									class="text-default fa fa-phone pl-10 pr-5"></i>+234 810 3010 7796</a>&nbsp;&nbsp;&nbsp;
																							| <a href="tel:+2347055784399" class="link-dark">+234 705 5778 4399</a>&nbsp;&nbsp;&nbsp;
																							| <a href="tel:+2347032652411" class="link-dark">+234 703 265 2411</a></li>
																					<li><a href="mailto:inquiries@atele.org" class="link-dark"><i
																									class="text-default fa fa-envelope-o pl-10 pr-5"></i>inquiries@atele.org</a>
																					</li>
																			</ul>
																			<ul class="social-links circle animated-effect-1 margin-clear">
																					<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i
																									class="fa fa-facebook"></i></a></li>
																					<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i
																									class="fa fa-twitter"></i></a></li>
																					<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i
																									class="fa fa-google-plus"></i></a></li>
																			</ul>
																			<div class="separator"></div>
																			<p class="text-center margin-clear">Copyright © {{ today.strftime("%Y") }} by <a
																							href="/">Atele</a>. All Rights Reserved</p>
																	</div>
															</div>
													</div>
											</div>
									</div>
							</div>
					</footer>
			{% endcache %}
		{% endblock footer %}
</div>
{#{% cache 600, "main", "layout", "scripts" %}#}
		{% assets "main-global-js" %}
				<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
{#{% endcache %}#}
{% block page_js %}
{% endblock page_js %}
<script type="text/javascript">
	jQuery(document).ready(function(){
		$(".multi-select").chosen();
		$(".chosen").chosen();
		$(".rich-text").redactor();
	});
</script>
<script type="text/javascript">
	var listItemHover = function(x){
		$('#action_hover_container_'+x).show();
	};
	var listItemHoverOut = function(x){
		$('#action_hover_container_'+x).hide();
	};
</script>
</body>
</html>
