#header {
    height: 60px;
    margin-bottom: 0;
    padding: 0;
    position: fixed;
    background: #394245;
    border-bottom: 1px solid #052c38;
    box-shadow: 0 1px 4px #222;
    font-size: 13px;
}

#header .container-fluid {
    padding: 0;
}

#header .navbar-header {
    margin: 0;
    width: 100%;
}

#header #sidebar-toggle-button {
    color: #797979;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 0 5px;
}

#header .brand {
    display: inline-block;
    padding: 0;
    width: 100%;
}

#header .brand #logo {
}

#header .brand #logo img {
    display: inline;
    position: absolute;
    border-right: 1px solid rgba(1, 17, 17, 0.4);
}

#header .brand #logo .lg {

    width: 130px;
    top: -6px;
    left: 0;
    zoom: 114%;
}

#header .brand #logo .logo_text {
    width: 80px;
    display: inline;
    left: 93px;
    top: 10px;
}

#header .brand a {
    color: #f9f9f9;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
    background: transparent;
}

#header .brand a:active, #header .brand a.active {
    cursor: pointer;
    color: #FC6E06;
    background: transparent;
}

#header .brand a:focus, #header .brand a:visited {
    text-decoration: none;
    background: transparent;
}

#header .brand a:hover, #header .brand a.active:hover {
    color: #FC6E06;
}

#header .brand .navbar-left li, #header .brand .navbar-right li {
    height: 60px;
}

#header .brand .navbar-left li a:first-child, #header .brand .navbar-right li a:first-child {
    height: 60px;
    line-height: 60px;
    font-weight: 700;
}

#header .brand .navbar-left {
    margin-left: 150px;
}

#header .brand .navbar-left li {
}

#header .brand .navbar-left li a {
    border-right: 1px solid rgba(1, 17, 17, 0.4);
}

#header .brand .navbar-right {
    margin-right: 0 !important;
}

#header .brand .navbar-right li.dropdown::after {
    display: none;
}

#header .brand .navbar-right li.dropdown a:first-child, #header .brand .navbar-right li a:first-child{
    padding: 0 15px;
    border-left: 1px solid rgba(1, 17, 17, 0.4);
}

#header .brand .navbar-right li.dropdown a:first-child i.fa, #header .brand .navbar-right li a:first-child i.fa{
    font-size: 16px;
}

#header .brand .navbar-right li.dropdown a#logout-btn, #header .brand .navbar-right li a#logout-btn{
    color: #fff !important;
    font-weight: 600;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#header .brand .navbar-right li.dropdown a#logout-btn:hover, #header .brand .navbar-right li a#logout-btn:hover{
    background-color: #c9302c;
    border-color: #ac2925;
    color: #ccc !important;
}

.dropbtn {
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .dropdown-arrow {
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    left: 10px;
}

.dropdown-content.rvs {
    right: 2px;
}

.dropdown-content.rvs .dropdown-arrow {
    float: right;
    left: 90px;
}

.dropdown-content a {
    color: #373a3c !important;
    padding: 8px 10px !important;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    height: auto !important;
    font-size: 11px !important;
    background: #f9f9f9;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
}
