{% extends "client/app_layout.html" %}
{% block body %}
    <body class="no-trans front-page transparent-header gradient-background-header">

    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <div class="page-wrapper">
        <div id="page-start"></div>
        <!-- section start -->
        <section class="pv-30 dark-bg" style="background: url(/static/images/pattern-5.png);padding-top: 58px;">
            <div class="container pv-20">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center">Welcome to your Dashboard, {{ client.name }}</h2>

                        <div class="separator"></div>
                        <p class="large text-center">Navigate to the available services below</p>
                    </div>
                </div>
                <div class="row">
                    <div class="service_tiles pv-20 service-nav-tiles">
                        <div class="tab-content clear-style">
                            <div class="tab-pane active menu_tiles service-menu-tile" id="{{ current_service.code }}">
                                {% include 'partials/pages/navigations.html' %}
                            </div>
                            {% for current_service in filtered_services %}
                                <div class="tab-pane fade menu_tiles service-menu-tile" id="{{ current_service.code }}">
                                    {% include 'partials/pages/navigations.html' %}
                                </div>
                            {% endfor %}
                        </div>
                        <ul class="description_tile service-map nav nav-pills nav-stacked" role="tablist">
                            <li class="active">
                                <a href="#{{ current_service.code }}" class="no-after" role="tab" data-toggle="tab"
                                   title="{{ current_service.name }}">
                                    <div class="clearfix service-section">
                                        <div class="tile service-tile">
                                            <p class="service-group">
                                                <span><i class="fa {{ current_service.icon_class }}"></i></span>
                                            </p>
                                        </div>
                                        <div class="service-description-block">
                                            <p class="service-tab-name">{{ current_service.name }}</p>

                                            <p class="service-subtitle">{{ current_service.description }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% for _serve in filtered_services if _serve.is_active %}
                                <li>
                                    <a href="#{{ _serve.code }}" class="no-after" role="tab" data-toggle="tab"
                                       title="{{ _serve.name }}">
                                        <div class="clearfix service-section">
                                            <div class="tile service-tile">
                                                <p class="service-group" data-filter=".{{ _serve.code }}">
                                                    <span><i class="fa {{ _serve.icon_class }}"></i></span>
                                                </p>
                                            </div>
                                            <div class="service-description-block">
                                                <p class="service-tab-name">{{ _serve.name }}</p>

                                                <p class="service-subtitle">{{ _serve.description }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </section>
        <!-- section end -->
        <section class="pv-30 light-gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pv-30 ph-20 boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall"
                             data-effect-delay="200">
                            {% if faults|length > 0 %}
                                <div class="body ph-20">
                                    <h4 class="title">Alerts</h4>

                                    <div class="table" style="margin-bottom: 0;">
                                        <div class="thead tr">
                                            <span class="td"></span>
                                            <span class="td">device</span>
                                            <span class="td">level</span>
                                            <span class="td">date</span>
                                        </div>
                                        {% for fault in faults %}
                                            <div class="tr">
                                                <span class="td">
                                                    {{ fault.body }}
                                                </span>
                                                <span class="td">{{ fault.device }}</span>
                                                <span class="td">{{ fault.level }}</span>
                                                <span class="td center">
                                                    {{ fault.timestamp.strftime('%Y-%m-%d %H:%M%:%S' ) }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="body ph-20">
                                    <div class="table" style="margin-bottom: 0;">
                                        <h3 class="text-center">Everything is OK!</h3>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>
{% endblock %}
