{% extends "client/app_layout.html" %}
{% block body %}
    <body class="no-trans front-page transparent-header gradient-background-header">

    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <div class="page-wrapper">
        <div id="page-start" style="margin-top: 4%"></div>
        <section class="pv-30 light-gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center">Welcome, {{ client.name }}</h2>
                        <div class="separator"></div>
                        <p class="large text-center mt-30">You need to finish configuration of your services to access them</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="separator"></div>
                        <!-- pills start -->
                        <div class="process">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills" role="tablist" style="padding: 15px 20px 0;margin-bottom:0;">
                                {% if default_resolved %}
                                    {% for sub in subscriptions %}
                                        <li><a href="#pill-pr-{{ loop.index }}" role="tab" data-toggle="tab"
                                               title="Basic Information">
                                            <i class="fa fa-dot-circle-o pr-5"></i>
                                            {{ sub.service.name }}</a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="active">
                                        <a href="#pill-pr-0" role="tab" data-toggle="tab" title="Basic Information">
                                            <i class="fa fa-dot-circle-o pr-5"></i>Default
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content clear-style">
                                {% if default_resolved %}
                                    {% for sub in subscriptions %}
                                        <div class="tab-pane" id="pill-pr-{{ loop.index }}">
                                            <div class="row section" style="padding:20px;">
                                                <div class="col-md-6 text-center" style="padding: 10px">
                                                    <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                                                        <h4 class="card-title">Configure Installations/Equipments</h4>
                                                        <p class="card-text">Order Devices necessary to monitor your
                                                            installations</p>
                                                        {% if not sub.inst_dep_resolved %}
                                                            <a href="/{{ sub.service.code }}#!/installations/new"
                                                               class="btn btn-primary">Create
                                                                Installations</a>
                                                        {% else %}
                                                            <a href="/{{ sub.service.code }}#!/installations/new" class="btn btn-xs btn-success">Resolved</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-center" style="padding: 10px">
                                                    <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                                                        <h4 class="card-title">Configure Devices</h4>
                                                        <p class="card-text">Request for devices matching this service</p>
                                                        {% if not sub.devices_dep_resolved %}
                                                            <a href="/{{ sub.service.code }}#!/meshes/new"
                                                               class="btn btn-primary">Configure Devices</a>
                                                        {% else %}
                                                            <button class="btn btn-xs btn-success">Resolved</button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row section" style="padding:20px;">
                                                <div class="col-md-12 text-center" style="padding: 10px">
                                                    <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                                                        <h4 class="card-title">Setup Alerts</h4>
                                                        <p class="card-text">Setup Alerts for Optimal Monitoring performance</p>
                                                        {% if not sub.alerts_dep_resolved %}
                                                            <a href="/{{ sub.service.code }}#!/alerts/new"
                                                               class="btn btn-primary">Setup Alerts</a>
                                                        {% else %}
                                                            <button class="btn btn-xs btn-success">Resolved</button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="tab-pane active" id="pill-pr-0">
                                        <div class="row section" style="padding:20px;">
                                            <div class="col-md-6 text-center" style="padding: 10px">
                                                <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                                                    <h4 class="card-title">Configure SubStations/Facilities</h4>
                                                    <p class="card-text">Setup stations/facilities</p>
                                                    {% if not setting.stations_dep_resolved %}
                                                        <a href="{{ url_for('.add_station') }}" class="btn btn-default">Create
                                                            Station/Facility</a>
                                                    {% else %}
                                                        <a href="{{ url_for('.add_station') }}" class="btn btn-xs btn-success">Resolved</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-center" style="padding: 10px">
                                                <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                                                    <h4 class="card-title">Setup Staff Accounts</h4>
                                                    <p class="card-text">Staff accounts control permission level and
                                                        roles</p>
                                                    {% if not setting.accounts_dep_resolved %}
                                                        <a href="{{ url_for('.new_account') }}" class="btn btn-default">Setup
                                                            New Accounts</a>
                                                    {% else %}
                                                        <a href="{{ url_for('.accounts') }}" class="btn btn-xs btn-success">Resolved</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-center" style="padding: 10px">
                                                <div class="card card-block boxed shadow object-non-visible animated object-visible fadeInDownSmall">
                                                    <h4 class="card-title">Setup Billing Information</h4>
                                                    <p class="card-text">Setup billing information for payment</p>
                                                    {% if not setting.billing_dep_resolved %}
                                                        <a href="{{ url_for('.billing_info') }}"
                                                           class="btn btn-default">Configure
                                                            Billing Information</a>
                                                    {% else %}
                                                        <a href="{{ url_for('.billing_info') }}" class="btn btn-xs btn-success">Resolved</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- pills end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- section end -->

    </div>
    </body>
{% endblock %}
