<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""https://atele.org/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://atele.org/www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Atele.org | {{ page_title }}</title>
    <style>
        .header {
            color: #333;
            font-size: 24px;
        }

        a {
            color: #FE6F06;
            text-decoration: none;
        }
    </style>
    <style type="text/css" media="screen">
        @media screen {
        @import url(https://atele.org/fonts.googleapis.com/css?family=PT+Sans:400,700);
            /* Thanks Outlook 2013! */
            * {
                font-family: 'PT Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
            }
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>

            <!-- Header Top Start -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border-collapse: collapse;">
                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                               style="border-collapse: collapse;">
                            <tr>
                                <td align="left" bgcolor="#272d2d">
                                    <!-- Space -->
                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                                           style="border-collapse: collapse;">
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
                                        </tr>
                                    </table>
                                    <table align="center">
                                        <tr>
                                            <td width="22">
                                                <img src="https://atele.org/static/images/email/marker-icon-white.png"
                                                     alt="location"/>
                                            </td>
                                            <td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                One infinity loop, 54100
                                            </td>
                                            <td width="22"></td>
                                            <td width="22">
                                                <img src="https://atele.org/static/images/email/phone-icon-white.png"
                                                     alt="location"/>
                                            </td>
                                            <td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                +234&nbsp;813&nbsp;010&nbsp;7796
                                            </td>
                                            <td width="22"></td>
                                            <td width="22">
                                                <img src="https://atele.org/static/images/email/mail-icon-white.png"
                                                     alt="location"/>
                                            </td>
                                            <td>
                                                <a style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;"
                                                   href="mailto:inquiries@atele.org">inquiries@atele.org</a>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Space -->
                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                                           style="border-collapse: collapse;">
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- Header Top End -->

            <!-- Header Start -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#f5f5f5"
                   style="border-collapse: collapse;">
                <tr>
                    <td style="padding:10px 0 0 0;box-shadow: 0px 1px 2px #ddd; -webkit-box-shadow: 0px 1px 2px #ddd;-moz-box-shadow: 0px 1px 2px #ddd;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                               style="border-collapse: collapse;">
                            <tr>
                                <td style="padding: 0 10px;">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="200"
                                           style="border-collapse: collapse;">
                                        <!-- logo -->
                                        <tr>
                                            <td align="left">
                                                <a href="https://atele.org/">
                                                    <img src="https://s3-us-west-2.amazonaws.com/atele/atele_email_logo.png"
                                                         alt="Atele Logo" style="display: block; width: 170px;"/>
                                                </a>
                                            </td>
                                        </tr>
                                        <!-- company slogan -->
                                        {#												<tr>#}
                                        {#													<td width="100%" align="left" style="font-size: 11px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#999999;">#}
                                        {#														Intelligent Monitoring and Control Systems#}
                                        {#													</td>#}
                                        {#												</tr>#}
                                        <!-- Space -->
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td>
                                        </tr>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="370"
                                           style="border-collapse: collapse;">
                                        <tr>
                                            <td height="60" style="text-align: right; vertical-align: middle;">
                                                <a href="https://atele.org/services/"
                                                   style="font-family:helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;">Services</a>
                                                &nbsp;&nbsp;
                                                <a href="https://atele.org/devices/"
                                                   style="font-family:helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;">Hardware</a>
                                                &nbsp;&nbsp;
                                                <a href="mailto:inquiries@atele.org"
                                                   style="font-family:helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;">Contact</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- Header End -->
            {% block header_ext %}
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                       style="border-collapse: collapse;">

                    <tr>
                        <td class="computer-image">
                            <br>
                            <br class="mobile-hide"/>
                            <img style="display:block;" width="224" height="213"
                                 src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png"
                                 alt="hello">
                        </td>
                        <td style="color: #333;padding-right: 10px;" class="header-text">
                            <br>
                            <br>
                            <span style="font-size: 24px;">Thank you for signing up!</span><br><br>
                            Your new Awesome account is almost ready to use. Please verify your email by clicking the
                            button
                            below.
                            <br>
                            <br>
                            <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                                <a href="https://atele.org"
                                   style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">Activate
                                    Account</a>
                                <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                            </div>
                        </td>
                    </tr>

                </table>
            {% endblock header_ext %}

            <table bgcolor="#f5f5f5" align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border-collapse: collapse;border-top:1px solid #ddd;border-bottom: 1px solid #ddd;clear: both; float: none;">
                <tr>
                    <td style="padding: 30px; color:#5e5e5e;">
                        {% block body %}
                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                                   style="border-collapse: collapse;">
                                <tr>
                                    <td>
                                        <span class="header">Your account information:</span><br>
                                        Account name: <a href="#">bob1031</a> <br>
                                        Email: <a href="#">bob@bob.com</a> <br><br>
                                        <span class="header">Questions?</span><br>
                                        Feel free to <a href="#">contact us</a> anytime for questions about your
                                        account.<br><br>
                                        Sincerely,<br>
                                        Your Awesome Team
                                    </td>
                                </tr>
                            </table>
                        {% endblock body %}
                    </td>
                </tr>
            </table>

            <!-- Footer Start -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border-collapse: collapse;">
                <tr>
                    <td>
                        <table bgcolor="#fff" align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                               style="border-collapse: collapse;">
                            <tr>
                                <td>
                                    <!-- Space -->
                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                                           style="border-collapse: collapse;">
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                                        </tr>
                                    </table>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="580"
                                           style="border-collapse: collapse;">
                                        <tr>
                                            <td>
                                                <!-- First Column -->
                                                <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                       width="260" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td>
                                                            <a href="https://atele.org/">
                                                                <img src="https://s3-us-west-2.amazonaws.com/atele/atele_email_logo.png"
                                                                     alt="Atele Logo"
                                                                     style="display: block;width:170px;margin-top:-5px;"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <!-- Space -->
                                                    <tr>
                                                        <td style="font-size: 0; line-height: 0;" height="10">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="color: #777; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;max-width:50%;">
                                                            Atele provides you with professional, effective and reliable
                                                            IOT
                                                            (Internet Of Things) solution in a timely manner.
                                                        </td>
                                                    </tr>
                                                    <!-- Space -->
                                                    <tr>
                                                        <td style="font-size: 0; line-height: 0;" height="15">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table align="left" border="0" cellpadding="0"
                                                                   cellspacing="0" width="45"
                                                                   style="border-collapse: collapse;">
                                                                <tr>
                                                                    <td>
                                                                        <a href="https://www.facebook.com">
                                                                            <img src="https://atele.org/static/images/email/facebook-icon.png"
                                                                                 alt="Facebook"
                                                                                 style="display: block;"/>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table align="left" border="0" cellpadding="0"
                                                                   cellspacing="0" width="45"
                                                                   style="border-collapse: collapse;">
                                                                <tr>
                                                                    <td>
                                                                        <a href="https://www.twitter.com">
                                                                            <img src="https://atele.org/static/images/email/twitter-icon.png"
                                                                                 alt="Twitter" style="display: block;"/>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table align="left" border="0" cellpadding="0"
                                                                   cellspacing="0" width="45"
                                                                   style="border-collapse: collapse;">
                                                                <tr>
                                                                    <td>
                                                                        <a href="https://plus.google.com/">
                                                                            <img src="https://atele.org/static/images/email/googleplus-icon.png"
                                                                                 alt="Google+" style="display: block;"/>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table align="left" border="0" cellpadding="0"
                                                                   cellspacing="0" width="45"
                                                                   style="border-collapse: collapse;">
                                                                <tr>
                                                                    <td>
                                                                        <a href="https://www.linkedin.com/">
                                                                            <img src="https://atele.org/static/images/email/linkedin-icon.png"
                                                                                 alt="Linked In"
                                                                                 style="display: block;"/>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- Gutter 20px -->
                                                <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                       width="80" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- Second Column -->
                                                <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                       width="220" style="border-collapse: collapse;">
                                                    <!-- Space -->
                                                    <tr>
                                                        <td style="font-size: 0; line-height: 0;" height="57">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="22">
                                                            <img src="https://atele.org/static/images/email/marker-icon.png"
                                                                 alt="location"/>
                                                        </td>
                                                        <td style="color: #777; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                            One infinity loop, 54100
                                                        </td>
                                                    </tr>
                                                    <!-- Space -->
                                                    <tr>
                                                        <td style="font-size: 0; line-height: 0;" height="10">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="22">
                                                            <img src="https://atele.org/static/images/email/phone-icon.png"
                                                                 alt="location"/>
                                                        </td>
                                                        <td style="color: #777; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                            +234&nbsp;813&nbsp;010&nbsp;7796
                                                        </td>
                                                    </tr>

                                                    <!-- Space -->
                                                    <tr>
                                                        <td style="font-size: 0; line-height: 0;" height="10">&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="22">
                                                            <img src="https://atele.org/static/images/email/mail-icon.png"
                                                                 alt="location"/>
                                                        </td>
                                                        <td>
                                                            <a style="color: #777; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;"
                                                               href="mailto:inquiries@atele.org">inquiries@atele.org</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Space -->
                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                                           style="border-collapse: collapse;">
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
            <!-- Footer End -->

            <!-- Subfooter Start -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border-collapse: collapse;">
                <tr>
                    <td>
                        <table bgcolor="#373737" align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                               style="border-collapse: collapse;">
                            <tr>
                                <td>

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                                           style="border-collapse: collapse;">
                                        <tr>
                                            <td align="center"
                                                style="color: #aaa; font-size: 14px; line-height: 50px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                Copyright © 2017 <a href="https://atele.org/"
                                                                    style="color: #FE6F06; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;">Atele</a>.
                                                All Rights Reserved / <a href="#"
                                                                         style="color: #FE6F06; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;">
                                                Unsubscribe</a>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
            <!-- Subfooter End -->


        </td>
    </tr>
</table>
</body>
</html>