{% extends "email/layout.html" %}
{% block header_ext %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
           style="border-collapse: collapse;">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213"
                     src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png" alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">3 out of 4 steps complete!</span><br><br>
                Your almost finished. We just need to update your account info.
                <br>
                <br>

                <br>
            </td>
        </tr>
    </table>
{% endblock header_ext %}
{% block body %}
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
        <tr>
            <td style="text-align: center;">
                <center>
                    <table style="margin:0 auto" cellspacing="0" cellpadding="0" class="step-table">
                        <tr>


                            <td class="steps">
                                <!-- ############ STEP ONE ############ -->
                                <!-- To switch to step one:
                                         - Replace the url below with this: https://www.filepicker.io/api/file/xuK3nbsdT920BRDVp88c
                                         - Then replace step two url with this: https://www.filepicker.io/api/file/XvSgQAGATIeZdoUzqIlw
                                         - Replace step three url with this: https://www.filepicker.io/api/file/A9lwMUd4SJmi0Ve1SyaG
                                         - Lastly replace step four url with this: https://www.filepicker.io/api/file/aORtPS9TGStTx0O1F4C3
                                 -->
                                <img class="steps" src="https://www.filepicker.io/api/file/OWiPramDSWuVrlzoDIlA"
                                     alt="step one">
                            </td>


                            <td class="steps">
                                <!-- ############ STEP TWO ############ -->
                                <!-- To switch to step two:
                                         - Replace the url below with this: https://www.filepicker.io/api/file/ADGN2Jw1Ql6z63GkW1jp
                                         - Then replace step one url with this: https://www.filepicker.io/api/file/OWiPramDSWuVrlzoDIlA
                                         - Replace step three url with this: https://www.filepicker.io/api/file/A9lwMUd4SJmi0Ve1SyaG
                                         - Lastly replace step four url with this: https://www.filepicker.io/api/file/aORtPS9TGStTx0O1F4C3
                                 -->
                                <img class="steps" src="https://www.filepicker.io/api/file/FT9eThwzRyy5nudCGUuL"
                                     alt="step two">
                            </td>


                            <td class="steps">
                                <!-- ############ STEP THREE ############ -->
                                <!-- To switch to step three:
                                         - Replace the url below with this: https://www.filepicker.io/api/file/Ti77pjUYQwuKmX7kaxFc
                                         - Then replace step one url with this: https://www.filepicker.io/api/file/OWiPramDSWuVrlzoDIlA
                                         - Replace step two url with this: https://www.filepicker.io/api/file/FT9eThwzRyy5nudCGUuL
                                         - Lastly replace step four url with this: https://www.filepicker.io/api/file/aORtPS9TGStTx0O1F4C3
                                 -->
                                <img class="steps" src="https://www.filepicker.io/api/file/Ti77pjUYQwuKmX7kaxFc"
                                     alt="step three">
                            </td>


                            <td class="steps">
                                <!-- ############ STEP FOUR ############ -->
                                <!-- To switch to step four:
                                         - Replace the url below with this: https://www.filepicker.io/api/file/8Tnbr1QhGcQXcb14dnOw
                                         - Then replace step one url with this: https://www.filepicker.io/api/file/OWiPramDSWuVrlzoDIlA
                                         - Replace step two url with this: https://www.filepicker.io/api/file/FT9eThwzRyy5nudCGUuL
                                         - Lastly replace step three url with this: https://www.filepicker.io/api/file/5dKzKqImQ8ikL1b8fhxg
                                -->
                                <img class="steps" src="https://www.filepicker.io/api/file/aORtPS9TGStTx0O1F4C3"
                                     alt="step four">
                            </td>
                        </tr>
                        <tr>
                            <td class="steps-text">Activate <br> Account</td>
                            <td class="steps-text" style="text-align:center;">Account <br>set up</td>
                            <td class="steps-text" style="text-align:center;"><b>Update<br> Info</b></td>
                            <td class="steps-text" style="text-align:center;">Done!</td>
                        </tr>
                    </table>
                </center>


                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            <br>
                            We need you to update your account information. If there is ever a problem with your
                            account, this information will make it easier for you to log back in.
                        </td>
                    </tr>
                </table>


                <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td style="text-align:center;">
                            <br>
                            <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                                <a href="https://atele.org/"
                                   style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">Update
                                    Info</a>
                                <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
{% endblock body %}
